[data-style-stage-name="Home"],
[data-style-stage-name="appDecision"] {
  //Debt con css fix
  [data-style-actor-name="LPUDebtConHeaderPanel"].actor-wrapper {
    margin-bottom: 2rem !important;
  }

  [data-style-actor-name="LPUDebtConCardView"].actor-wrapper {
    [data-style-id="card-view"] {
      margin: 0 !important;
      width: 100% !important;
      & > div {
        & > [data-style-id="grid-container"].MuiGrid-root {
          & > div {
            margin-bottom: 2rem !important;
            border: 2px solid #ececec;
            padding: 0 !important;
            [data-style-id="card-entry"] {
              margin: 0 !important;
              [data-style-section-name="other_loans_list_view"] {
                padding-bottom: 0 !important;
                h3 {
                  background-color: #336bbb !important;
                  color: white !important;
                  margin: 0 !important;
                  padding: 2rem !important;
                  text-align: left !important;
                  margin-bottom: 1.5rem !important;
                  font-family: $font-Roboto !important;
                  font-weight: 400 !important;
                }
                [data-style-field-name="Details_Entered_are_correct__c"] {
                  background-color: #ececec;
                  label {
                    background: transparent !important;
                  }
                }
              }
              [data-style-id="card-view-value-entry"] {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 2rem;
                [data-style-id="field-label"] {
                  color: black;
                  font-weight: 600 !important;
                }
              }
            }
          }
        }
      }
    }
    .toolbar-at-bottom {
      display: none;
    }
  }

  [data-style-actor-name="LPUDebtConButton"] {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
  }

  //Final step page scss
  [data-style-actor-name="LPUFinalStepPage"] {
    margin-bottom: 3rem !important;
    .MuiTypography-root.MuiTypography-body1 div {
      .main-title {
        text-align: center;
        padding: 2rem 0;
        font-family: "Montserrat" !important;
      }
      .income_bank {
        margin: 0 2rem 2rem;
      }
      .border-box {
        padding: 2rem 2rem 1rem;
        border: 1px solid $color-grey-2;
        margin: 0 10px;
        border-bottom: none;
        .main-content > h3 {
          font-size: $small;
        }
        .svg_icon {
          align-items: center;
          display: flex;
          flex-direction: column;
        }
        .svg_icon > h3 {
          font-size: $small !important;
        }
      }
    }

    .MuiTypography-root.MuiTypography-body2 {
      border: 1px solid $color-grey-2;
      margin: 0 10px;
      border-top: none;
      border-bottom: none;
      [data-style-id="disclosure"] {
        padding: 0 2rem;
      }
    }

    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom.MuiToolbar-gutters {
      border: 1px solid $color-grey-2;
      border-top: none;
      display: flex;
      flex-direction: column-reverse;
      margin: 0 10px !important;
    }

    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
      margin: 3rem auto;
    }
  }

  /*Need Help Actor*/

  [data-style-actor-name="LPUHelpContents"] {
    @include needhelp();
    .MuiToolbar-root.toolbar-at-top {
      min-height: auto;
    }
  }

  /*LPU Page 5 scss*/

  [data-style-actor-name="LPUExpensesPageTwo"] {
    h3[data-style-id="section-title"] {
      text-align: center;
      font-size: $small !important;
      margin: 1rem 0;
      span {
        font-weight: $light !important;
        display: block;
        margin: 2rem 0;
      }
    }
    .MuiToolbar-root {
      margin: 2rem 0 3rem 0 !important;
    }
    div[data-style-id="text-after"] {
      text-align: center;
      margin: 2rem !important;
      background: #e5e4fc;
    }
    [data-style-section-name="Expansesmonthlyy"] {
      padding-bottom: 0.5rem !important;
      [data-style-field-name="Application__r_genesis__Account__r_Residential_Status__c"] {
        pointer-events: none;
        .MuiFormControl-root {
          .MuiInputBase-root {
            .MuiSvgIcon-root {
              display: none;
            }
          }
        }
      }
    }
    [data-style-section-name="Totalmonthly"] {
      padding-top: 0 !important;
    }
    [data-style-section-name="Expansesmonthly"] {
      [data-style-field-name="EssentialExpenses__c"],
      [data-style-field-name="NonEssentialExpenses__c"] {
        label.MuiFormLabel-root {
          @media (max-width: 390px) {
            font-size: 1.4rem;
          }
        }
      }
      [data-style-field-name="Do_you_own_an_investment_property__c"] {
        margin: 1rem 0;
      }
      [data-style-field-name="Total_monthly_living_expense__c"] {
        [aria-label="Your Total monthly living expanses : "] {
          .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth {
            box-shadow: 0px 0px 10px #e5e5e5;
            border: none;
            .MuiOutlinedInput-notchedOutline {
              border: none;
            }
            #new_record_id-107 {
              margin-top: 2em;
            }
            .MuiInputAdornment-root.MuiInputAdornment-positionStart {
              position: relative;
              left: 40%;
              top: 1rem;
              font-size: $medium;
            }
          }
        }
        [aria-label="Your Total monthly living expanses : "] > label {
          font-size: $medium;
          color: $color-black-text;
          margin: 16.5px 48px;
          width: max-content;
        }
        @media (min-width: 411px) {
          [aria-label="Your Total monthly living expanses : "] > label {
            font-size: $medium;
            margin: 16.5px 60px;
          }
        }
        @media (max-width: 375px) {
          [aria-label="Your Total monthly living expanses : "] > label {
            font-size: $medium;
            margin: 16.5px 35px;
          }
        }
        @media (max-width: 320px) {
          [aria-label="Your Total monthly living expanses : "] > label {
            font-size: $medium;
            margin: 16.5px 20px;
          }
        }
        [aria-label="Your Total monthly living expanses : "] {
          div.MuiInputBase-fullWidth > input {
            position: relative;
            top: 1rem;
            left: 40%;
            font-size: $medium;
            width: max-content;
            max-width: 50%;
          }
        }
      }
    }
  }

  [data-style-section-name="Expansesmonthly"] {
    h3[data-style-id="section-title"] {
      margin-left: 0 !important;
      text-align: left;
    }
  }

  [data-style-section-name="MonthlyInvest"] {
    h3[data-style-id="section-title"] {
      margin: 0 !important;
      color: red;
      font-family: "Roboto" !important;
    }
  }

  [data-style-field-name="name"] {
    display: none;
  }
  /*LPU Income Verification Sass */

  [data-style-actor-name="LPUAccordian"][data-style-id="tab-step-container"] {
    font-family: $font-Roboto;
    font-size: $medium;
    [data-style-id="title"] {
      font-weight: $font-medium !important;
      font-size: $medium !important;
    }

    [data-style-id="accordion"] {
      margin-top: 20px;
      div.MuiPaper-root.MuiExpansionPanel-root {
        &::before {
          display: none;
        }
        margin-bottom: 1rem;
        border: $color-grey solid 2px !important;
        .MuiButtonBase-root.MuiExpansionPanelSummary-root {
          background: $color-grey !important;
          max-height: 5.5rem;
          min-height: 5.5rem;
          &.Mui-expanded {
            background: $color-grey;
          }
        }
      }
    }

    [data-style-id="accordian"] > div {
      margin: 0 !important;
    }
  }

  [data-style-actor-name="LPUDocumentUpload"] {
    .upload-status {
      padding: 0 1rem !important;
    }
    [data-style-id="title"] {
      font-family: "Roboto" !important;
      font-weight: $normal !important;
    }

    .toolbar-at-bottom {
      padding: 0;
      margin-top: -15px !important;
    }

    .title-group > h1 {
      font-size: $small !important;
      font-weight: $font-medium;
    }
    .title-group > h2 {
      font-size: $regular !important;
      text-align: start !important;
      margin: 0 !important;
    }
    [data-style-action-name="UploadDocBtn"] {
      margin-right: auto !important;
      .MuiButtonBase-root.MuiButton-root.MuiButton-containedPrimary {
        background: $color-white;
        padding: 0px 15px;
        box-shadow: none;
        .MuiButton-label {
          color: $color-black-text;
          font-family: $font-Roboto;
          font-weight: $normal;
          font-size: $regular;
          .fa.fa-upload {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  //----------------------------------------------------//
  [data-client="phone"] {
    [data-style-actor-name="LPUInstructions"].actor-wrapper {
      margin: 0 10px !important;
      [data-style-id="text-after"].MuiTypography-root.text-after.MuiTypography-body1 {
        font-size: $regular !important;
      }
    }
    [data-style-actor-name="LPUParentStep"].actor-wrapper {
      min-height: 35rem !important;
    }
  }

  //------------------------------------------------//

  /* Income Verify Page */

  [data-style-actor-name="LPUIncomeVerifyPage"],
  [data-style-actor-name="LPUSupportButtons"] {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
  }

  [data-style-id="division"][data-style-actor-name="LPUContents"],
  [data-style-id="division"][data-style-actor-name="LPUSupportCardDiv"] {
    box-shadow: 1px 1px 6px 0px $color-box-shadow;
  }

  [data-style-actor-name="LPUContents"].actor-wrapper,
  [data-style-actor-name="LPUSupportCardDiv"].actor-wrapper {
    margin: 0 2rem !important;
  }

  [data-style-actor-name="LPUVerifyButton"],
  [data-style-actor-name="LPUSupportButtons"] {
    [data-style-id="text-after"] {
      text-align: center;
      margin: 3rem 0 2rem 4px !important;
      font-weight: $light !important;
    }
  }

  [data-style-actor-name="LPUDocumentList"][data-style-id="detail-view"] {
    .MuiToolbar-root.MuiToolbar-regular.toolbar-at-top.MuiToolbar-gutters {
      display: flex;
      align-items: center;
    }
  }

  [data-style-section-name="DocList"] {
    [data-style-id="field"] {
      .MuiInputBase-root.MuiOutlinedInput-root {
        position: relative;
        width: 70%;
        top: -5rem;
      }
      .MuiInputBase-root.MuiOutlinedInput-root > fieldset {
        border: none;
      }
    }
  }

  [data-style-actor-name="LPUDocumentListView"].actor-wrapper,
  [data-style-actor-name="LPUSupportCardView"].actor-wrapper {
    & > div:first-child {
      & > div:first-child {
        & > div {
          position: relative !important;
        }
      }
    }
  }

  [data-style-actor-name="LPUDocumentListView"],
  [data-style-actor-name="LPUSupportCardView"] {
    [data-style-id="base-panel"] {
      border: $color-grey solid 4px !important;
    }

    [data-style-id="card-view"] div.MuiGrid-container div.MuiGrid-item {
      box-shadow: none !important;
    }

    .MuiGrid-item {
      [data-style-id="card-entry"] {
        position: relative;
        padding-top: 2rem !important;
        margin: 0 !important;
        [data-style-field-name="attachmentName"] {
          padding: 0 2rem 0 1rem;
        }
      }
    }

    button[data-style-action-name="ViewDocBtn"] {
      top: 12px;
      right: 40px;
      position: absolute;
      box-shadow: none;
      background: transparent;
      padding: 0 !important;
      min-width: 5px;
      span.MuiButton-label {
        color: goldenrod;
      }
    }
    button[data-style-action-name="DeleteDocBtn"],
    button[data-style-action-name="DeleteDocBt"] {
      position: absolute;
      top: 12px;
      right: 12px;
      background: transparent;
      box-shadow: none;
      padding: 0;
      min-width: 6px;
      span.MuiButton-label {
        color: $color-primary-btn;
      }
    }
    button[data-style-action-name="UpdateDocTypeBtn"] {
      /* display: none; */
      position: relative;
      top: 12rem;
      background: white;
      box-shadow: none;
    }
  }

  /**** Loan Contract Page ****/
  [data-style-actor-name="LPULoanContract"].MuiPaper-root {
    .toolbar-at-top {
      min-height: auto;
    }
    [data-style-id="text-before"] {
      text-align: center;
      line-height: 1.2;
      font-size: 1.5rem;
      width: 80%;
      margin: 0.1rem auto 0.5rem;
    }
    [data-style-id="text-after"] {
      padding-left: 0;
    }
  }
  [data-style-actor-name="LPULoanContractButtons"].MuiPaper-root {
    .MuiToolbar-root {
      &.toolbar-at-top {
        min-height: auto;
      }
      &.toolbar-at-bottom {
        button[data-style-action-name="AutoContinueBtn"],
        button[data-style-action-name="ContinueBtn"] {
          display: none !important;
        }
        margin-bottom: 6rem;
      }
    }
  }

  //---------------------------------------------------------//
  /* Header logout Button */

  [data-style-id="static-content"][data-style-actor-name="LPUDecisionAppHeader"] {
    margin: 0 !important;
    padding: 0 1rem !important;
    height: 100% !important;
    flex-direction: row !important;
    > div {
      &:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &:nth-child(2) {
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        [data-style-action-name="userApplicationAct"] {
          padding: 0 !important;
          background: $color-primary;
          box-shadow: none;
          .name {
            color: $color-white;
            font-size: 1.5rem;
            margin-right: 5px;
            text-transform: none;
          }
          .fa.fa-user-circle-o {
            color: $color-white;
            font-size: 2rem;
            margin-right: 0.7rem;
          }
        }
      }
    }
  }

  /*Section Title*/

  [data-style-id="section-title"] {
    font-weight: $semi-bold !important;
    font-size: $small !important;
    text-align: center;
  }

  /* Radio Button Style */
  [data-style-field-name="Recieve_Government_Allowance_or_Pensio__c"],
  [data-style-field-name="Receive_Additional_Income__c"],
  [data-style-field-name="Expected_Circumstantial_Change__c"],
  [data-style-field-name="Do_you_have_any_credit_card__c"],
  [data-style-field-name="Do_you_have_any_other_loans__c"],
  [data-style-field-name="Credit_Card_Paid_in_Full__c"],
  [data-style-field-name="Loan_Terms"],
  [data-style-field-name="Do_you_own_an_investment_property__c"],
  [data-style-field-name="CS_Household_Expense_Check__c"] {
    padding: 0 1rem !important;
    @include radiobuttonstyle();
    fieldset {
      padding: 0.5rem 0 !important;
    }
  }

  [data-style-field-name="Credit_Card_Paid_in_Full__c"] {
    @include radiobuttonstyle2();
  }

  [data-style-tag="mui"] .radiobuttons fieldset {
    padding: 1.5rem 0 !important;
  }

  [data-style-id="action"][data-style-action-name="autosubmit"] {
    margin-top: 5rem;
  }

  .radiobuttons fieldset legend {
    font-size: 1.4rem !important;
    font-family: "Roboto";
    color: #414141 !important;
    line-height: 1.5 !important;
  }

  [data-style-id="grid-container"] {
    [data-style-id="field"].radiobuttons {
      outline: none !important;
      fieldset.MuiFormControl-root {
        outline: none !important;
        padding-top: 1.5rem;
        padding-left: 0rem;
      }
    }
  }

  //Upto Here Review Done

  /* Disclosures */
  [data-style-id="disclosure"] label p.confirmation {
    padding-left: 1rem;
    text-align: left !important;
  }

  [data-style-id="disclosure"] .confirmation a {
    text-decoration: underline !important;
    color: $color-primary-btn !important;
  }

  [data-style-actor-name="LPUConfirmationPage"],
  [data-style-actor-name="BankDetailDisclosure"] {
    div > div {
      [data-style-id="disclosure"] {
        background: $color-border;
        padding: 1rem;
        margin: 1rem 10px;
      }
    }
  }

  [data-style-id="tab-step-body"] {
    [data-style-id="base-panel"] {
      div.toolbar-at-bottom {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
      }
    }
  }

  /* Confirmation Page bullets color */

  .colorToggle {
    background-color: $color-disclosure-background !important;
  }

  [data-style-actor-name="LPUConfirmationPageContainer"].actor-wrapper {
    [data-style-id="disclosure"] {
      margin: 0.5rem !important;
      position: relative !important;
      top: -3rem !important;
      padding-top: 0;
      &.colorToggle {
        background-color: $color-disclosure-background !important;
      }
      .MuiSvgIcon-root {
        display: none;
      }
    }
    [data-style-actor-name="LPUConfirmationFieldBtns"].actor-wrapper {
      position: relative !important;
      top: -5rem !important;
    }

    [data-style-section-name="AuthoriseSection"] {
      padding: 0;
      margin: 0.5rem 0;
    }

    [data-style-section-name="LicenseCheckSection"],
    [data-style-section-name="AuthoriseSection"] {
      [data-style-id="field"] {
        margin: 0.5rem 0.5rem;
        background: $color-border;
        .MuiFormControlLabel-root {
          background: transparent !important;
          align-items: flex-start;
          .MuiFormControlLabel-label {
            padding: 1rem 0 !important;
          }
        }
        &.colorToggle {
          background-color: $color-disclosure-background !important;
        }
      }
    }

    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }

    ul {
      padding: 2rem 2rem 0 3rem;
    }
    ul > li {
      margin-bottom: 15px;
      color: $color-black-text;
    }
    .confirmation > div {
      ul {
        list-style: none !important;
        font-size: 1.5rem;
        font-family: "Roboto";
        li::before {
          content: "•";
          color: $color-disclosure-li;

          display: inline-block;

          font-size: 2rem !important;

          width: 1em;

          margin-left: -1em;
        }
      }
    }
  }

  //New Disclosure css fix

  [data-style-actor-name="LPUConfirmationFieldBtns"].actor-wrapper {
    [data-style-id="base-panel"] {
      [data-style-id="text-after"] {
        height: 0;
      }
    }
    [data-style-field-name="hide1"][data-style-id="field"] {
      label {
        .MuiCheckbox-root {
          display: none !important;
        }

        .MuiTypography-root {
          padding-left: 11px !important;
          text-align: left !important;
        }
      }
      svg {
        display: none;
      }
    }
    [data-style-field-name="I_Authorise_to_Credit_Report"][data-style-id="field"] {
      position: relative;
      top: -1rem;
      p.MuiTypography-root.MuiTypography-body1 {
        padding-top: 4rem;
      }
    }

    [data-style-field-name="I_Agree_To_The_Above_Conditions"][data-style-id="field"] {
      position: relative;
      top: -2rem;
      p.MuiTypography-root.MuiTypography-body1 {
        padding-top: 4rem;
      }
    }

    [data-style-field-name="hide2"][data-style-id="field"] {
      position: relative;
      top: -3rem;
      svg {
        display: none;
      }
    }
  }

  //Add other loans
  [data-style-actor-name="AddOtherLoans"] {
    button[data-style-action-name="AddBtn"].MuiButtonBase-root.MuiButton-root.MuiButton-contained {
      @include AddBtn();
      width: 11rem;
    }
    button[data-style-action-name="removeSubmit"],
    button[data-style-action-name="removeNormal"] {
      @include RemoveBtn();
      width: 18rem;
    }
  }

  [data-style-actor-name="LPUOtherLoanPage"].actor-wrapper {
    [data-style-actor-name="LPUAddOtherLoansHeader"][data-style-id="base-panel"] {
      .toolbar-at-top {
        display: none;
      }
      .record-content {
        [data-style-section-name="LoansHeaderSection"] {
          [data-style-id="section-title"] {
            .otherloantext {
              position: relative;
              font-family: "Roboto";
              font-weight: 300;
              display: block;
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }

  [data-style-section-name="LoansHeaderSection"].section {
    [data-style-field-name="Do_you_have_any_other_loans__c"] {
      position: relative;
      top: 1rem;
    }
  }

  //Card Style

  [data-style-id="card-view"][data-style-actor-name="AddOtherLoans"],
  [data-style-id="card-view"][data-style-actor-name="LPUAddOtherIncome"],
  [data-style-id="card-view"][data-style-actor-name="LPUCreditCardPage"] {
    @include cardstyle();
  }

  /* AppDecision Stage Scss*/
  [data-style-actor-name="BacktoHome"].actor-wrapper {
    display: none;
    [data-style-actor-name="BacktoHome"][data-style-id="card-view"] {
      button.MuiButton-containedPrimary {
        background-color: $color-primary-btn;
        margin: 0 auto;
        height: auto;
        width: auto;
        margin-top: 10px;
        text-transform: none !important;
        &:hover {
          background-color: $color-primary;
        }
        span {
          font-size: $small;
        }
      }

      box-shadow: none;
      [data-style-id="grid-container"] {
        padding: 1rem;
        border: 1px solid #d6d6d6;
        .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12 {
          box-shadow: none;
        }
      }
      [data-style-id="card-entry"] {
        box-shadow: none;
      }
    }
  }
  [data-style-actor-name="TopUpApp"].actor-wrapper {
    .MuiPaper-root {
      margin: 5rem 0 !important;
      [data-style-id="text-before"] {
        text-align: center;
        margin-bottom: 3rem;
      }
    }
    .MuiToolbar-root {
      justify-content: center;
      .MuiButtonBase-root {
        margin: 0 2rem;
      }
    }
  }

  //Step 3 Scss
  [data-style-actor-name="LPUAddOtherIncome"] {
    button[data-style-action-name="AddIncomeBtn"].MuiButtonBase-root.MuiButton-root.MuiButton-contained {
      @include AddBtn();
      width: 13.2rem;
    }
    button[data-style-action-name="RemoveIncomeSubmit"],
    button[data-style-action-name="RemoveIncomeNormal"] {
      @include RemoveBtn();
      width: 11rem;
    }
  }

  //Step 6
  /*
[data-style-field-name="CS_Household_Expense_Check__c"] {
  [aria-label="Do you pay for all your household living expenses?"] {
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
      width: 25.5rem !important;
    }
  }
}
*/

  //Eligible popup btn
  .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper {
    height: 50% !important;
    border-radius: 5px !important;
  }

  [data-style-id="static-content"][data-style-actor-name="EligibilityPopUpStaticContent"] {
    h4 {
      font-weight: $bold;
      margin: 0 0 35px 0;
      text-align: center;
    }
    div {
      margin: 30px 4px;
      > div {
        margin: 4px;
        font-weight: $normal;
      }
    }
  }

  //fonts
  h3[data-style-id="section-title"] {
    font-family: "Montserrat" !important;
  }

  .subtitle {
    font-family: "Roboto" !important;
  }

  //credit card
  [data-style-actor-name="LPUCreditCardPage"] {
    button[data-style-action-name="AddBtn"].MuiButtonBase-root.MuiButton-root.MuiButton-contained {
      @include AddBtn();
      width: 14.8rem;
    }
    button[data-style-action-name="removeSubmit"],
    button[data-style-action-name="removeNormal"] {
      @include RemoveBtn();
      width: 18rem !important;
    }
  }

  //Submit application Page

  [data-style-id="static-content"][data-style-actor-name="LPUReferredQutContent"] {
    .toolbar-at-top {
      display: none;
    }
    .MuiTypography-root.MuiTypography-body1 {
      font-weight: $light !important;
      font-size: $small !important;

      & > div {
        text-align: center;
        padding: 0 20px;

        & > h4 {
          margin-bottom: 30px;
        }

        & > div:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }

  //Bank Details Page
  [data-style-actor-name="BankDetails"].actor-wrapper {
    margin-top: -4rem !important;
    .MuiToolbar-root.toolbar-at-bottom {
      min-height: auto;
      margin: 0;
    }
  }

  [data-style-actor-name="LPUBankDetails"].actor-wrapper {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }

    [data-style-id="text-before"] {
      .title {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        font-family: $font-Montserrat;
        font-weight: $font-medium;
      }
    }
    [data-style-action-name="OpenBankAccountList"],
    [data-style-action-name="OpenBankAccountListTopup"] {
      top: 20rem !important;
      position: relative;
      background: white;
      box-shadow: none;
      z-index: 1;
      @media (max-width: 574px) {
        top: 22rem !important;
      }
      @media (max-width: 400px) {
        top: 24.25rem !important;
      }
      span {
        span::before {
          content: "\f078";
          display: block;
          font-size: 1.5rem;
          position: relative;
          bottom: 0;
          font-family: "FontAwesome";
        }
      }
    }

    [data-style-id="subtitle"].MuiTypography-root.subtitle {
      text-align: left !important;
      line-height: 1.5;
    }
    [data-style-actor-name="BankDetailDisclosure"][data-style-id="base-panel"] {
      [data-style-section-name="AuthoriseSection"] {
        [data-style-id="field"] {
          margin: 0.5rem 0.5rem;
          background: $color-border;
          .MuiFormControlLabel-root {
            background: transparent !important;
            align-items: flex-start;
            .MuiFormControlLabel-label {
              padding: 1rem 0 !important;
            }
          }
          &.gcolorTogle {
            background-color: $color-disclosure-background !important;
          }
        }
      }
      [data-style-id="text-after"] {
        line-height: 1.5;
      }
    }
    [data-style-section-name="AuthoriseConditionSection"] {
      h3 {
        width: fit-content !important;
        margin: 1rem 0.5rem 0 0.5rem !important;
        padding-left: 5rem !important;
        text-align: left !important;
        font-weight: 100 !important;
        font-family: "Roboto" !important;
        background-color: #ececec;
        font-weight: 300 !important;
        font-size: 1.5rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
        line-height: 1.5 !important;
        padding-right: 5rem !important;
        color: black;
      }
      [data-style-id="field"][data-style-field-name="I_Read_And_Understand"] {
        position: absolute !important;
        margin-top: 1rem !important;
        width: 5rem !important;
        input {
          z-index: 9999;
        }
        label {
          background: transparent !important;
        }
        svg {
          margin-left: 0.4rem !important;
        }
      }
    }
  }

  [data-style-action-name="ContinueButton"][data-style-id="action"] {
    width: 22.3rem;
    height: 5rem;
  }

  // High loan details

  [data-style-actor-name="LPUHighLoanDetails"].actor-wrapper {
    .MuiToolbar-regular.toolbar-at-bottom {
      flex-direction: row !important;
      justify-content: space-around !important;
    }
  }
  [data-style-actor-name="LPUHighLoansButton"] {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
  }

  //Congratulations page and Confirm your Details Page And Higher Loans Page

  .desireamt {
    position: relative;
    top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .calldetails {
    margin: 4rem 0 !important;
  }

  [data-style-actor-name="LoanDetailsButton"].actor-wrapper {
    [data-style-id="text-after"].MuiTypography-root.text-after {
      text-align: center;
    }
  }

  [data-style-actor-name="LPUAmountBreak"] {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
  }

  [data-style-actor-name="LoanDetails"].actor-wrapper,
  [data-style-actor-name="LPULoanDetailsPurpose"].actor-wrapper,
  [data-style-actor-name="LPUHighLoanHeader"].actor-wrapper {
    [data-style-id="text-before"] {
      text-align: center;
    }
    margin: 5px !important;
    [data-style-id="card-view"][data-style-actor-name="LoanDetails"] {
      box-shadow: 0px 0px 3px $color-box-shadow !important;
      .MuiGrid-root {
        .MuiGrid-item {
          box-shadow: none !important;
        }
      }
      [data-style-id="card-entry"].MuiPaper-root.MuiCard-root {
        margin: 0 !important;
        [data-style-section-name="lpu_loan_details"] {
          padding: 1.5rem 2rem 2rem 2rem;
        }
      }
    }

    [data-style-id="card-view"][data-style-actor-name="LPULoanDetailsPurpose"],
    [data-style-id="card-view"][data-style-actor-name="LPUHighLoanHeader"] {
      [data-style-id="card-entry"].MuiPaper-root.MuiCard-root {
        margin: 0 !important;
        [data-style-id="card-content"] {
          margin: 2rem 0;
        }
        [data-style-section-name="lpu_loan_details"],
        [data-style-section-name="lpu_high_loan"] {
          padding: 0 2rem;
        }
      }
    }

    /*Loan Details*/
    [data-style-id="card-view"]
      [data-style-id="card-view-value-entry"]
      [data-style-id="field-label"] {
      color: $color-black-text;
      font-weight: $light !important;
      font-size: $small;
    }
    [data-style-id="card-view"]
      [data-style-id="card-view-value-entry"]
      [data-style-id="card-view-value"] {
      font-weight: $font-medium;
      color: $color-black-text !important;
    }
  }

  [data-style-actor-name="LPUAmountBreak"].actor-wrapper {
    [data-style-id="text-before"] {
      text-align: center;
    }
    [data-style-section-name="lpu_loan_details"] {
      [data-style-field-name="purpose0"],
      [data-style-field-name="purpose1"],
      [data-style-field-name="purpose2"] {
        [aria-label="Loan Amount"] {
          .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth {
            input {
              padding: 0 2rem;
            }

            .MuiOutlinedInput-notchedOutline {
              border: none;
            }
          }
        }
      }
    }
  }

  [data-style-actor-name="CongoPage"][data-style-id="base-panel"] {
    h1[data-style-id="title"] {
      img[src="/resource/blackarrow"] {
        position: relative;
        top: -15px;
      }
      span.congrats {
        margin-right: 3.2rem !important;
        font-size: 1.7rem;
      }

      span.approved {
        font-size: $medium;
        margin-left: 5rem;
      }
      img[src="/resource/pinkarrow"] {
        position: relative;
        top: 10px;
      }
    }
  }

  [data-style-tag="mui"]
    [data-style-id="card-view"]
    [data-style-id="card-view-value-entry"]:not(:last-child) {
    margin-bottom: 1.5rem !important;
  }
  /*Body Style*/
  .MuiTypography-body1 {
    font-weight: $light !important;
    font-size: 1.5rem;
  }

  /*--------------------------------------------------------------*/
  /*Primary and secodary button default for Application Page*/
  button.MuiButton-containedPrimary {
    background-color: $color-primary-btn;
    margin: 0 auto;
    /*border-radius: 0.7rem;
    padding: 1.3rem 4rem;*/
    text-transform: none !important;
    width: 12.8rem;
    height: 4.6rem;
    &:hover {
      background-color: $color-primary;
    }
    span {
      font-size: $medium;
      font-family: $font-Roboto;
      font-weight: $font-medium;
    }
  }

  button.MuiButton-containedSecondary {
    color: $color-secondary-btn;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    text-transform: none !important;
    margin: 0;
    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
    span.MuiButton-label {
      span {
        font-family: $font-Roboto;
        color: $color-charcoal;
        font-size: $small;
        font-weight: $thin;
        i {
          margin-right: 0.5rem;
          font-weight: $bold;
        }
      }
    }
  }

  [data-style-id="tab-step-body"] {
    [data-style-id="base-panel"] {
      div.toolbar-at-bottom {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 2rem 0;
      }
    }
  }
  /*----------------------------------------------------*/

  //For titles

  [data-style-id="title"] {
    font-size: $medium !important;
  }

  /*Back btn padding*/
  [data-style-id="base-panel"] button.MuiButton-containedSecondary {
    padding-top: 2rem !important;
  }

  /*consequence Tab hide*/
  [data-style-id="tab-step-container"][data-style-actor-name="LPUConsequenceTab"] {
    [data-style-id="steps"] {
      div.MuiPaper-root.MuiStepper-root {
        display: none;
      }
    }
  }

  [data-style-actor-name="LPUConsequenceTab"].actor-wrapper {
    min-height: 36rem;
  }

  //Online Id Verification
  [data-style-actor-name="LPUIdVerificationContents"][data-style-id="base-panel"] {
    [data-style-section-name="IdInformationSection"],
    [data-style-section-name="IdDriverSection"],
    [data-style-section-name="IdMedicareSection"] {
      padding: 0 !important;
    }
  }

  [data-style-actor-name="LPUIdVerificationButtonContents"][data-style-id="base-panel"] {
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
  }

  //SecurePage Accept Button hide

  [data-style-actor-name="LPUSecurePageButton"].actor-wrapper {
    [data-style-action-name="AcceptBtnBorrower"],
    [data-style-action-name="AcceptBtnBroker"],
    [data-style-action-name="IllionSuccessBtn"],
    [data-style-action-name="IllionFailureBtn"] {
      display: none;
    }
    [data-style-id="text-after"] {
      text-align: center;
    }
  }

  //fieldset scss

  [data-style-id="field"] {
    label {
      background-color: $color-white !important;
    }
  }

  //LPU Borrow Page

  [data-style-actor-name="LPUBorrowPage"].actor-wrapper {
    [data-style-id="base-panel"] {
      .MuiToolbar-root {
        display: none;
      }
      [data-style-id="text-before"] {
        .status {
          font-size: 2.2rem;
          padding: 2rem;
          font-weight: 500;
        }
      }
    }
  }

  // Your Living situation
  [data-style-actor-name="LPUExpensesPageThree"].actor-wrapper {
    [data-style-section-name="expensesDependentSection"] {
      [data-style-field-name="Dependants__c"] {
        [aria-label="Number of dependents"] {
          margin-bottom: 1.6rem !important;
        }
      }
    }
  }
  [data-style-actor-name="LPUHaveCC"].actor-wrapper {
    [data-style-id="base-panel"] {
      .record-content {
        [data-style-field-name="Do_you_have_any_credit_card__c"] {
          margin-top: 1rem;
        }
      }
    }
  }

  //Contract Not signed screen

  [data-style-actor-name="LPULoanContractNotSignedPanel"].actor-wrapper {
    [data-style-id="title"] {
      font-size: 1.6rem !important;
      font-weight: 500;
      padding: 3rem;
    }
    button[data-style-action-name="backBtn"] {
      margin: auto;
      background-color: white !important;
      span.MuiButton-label > span {
        font-weight: 400;
      }
    }
  }
  [data-style-actor-name="LPUIdVerficationPage"].actor-wrapper {
    [data-style-actor-name="LPUIdVerficationPage"][data-style-id="division"] {
      [data-style-actor-name="LPUIdVerificationContents"].actor-wrapper {
        [data-style-actor-name="LPUIdVerificationContents"][data-style-id="base-panel"] {
          .record-content {
            [data-style-section-name="IdInformationSection"] {
              h3.section-title {
                margin-bottom: 3rem;
                span {
                  top: 15% !important;
                }
              }
            }
            [data-style-section-name="IdPassportSection"] {
              padding-top: 0;
              padding-bottom: 0;
            }
            [data-style-section-name="IdDateSection"] {
              h3.section-title {
                margin: 0 0.5rem;
                font-family: $font-Roboto !important;
                font-weight: 500 !important;
              }
            }
            [data-style-section-name="IdMedicareDateSection "] {
              padding: 0 !important;
            }
            [data-style-section-name="IdMedicareDateSection Blue"],
            [data-style-section-name="IdMedicareDateSection Green"],
            [data-style-section-name="IdMedicareDateSection Yellow"] {
              display: grid;
              grid-template-columns: 1fr 1fr 2fr;
              padding: 0 1.3rem;
              grid-gap: 0.5rem;
              [data-style-id="field"] {
                padding: 0 !important;
                .MuiFormControl-root {
                  margin-top: 1rem;
                  input {
                    text-align: center;
                  }
                }
              }
            }
            [data-style-section-name="IdMedicareDateSection Green"] {
              grid-template-columns: 1fr 2fr;
            }
          }
        }
      }
    }
  }

  //Supporting Documents Page scss

  [data-style-actor-name="LPUSupportDocumentHeader"].actor-wrapper {
    [data-style-id="text-before"] {
      text-align: center;
      padding: 2rem;
    }
  }

  [data-style-actor-name="LPUSupportContents"].actor-wrapper {
    h1[data-style-id="title"] {
      font-family: "Roboto" !important;
      font-weight: $light !important;
      font-size: $regular !important;
      text-align: start !important;
      margin: 0 !important;
    }

    [data-style-action-name="UploadDocBtn"] {
      margin-right: auto !important;
      .MuiButtonBase-root.MuiButton-root.MuiButton-containedPrimary {
        background: $color-white;
        padding: 0px 15px;
        box-shadow: none;
        .MuiButton-label {
          color: $color-black-text;
          font-family: $font-Roboto;
          font-weight: $normal;
          font-size: $regular;
          .fa.fa-upload {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  // .MuiToolbar-root.MuiToolbar-regular.toolbar-at-bottom {
  //   padding: 0;
  //   margin: 0 !important;
  // }

  //decline screen
  [data-style-actor-name="LPUDeclineScreen"].actor-wrapper {
    .content1 {
      text-align: center;
      margin: 2rem 0;
    }
    .content2 {
      text-align: center;
    }
    .image {
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }
  }
  [data-style-actor-name="LPUPersonalDetailsPanel"].actor-wrapper {
    margin: 1rem 0 3rem !important;
    [data-style-id="base-panel"] {
      .record-content {
        h3.section-title {
          margin-bottom: 2rem;
        }
      }
      .MuiToolbar-root {
        margin: 3rem 0 2rem 0 !important;
      }
    }
  }
  [data-style-actor-name="LPUIncomePageOne"].actor-wrapper {
    margin: 1rem 0 3rem !important;
    [data-style-id="base-panel"] {
      .record-content {
        h3.section-title {
          margin-bottom: 2rem;
        }
      }
      .MuiToolbar-root {
        margin: 3rem 0 2rem 0 !important;
      }
    }
  }
  [data-style-actor-name="LPUIncomePageTwo"].actor-wrapper {
    [data-style-id="base-panel"] {
      margin-bottom: 0 !important;
      .record-content {
        [data-style-section-name="LPU_govt"] {
          [data-style-field-name="Receive_Additional_Income__c"] {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  [data-style-actor-name="LPUIncomeTwoButotnPanel"].actor-wrapper {
    [data-style-id="base-panel"] {
      margin-top: 0 !important;
      .record-content {
        [data-style-section-name="IncmeChanges"] {
          [data-style-id="field"] {
            &:last-child {
              margin: 2rem 0 3rem 0;
            }
            &:first-child {
              margin-top: 0;
            }
            &[data-style-field-name="Anticipate_Decrease_in_Income__c"] {
              label.MuiFormLabel-root {
                @media (max-width: 390px) {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
  [data-style-actor-name="LPUExpensesPageOne"].actor-wrapper {
    [data-style-id="base-panel"] {
      .record-content {
        h3.section-title {
          margin: 2rem 0;
        }
        [data-style-id="field"] {
          &.radiobuttons {
            margin: 0.6rem 0;
          }
        }
      }
      .MuiToolbar-root {
        margin: 2rem 0 !important;
      }
    }
  }
  [data-style-actor-name="LPUCCBtn"].actor-wrapper {
    [data-style-id="base-panel"] {
      [data-style-id="text-before"] {
        text-align: center;
      }
      margin-top: 2rem !important;
    }
  }
  [data-style-actor-name="LPUAddOtherLoansButton"].actor-wrapper {
    [data-style-id="base-panel"] {
      [data-style-id="text-before"] {
        text-align: center;
      }
      .MuiToolbar-root {
        margin: 3rem 0 !important;
      }
    }
  }
}

[data-client="desktop"][data-style-stage-name="Home"] {
  .creditReport {
    position: relative;
    top: -36.5rem;
    left: 4rem;
  }

  .DocIssue {
    position: relative;
    left: 4rem;
    top: -28rem;
  }
  a {
    color: #006aff;
  }
}

[data-style-actor-name="LPUContents"].appFlexVertical {
  box-shadow: none !important;
  [data-style-actor-name="LPUDocumentListView"][data-style-id="card-view"] {
    margin: 0 !important;
    .MuiGrid-root.MuiGrid-item {
      padding-left: 0 !important;
      margin: 1rem;
    }
    .MuiGrid-container {
      > .MuiGrid-root.MuiGrid-item {
        box-shadow: 1px 1px 6px 0px #979797 !important;
        padding: 1rem !important;
        .record-content {
          .MuiGrid-root.MuiGrid-item {
            box-shadow: none !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
}
[data-style-actor-name="LPUSupportCardDiv"].appFlexVertical {
  box-shadow: none !important;
  [data-style-actor-name="LPUSupportCardView"][data-style-id="card-view"] {
    margin: 0 !important;
    .MuiGrid-root {
      div.MuiTypography-root {
        div {
          text-align: left !important;
          font-size: 1.4rem !important;
        }
      }
    }
    .MuiGrid-root.MuiGrid-item {
      padding-left: 0 !important;
      margin: 1rem;
    }
    .MuiGrid-container {
      > .MuiGrid-root.MuiGrid-item {
        box-shadow: 1px 1px 6px 0px #979797 !important;
        padding: 1rem !important;
        .record-content {
          .MuiGrid-root.MuiGrid-item {
            box-shadow: none !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
}

[data-client="phone"][data-style-stage-name="Home"] {
  .creditReport {
    position: relative;
    top: -30rem;
    left: 4rem;
    @media (max-width: 687px) {
      top: -32rem;
    }
    @media (max-width: 678px) {
      top: -34.5rem;
    }
    @media (max-width: 644px) {
      top: -36.5rem;
    }
    @media (max-width: 498px) {
      top: -38.7rem;
    }
    @media (max-width: 477px) {
      top: -41rem;
    }
    @media (max-width: 422px) {
      top: -43.4rem;
    }
    @media (max-width: 415px) {
      top: -45.6rem;
    }
    @media (max-width: 386px) {
      top: -47.8rem;
    }
    @media (max-width: 355px) {
      top: -50rem;
    }
  }

  .DocIssue {
    position: relative;
    top: -24rem;
    left: 4rem;
    @media (max-width: 678px) {
      top: -25.8rem;
    }
    @media (max-width: 644px) {
      top: -27.8rem;
    }
    @media (max-width: 498px) {
      top: -30.2rem;
    }
    @media (max-width: 477px) {
      top: -32.5rem;
    }
    @media (max-width: 415px) {
      top: -35rem;
    }
    @media (max-width: 386px) {
      top: -37rem;
    }
    @media (max-width: 355px) {
      top: -39.3rem;
    }
  }
  a {
    color: #006aff;
  }
}

//Logout Button Scss

#userApplicationAct {
  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    // top: 45px !important;
    // left: 252px !important;
    top: 5.5rem !important;
    border-radius: 4px !important;
    [data-style-action-name="useroutBtn"] {
      .fa.fa-sign-out {
        margin-right: 10px;
      }
      .user-text {
        font-size: $small;
      }
    }
    ul {
      padding: 0 !important;
    }
  }
}

//Context popup

[data-style-id="list-view"][data-style-actor-name="BankAccountDetailsList"] {
  thead.MuiTableHead-root {
    display: none;
  }
  tbody.MuiTableBody-root {
    tr.clickable {
      cursor: pointer;
      > th {
        padding: 0.5rem;
        > div {
          font-family: $font-Roboto;
          font-weight: 400 !important;
        }
      }
    }
  }
}

[data-style-stage-name="Home"][data-client="phone"] {
  [data-style-actor-name="LPUDebtConCardView"].actor-wrapper {
    [data-style-id="card-view"] {
      & > div {
        & > [data-style-id="grid-container"].MuiGrid-root {
          & > div {
            margin-left: 2rem !important;
            margin-right: 2rem !important;
          }
        }
      }
    }
  }
}

[data-style-actor-name="LPUOTPVerifyStatusQueryContainer"].actor-wrapper {
  [data-style-id="division"] {
    margin: 0 !important;
  }
  [data-style-actor-name="LPUOTPStatusQuery"].MuiPaper-root {
    border: none !important;
    margin: 0 !important;
    .section {
      padding: 0 !important;
    }
    .MuiToolbar-root {
      min-height: auto;
    }
  }
}

[data-style-actor-name="LPUOTPHeaderContent"].MuiPaper-root {
  margin: 0 !important;
  height: 100% !important;
  flex-direction: row !important;
  padding: 0 1rem !important;
  .MuiToolbar-root {
    padding: 0 !important;
    [data-style-action-name="userApplicationAct"] {
      background: transparent;
      box-shadow: none;
      padding: 0 !important;
      .name {
        color: $color-white;
        font-size: 1.5rem;
        margin-right: 5px;
        text-transform: none;
      }
      .fa.fa-user-circle-o {
        color: $color-white;
        font-size: 2rem;
        margin-right: 0.7rem;
      }
    }
  }
}
//Application OTP verification Pages Css

[data-style-actor-name="LPUEmailVerificationPanel"],
[data-style-actor-name="LPUMobileVerificationPanel"],
[data-style-actor-name="LPUMobileVerifyPanel"] {
  &.MuiPaper-root {
    .toolbar-at-top {
      justify-content: center;
      .title-group {
        margin: 0 !important;
        h1.title {
          font-size: 1.8rem !important;
        }
        [data-style-id="subtitle"] {
          font-family: $font-Roboto !important;
          font-weight: 400;
          font-size: 1.3rem !important;
          margin-top: 1rem !important;
        }
      }
    }
    .toolbar-at-bottom {
      [data-style-action-name="VerifyOtpBtn"] {
        width: auto !important;
      }
    }
    [data-style-id="text-after"] {
      text-align: center;
      margin: 1rem auto 2rem auto !important;
      width: 70%;
    }
    .record-content {
      [data-style-section-name="OTPVerifySection"] {
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
        [data-style-id="field"] {
          input {
            text-align: center;
            font-size: 1.6rem !important;
            font-family: $font-Roboto !important;
          }
        }
      }
    }
  }
}

// [data-style-actor-name="LPUMobileVerificationPanel"].MuiPaper-root{
//   .MuiToolbar-root {
//     justify-content: center;
//     .title-group{
//       margin: 0 !important;
//       h1.title {
//         font-size: 1.6rem !important;
//       }
//       [data-style-id="subtitle"]{
//         font-family: $font-Roboto !important;
//         font-weight: 400;
//         font-size: 1.3rem !important;
//         margin-top: 1rem !important;
//       }
//     }
//   }
//   .MuiToolbar-regular {
//     justify-content: center;
//   }
//   .text-after {
//     text-align: center;
//     margin: 2rem !important;
//   }
//   .record-content{
//     [data-style-section-name="OTPVerifySection"]{
//       flex-wrap: nowrap;
//       width: 80%;
//       margin: auto;
//       [data-style-id="field"]{
//         input{
//           text-align: center;
//           font-size: 1.6rem !important;
//           font-family: $font-Roboto !important;
//         }
//       }
//     }
//   }
// }
// [data-style-actor-name="LPUEmailVerificationPanel"].MuiPaper-root{
//   .toolbar-at-top{
//     justify-content: center;
//     .title-group{
//       margin: 0 !important;
//       h1.title {
//         font-size: 1.6rem !important;
//       }
//       [data-style-id="subtitle"]{
//         font-family: $font-Roboto !important;
//         font-weight: 400;
//         font-size: 1.3rem !important;
//         margin-top: 1rem !important;
//       }
//     }
//   }
//   [data-style-id="text-after"]{
//     text-align: center;
//     margin: 1rem 0 2rem 0 !important;
//   }
//   .record-content{
//     [data-style-section-name="OTPVerifySection"]{
//       flex-wrap: nowrap;
//       width: 80%;
//       margin: auto;
//       [data-style-id="field"]{
//         input{
//           text-align: center;
//           font-size: 1.6rem !important;
//           font-family: $font-Roboto !important;
//         }
//       }
//     }
//   }
// }

[data-style-action-name="VerifyOtpBtn"].MuiButton-root {
  width: 15.8rem !important;
  height: 5.5rem !important;
}

[data-style-actor-name="OTPStepsContainer"].MuiPaper-root
  .horizontal
  .MuiStepper-root {
  display: none;
}

// OTP verification after Approved Page Css

[data-style-actor-name="LPUMobileVerifyPanel"].MuiPaper-root {
  .MuiToolbar-root {
    justify-content: center;
  }
  [data-style-id="text-after"] {
    width: 85%;
  }
  .h2.subtitle {
    font-weight: 400 !important;
  }
}

//driving license panel

[data-style-actor-name="LPUIdDLVerificationContents"].actor-wrapper {
  [data-style-actor-name="LPUIdVerificationStaticContent"].actor-wrapper {
    [data-style-actor-name="LPUIdVerificationStaticContent"][data-style-id="static-content"] {
      .ACT.NSW.NT.QLD.SA.TAS.VIC.WA {
        display: contents !important;
      }
      .NSW.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.VIC {
        display: none !important;
      }
    }
  }
}
