[data-style-stage-name="otpVerification"] {
  &[data-client="desktop"] {
    [data-style-actor-name="ClsAppLayoutOne"] {
      background: $color-grey !important;
      [data-style-actor-name="ClsAppLayoutOneContent"][data-style-id="division"] {
        margin: 0 !important;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
  &[data-client="phone"] {
    [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper {
      height: calc(100% - 70px) !important;
      [data-style-actor-name="ClsAppLayoutOneMain"][data-style-id="division"] {
        height: 100%;
        [data-style-actor-name="ClsAppLayoutOneContent"][data-style-id="division"] {
          height: 100% !important;
          margin: 0 !important;
        }
      }
    }
  }
  [data-style-actor-name="ClsAppLayoutOneContent"][data-style-id="division"] {
    display: flex;
    flex-direction: column;
    [data-style-actor-name="Footer"].actor-wrapper {
      margin-top: auto !important;
    }
  }
}
[data-style-stage-name="Home"][data-client="desktop"] {
  //Background colour for desktop view
  [data-style-actor-name="ClsAppLayoutOne"][data-style-id="division"] {
    background: $color-grey;

    //Logo width and height fix and logout btn fix

    [data-style-actor-name="LPUDecisionAppHeader"].actor-wrapper {
      height: 100% !important;
    }

    //Instruction text after fix

    [data-style-actor-name="LPUInstructions"].actor-wrapper {
      [data-style-id="text-after"] {
        display: flex;
        justify-content: space-between;
      }
    }

    //Parent step minimum height

    [data-style-actor-name="LPUParentStep"].actor-wrapper {
      min-height: 50rem;
    }

    //Page contents fixes
    [data-style-actor-name="LPUQuoteProgressTab"].actor-wrapper,
    [data-style-actor-name="LPUConsequenceTab"].actor-wrapper {
      [data-style-id="steps"].primary.horizontal {
        [data-style-id="tab-step-body"] {
          width: 55rem;
          margin: 0 auto !important;
        }
      }
    }

    //Card view fixes

    [data-style-actor-name="LPULoanDetailsPurpose"][data-style-id="card-view"],
    [data-style-actor-name="LPUHighLoanHeader"][data-style-id="card-view"] {
      margin: auto !important;
    }

    [data-style-actor-name="LoanDetails"][data-style-id="card-view"] {
      margin: 1rem auto !important;
    }

    [data-style-actor-name="LPUAddOtherIncome"][data-style-id="card-view"],
    [data-style-actor-name="LPUCreditCardPage"][data-style-id="card-view"],
    [data-style-actor-name="AddOtherLoans"][data-style-id="card-view"] {
      margin: auto !important;
      width: 52rem;
    }

    //Radiobutton style for desktop view

    [data-style-id="field"][data-style-field-name="Receive_Additional_Income__c"] {
      padding-top: 3rem !important;
    }

    [data-style-field-name="Recieve_Government_Allowance_or_Pensio__c"],
    [data-style-field-name="Receive_Additional_Income__c"],
    [data-style-field-name="Expected_Circumstantial_Change__c"],
    [data-style-field-name="Do_you_have_any_credit_card__c"],
    [data-style-field-name="Do_you_have_any_other_loans__c"],
    [data-style-field-name="Credit_Card_Paid_in_Full__c"],
    [data-style-field-name="Loan_Terms"],
    [data-style-field-name="Do_you_own_an_investment_property__c"],
    [data-style-field-name="CS_Household_Expense_Check__c"] {
      @include radiobuttonstyleDesktop();
    }

    //Expense page two scss

    [data-style-actor-name="LPUExpensesPageTwo"].actor-wrapper {
      [data-style-section-name="Expansesmonthly"] {
        [data-style-field-name="Total_monthly_living_expense__c"][data-style-id="field"]
          > div {
          label {
            padding-left: 10rem;
          }
        }
      }
    }

    //Loan details Page desktop view
    [data-style-actor-name="LoanDetails"].actor-wrapper {
      [data-style-section-name="lpu_loan_details"] {
        padding-bottom: 2rem !important;
        & > div {
          line-height: 2;
        }
      }
    }
    [data-style-actor-name="LoanDetailsButton"].actor-wrapper {
      [data-style-id="text-after"] {
        span {
          line-height: 2.5;
        }
      }
    }

    //Section title padding

    h3[data-style-id="section-title"] {
      margin: 2rem;
    }

    //Card view width

    [data-style-id="card-view"] {
      width: 40rem;
    }

    //Id verification Page

    [data-style-actor-name="LPUIdVerificationContents"].actor-wrapper {
      [data-style-section-name="IdInformationSection"] {
        h3[data-style-id="section-title"] {
          min-height: 10rem;
          margin: 2rem 0;
        }
      }
    }

    //Manual doc Upload page

    [data-style-actor-name="LPUIncomeVerifyPage"].actor-wrapper {
      [data-style-actor-name="LPUDocumentUpload"].actor-wrapper,
      [data-style-actor-name="LPUVerifyButton"].actor-wrapper {
        [data-style-id="base-panel"] {
          margin: 0.2rem 1.6rem !important;
        }
      }
      [data-style-actor-name="LPUContents"].actor-wrapper {
        margin: 0 !important;

        [data-style-actor-name="LPUContents"][data-style-id="division"] {
          box-shadow: none !important;
          margin: 0.2rem 1.6rem !important;
        }
        [data-style-actor-name="LPUDocumentListView"].actor-wrapper {
          width: 40rem;
          margin: 1rem 2rem;
        }
        [data-style-actor-name="LPUDocumentListView"][data-style-id="card-view"] {
          margin: 0 !important;
          .MuiGrid-root.MuiGrid-item {
            padding-left: 0 !important;
            margin: 1rem;
          }
          .MuiGrid-container {
            > .MuiGrid-root.MuiGrid-item {
              box-shadow: 1px 1px 6px 0px #979797 !important;
              padding: 1rem !important;
              .record-content {
                .MuiGrid-root.MuiGrid-item {
                  box-shadow: none !important;
                  padding: 0 !important;
                }
              }
            }
          }
        }
      }
    }

    //Bank details desktop view css fix
    [data-style-actor-name="LPUBankDetails"].actor-wrapper {
      [data-style-action-name="OpenBankAccountList"],
      [data-style-action-name="OpenBankAccountListTopup"] {
        top: 22.5rem !important;
      }
    }

    //Decline screen Desktop view Css fix
    [data-style-actor-name="LPUDeclineScreen"].actor-wrapper {
      .content1 {
        text-align: center;
        margin: 2rem 0;
      }
      .content2 {
        text-align: center;
      }
      .image {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
      }
    }

    [data-style-actor-name="LPUSupportCardDiv"].actor-wrapper {
      width: 44rem;
    }
    [data-style-actor-name="LPUSupportCardView"].actor-wrapper {
      padding: 2rem 0;
    }
  }
  [data-style-actor-name="ClsAppLayoutOne"].actor-wrapper {
    [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper {
      [data-style-actor-name="ClsAppLayoutOneContent"].actor-wrapper {
        [data-style-actor-name="ClsAppLayoutOneContent"].appFlexVertical {
          margin: 0 !important;
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}
@media only screen and (min-width: 1390px) {
  #userApplicationAct {
    .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
      border-radius: 4px !important;
      [data-style-action-name="useroutBtn"] {
        .fa.fa-sign-out {
          margin-right: 10px;
        }
        .user-text {
          font-size: $small;
        }
      }
      ul {
        padding: 0.5rem !important;
        height: 4.7rem !important;
        width: 12rem !important;
      }
    }
  }
}

[data-style-actor-name="Footer"].actor-wrapper {
  .FAQ0.topupfalse {
    display: none !important;
  }
}
