[data-client="phone"] {
    [data-style-actor-name="LPUInstructions"].MuiPaper-rounded {
        [data-style-id="text-after"] {
            display: flex;
            justify-content: space-between;
            padding: 0 !important;
            margin: 0 1rem;
        }
    }
    [data-style-section-name="DateOfBirthSection"] {
        display: grid !important;
        grid-template-columns: 1fr 1fr 2fr;
        padding-top: 0;
    }
    [data-style-section-name="LoanPurposeSection"] {
        [data-style-id="field"]{
            display: flex;
            justify-content: center;
            &[data-style-field-name="Select_Loan_Purpose1"]{
                label.MuiFormLabel-root{
                    margin-bottom: 1.2rem;
                }
                .MuiGrid-item{
                    &:nth-child(1){
                        .selectButton{
                            background: url(/resource/LFS_Car);
                            background-position: 50% -1rem;
                            background-size: 10rem;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(2){
                        .selectButton{
                            background: url(/resource/LFS_MoneyBundle);
                            background-size: 8rem !important;
                            background-position: 50% -0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(3){
                        .selectButton{
                            background: url(/resource/LFS_Renovation);
                            background-size: 5rem !important;
                            background-position: 50% 1.2rem !important;;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(4){
                        .selectButton{
                            background: url(/resource/LFS_Travel_2);
                            background-size: 7rem !important;
                            background-position: 50% 0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(5){
                        .selectButton{
                            background: url(/resource/LFS_Medical);
                            background-size: 7rem !important;
                            background-position: 50% 0 !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(6){
                        .selectButton{
                            background: url(/resource/LFS_BaloonDog);
                            background-size: 8rem !important;
                            background-position: 50% -0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
            &[data-style-field-name="Select_Loan_Purpose2"]{
                margin-top:1.2rem;
                .MuiGrid-item{
                    &:nth-child(1){
                        .selectButton{
                            background: url(/resource/LFS_MoneyBundle);
                            background-size: 8rem !important;
                            background-position: 50% -0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(2){
                        .selectButton{
                            background: url(/resource/LFS_Sofa_Household);
                            background-size: 8rem !important;
                            background-position: 50% -0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(3){
                        .selectButton{
                            background: url(/resource/LFS_MoneyBundle);
                            background-size: 8rem !important;
                            background-position: 50% -0.4rem !important;
                            background-repeat: no-repeat;
                        }
                    }
                    &:nth-child(4){
                        .selectButton{
                            background: url(/resource/LFS_Car);
                            background-position: 50% -1rem;
                            background-size: 10rem;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        [data-style-id="section-title"] {
            display: grid;
            grid-gap: 1rem;
            .subSection {
                font-size: 1.6rem;
                font-family: Roboto;
                font-weight: 100;
            }
        }
    }
    [data-style-id=field] {
        .multiselectbuttons {
            ul {
                div.MuiGrid-container {
                    width: 100%;
                    margin: 0;
                    display: -ms-grid;
                    display: grid;
                    grid-gap: 1rem;
                    -ms-grid-columns: 1fr 1fr;
                    grid-template-columns: 1fr 1fr !important;
                }
            }
        }
    }
    [data-style-section-name="DOBTitleSection"] {
        [data-style-id="section-title"] {
            margin: 0 !important;
        }
    }
    [data-style-section-name="DateOfBirthSection"] {
        padding: 0 !important;
        [data-style-field-name="BirthDate"] {
            padding: 0 0 0 12px !important;
        }
        [data-style-field-name="BirthMonth"] {
            padding: 0 6px 0 6px !important;
        }
        [data-style-field-name="BirthYear"] {
            padding: 0 12px 0 0px !important;
        }
        input {
            text-align: center;
        }
    }

    [data-style-actor-name="FeesChargesPopUp"].MuiPaper-root{
        margin:2rem !important;

        .MuiTypography-root{
            h3{
                font-size: 2rem !important;
            }
        }
    }

    [data-style-actor-name="LPUSetPwdPanel"].MuiPaper-root {
       

            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
            margin: 1.2rem !important;
            padding-bottom: 2rem !important;
        
    }
    
    
}



