[data-style-actor-name="Footer"].actor-wrapper {
    margin-top: auto;
    background: $color-tertiary;
    [data-style-id="static-content"] {
        text-align: center;
        margin: 0;
        padding: 0;
        .containers {
            display: grid;
            grid-gap: 1rem;
            .fa {
                font-size: 24px;
                background: #ECECEC;
                border-radius: 50%;
                padding: 4px 9px;
            }
            .content {
                >div:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
        footer {
            margin-top: 1.5rem;
        }
        .MuiToolbar-root{
            min-height: auto;
        }
    }
    a{
        color:#0046AA !important;
    }
}