
[data-style-actor-name="LPUHeader"].actor-wrapper {
    height: 100% !important;
    [data-style-actor-name="LPUHeader"] {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        img {
            height: 100% !important;
            @media screen and (max-width: 500px) {
                width: 200px !important;
            }
            @media screen and (max-width: 400px) {
                width: 150px !important;
            }
        }
        .MuiToolbar-regular {
            padding: 0 !important;
            button {
                background: transparent;
                color: #fff;
                box-shadow: none;
                padding: 0;
            }
        }
    }
}

[data-style-actor-name="LPUDecisionHeader"].actor-wrapper {
    height: 100% !important;
    [data-style-actor-name="LPUDecisionHeader"] {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        img {
            height: 100% !important;
            @media screen and (max-width: 500px) {
                width: 200px !important;
            }
            @media screen and (max-width: 400px) {
                width: 159px !important;
            }
        }
        .MuiToolbar-regular {
            padding: 0 !important;
            button {
                background: transparent;
                color: #fff;
                box-shadow: none;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    [data-style-actor-name=ClsAppLayoutOneHeader].actor-wrapper {
        height: 60px !important;
    }
}

[data-style-actor-name="ClsAppLayoutOneMain"] {
    padding-top: 1rem;
}

[data-style-actor-name="LPUInstructions"].MuiPaper-rounded {
    [data-style-id="text-after"] {
        display: flex;
        justify-content: space-between;
        padding: 0 !important;
        margin: 0 1rem;
    }
}

