[data-style-actor-name="LPUInstructions"].MuiPaper-rounded {
  .toolbar-at-top {
    justify-content: center;
    margin-bottom: 2.5rem !important;
    max-width: 37rem;
    margin: 0 auto;
    .title-group {
      display: grid;
      [data-style-id="title"] {
        margin-top: 0 !important;
      }
      [data-style-id="subtitle"] {
        display: flex;
        margin-top: 1rem;
        position: relative;
        @media (max-width: 370px) {
          font-size: 1.3rem;
        }
        .pinkText {
          background: $color-tint-pink;
          padding: 7px;
          font-weight: 800;
          color: #000;
          width: 100%;
        }
        img {
          position: absolute;
          right: -4rem;
          bottom: 1rem;
        }
      }
    }
    [data-style-id="text-after"] {
      display: flex;
      justify-content: space-between;
      padding: 0 !important;
      margin: 0 1rem;
    }
  }
}
[data-style-actor-name="LPUPersonalDetailsContainer"][data-style-id="division"] {
  margin-bottom: 0 !important;
}
[data-style-actor-name="LPUPersonalDetailsPanel"].actor-wrapper {
  padding-top: 8rem;
  .MuiPaper-root {
    .MuiToolbar-root {
      justify-content: space-between !important;
      padding: 0 1rem;
      [data-style-id="action"] {
        &:nth-child(2) {
          margin-right: 0;
        }
        .MuiButton-label {
          .btnText {
            font-family: $font-Roboto;
          }
        }
      }
    }
    .record-content {
      [data-style-section-name="PersonalDetailsSection"] {
        h3 {
          margin-bottom: 1.5rem;
        }
        [data-style-field-name="Middle_Name"] {
          .MuiFormControl-root {
            .MuiFormLabel-root.Mui-focused {
              background: #fff !important;
              padding: 0 6px 0 2px;
            }
          }
        }
        [data-style-field-name="Gender"] {
          margin-top: 1.6rem !important;
          fieldset.MuiFormControl-root {
            padding: 0;
            legend.MuiFormLabel-root.Mui-required {
              font-size: 1.6rem !important;
              font-weight: 400 !important;
              font-family: $font-Roboto;
              color: $color-black-text;
              padding-bottom: 1.5rem;
            }
            .MuiFormGroup-root[role="radiogroup"] {
              .MuiGrid-root.MuiGrid-container {
                display: flex;
                flex-direction: row;
                flex-flow: row;
                padding: 0 !important;
                width: 100%;
                justify-content: space-between;
                .MuiGrid-item {
                  padding: 0 !important;
                  flex-basis: 32.2%;
                  label.MuiFormControlLabel-root {
                    margin: 0;
                    width: 100%;
                    position: relative;
                    span {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      [data-style-section-name="DOBTitleSection"] {
        padding: 1.6rem 0 0 0 !important;
        margin: 0 1rem !important;
        [data-style-id="section-title"] {
          text-align: left !important;
          font-size: 1.6rem !important;
          font-weight: 400 !important;
          color: $color-black-text;
          font-family: $font-Roboto !important;
          .dob-tooltip {
            color: $color-tooltip;
            font-size: 1.1rem;
            display: block;
            margin-top: 0.5rem;
          }
        }
      }
      [data-style-section-name="DateOfBirthSection"] {
        [data-style-id="field"] {
          .MuiFormControl-root {
            .MuiFormHelperText-root.Mui-error {
              margin: 0.5rem 0.1rem;
              line-height: 1;
            }
          }
        }
      }
      [data-style-section-name="DetailsSection"] {
        [data-style-field-name="Mobile_Number"] {
          .MuiInputBase-root {
            .MuiInputAdornment-root {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

button.MuiButton-containedSecondary {
  span.fa {
    font-family: fontawesome !important;
  }
}

.btnText {
  color: $color-primary !important;
  font-weight: 100;
  font-size: 1.4rem !important;
}

[data-style-section-name="DateOfBirthSection"] {
  display: grid !important;
  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 0;
}

[data-style-section-name="DetailsSection"] {
  padding: 0 !important;
}

[data-style-actor-name="LPUConfirmationPanel"] {
  .MuiTypography-root.MuiTypography-body2 {
    background: #e5e5e5;
    padding: 1rem;
    margin: 3rem 0;
  }
  button.MuiButton-containedPrimary {
    background-color: $color-tertiary-btn !important;
    width: auto;
  }
  h1[data-style-id="title"] {
    font-size: 1.6rem !important;
    text-align: center;
    font-weight: 600 !important;
  }
  .MuiTypography-root {
    margin: 0 1.5rem !important;
    padding: 0 2.2rem !important;
    .disc {
      .confPts {
        li {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

/*Postal Manual Address Section*/

[data-style-actor-name="LPUPOBoxDetailsPanel"]{
  div.toolbar-at-top{
    display: none !important;
  }
}

/*Rate estimate*/

[data-style-section-name="Manual_Address_Section"] {
  display: none !important;
}

[data-style-section-name="Postal_Manual_Address_Section"] {
  display: none !important;
}

[data-style-actor-name="LPURateEstimatePanel"] {
  [data-style-id="base-panel"] {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    margin: 1.2rem !important;
    padding-bottom: 2rem !important;
    button.MuiButton-containedPrimary {
      background-color: $color-tertiary-btn !important;
    }
    .MuiToolbar-gutters {
      display: none;
    }
    div {
      [data-style-id="record"] {
        padding: 0 1rem;
        [data-style-section-name="RateEstimateSection"].section {
          label.MuiFormLabel-root {
            background: white !important;
            width: auto !important;
          }
        }
        div.section {
          padding: 0;
          [data-style-id="section-title"] {
            font-size: 2rem !important;
            color: $color-black-text;
          }
          [data-style-field-name="Repayment"],
          [data-style-field-name="IndicativeRate"],
          [data-style-field-name="LEF"] {
            div.MuiFormControl-root {
              margin: 0;
              align-items: center;
              display: grid;
              grid-template-columns: [start] 50% [middle] 50% [end];
              label {
                position: relative;
                font-family: $font-Roboto;
                font-size: 1.6rem;
                font-weight: 100;
                transform: none !important;
              }
              div.MuiInputBase-root {
                margin-left: auto;
                margin-top: 0;
                padding: 0;
                > div {
                  span {
                    font-family: $font-Montserrat;
                    font-size: 1.6rem;
                  }
                }
                input {
                  font-family: $font-Montserrat;
                  font-size: 1.6rem;
                  text-align: right;
                  padding-right: 0;
                }
                fieldset {
                  border: none;
                }
                div.MuiInputAdornment-root {
                  width: 0.4rem !important;
                }
              }
            }
          }
        }
      }
    }
    > .MuiToolbar-root {
      margin: 0 !important;
      [data-style-id="action"] {
        padding: 0;
      }
    }
  }
}

[data-style-actor-name="LPUSetPwdPanel"] {
  .text-after {
    margin: 0 1.5rem !important;
  }
  button.MuiButton-containedPrimary {
    background-color: $color-tertiary-btn !important;
  }
}

.call {
  border: 1px solid $color-primary;
  border-radius: 0.7rem;
  width: 18rem;
  margin: 2rem auto;
  padding: 1rem;
  a {
    font-size: 1.8rem;
    text-decoration: none !important;
    color: $color-primary;
  }
}

//header issues

[data-style-actor-name="LPUHeader"].MuiPaper-root,
[data-style-actor-name="LPUVerifyHeader"].MuiPaper-root {
  margin-left: 1rem !important;
  span.error-icon {
    display: none !important;
  }
  div.error {
    display: none !important;
  }

  // [style="overflow-x: hidden;"] {
  //   img:nth-child(2) {
  //     display: none !important;
  //   }
  // }
}
[data-style-actor-name="LPUHeader"].actor-wrapper,
[data-style-actor-name="LPUVerifyHeader"].actor-wrapper {
  background: #0046aa !important;

  .MuiPaper-root {
    margin: 2rem !important;
  }
}
[data-style-actor-name="ClsAppLayoutOneHeaders"].appFlexVertical {
  margin: 0px !important;
  width: 100% !important;
}

[data-style-actor-name="LPUStepsContainer"].MuiPaper-root {
  .MuiStep-root {
    .MuiTypography-root {
      display: none !important;
    }
  }
}

//phone

[data-client="phone"] {
  [data-style-actor-name="LPUDashboardPanel"].MuiPaper-root {
    .section {
      div:nth-child(4) {
        .MuiFormLabel-root {
          padding-right: 16rem !important;
        }
      }
      div:nth-child(2) {
        .MuiFormLabel-root {
          padding-right: 11.7rem !important;
        }
      }
      div:nth-child(1) {
        .MuiFormLabel-root {
          padding-right: 12.4rem !important;
        }
      }
    }

    .MuiTypography-root {
      justify-content: unset !important;

      .MuiFormLabel-root {
        padding-right: 12rem !important;
      }
    }

    .MuiButtonBase-root {
      margin-left: 7rem !important;
      margin-top: 1rem !important;
      margin-bottom: 2rem !important;
    }
  }
}

//header issues

[data-style-actor-name="LPUHeader"].actor-wrapper {
  [data-style-id="static-content"] {
    padding: 0 !important;
    height: 100% !important;
    .MuiToolbar-root {
      height: 100%;
    }
  }
  .loading-error {
    min-height: 64px !important;
  }
  overflow: hidden !important;
  height: 100% !important;

  .MuiPaper-root {
    margin: 0 auto !important;

    img {
      margin-top: 0px !important;
    }
  }
}

[data-style-actor-name="LPUVerifyHeader"].actor-wrapper {
  .loading-error {
    min-height: 64px !important;
  }
  overflow: hidden !important;
  min-height: 7rem !important;
  .MuiPaper-root {
    margin: 0 auto !important;

    img {
      margin-top: 0px !important;
    }
  }
}

//retrieve quote small issues

[data-style-actor-name="LPURetrieveRateContainer"].actor-wrapper {
  .appFlexVertical {
    [data-style-actor-name="LPURetrieveRateHeader"].actor-wrapper {
      background: #0046aa !important;
    }
  }
}

[data-style-actor-name="LPURetrieveRatePanel"].MuiPaper-root {
  .text-after {
    color: rgb(7, 156, 7) !important;
    text-align: center;
  }
  h3.section-title {
    text-align: center !important;

    .subSection {
      font-weight: 100 !important;
    }
  }
  button {
    background-color: $color-tertiary-btn;
  }
}

[data-style-actor-name="LPURetrieveRateContainer"] {
  [data-style-actor-name="LPUContainer"] {
    width: 72rem;
    margin: 0 auto;
  }
  [data-style-actor-name="LPURetrieveRatePanel"].actor-wrapper {
    min-height: 46rem;
  }
}

//small issues fixes

[data-style-actor-name="LoanTypePopUp"].MuiPaper-root,
[data-style-actor-name="FeesChargesPopUp"].MuiPaper-root {
  .MuiTypography-root {
    padding: 0rem 1rem !important;

    div.h3 {
      font-family: "Roboto" !important;
      font-size: 18px !important;
      margin-top: 10px !important;
    }
    div.h4 {
      font-size: 14px !important;
    }
  }
}

[data-style-actor-name="AccountExist"].MuiPaper-root,
[data-style-actor-name="FeesChargesPopUp"].MuiPaper-root {
  .title-group {
    margin: 0px !important;
  }
  h1.title,
  h2.subtitle {
    text-align: center;
  }
  h2.subtitle {
    padding: 2rem;
    margin: 0px;
  }
}
[data-style-section-name="ContactDetailsSection"].section {
  [data-style-field-name="Home_Address"] {
    ul[role="listbox"] {
      height: 10rem;
      overflow-y: scroll;
    }
  }
}
[data-style-actor-name="LPUContactDetailsPanel"].MuiPaper-root {
  .record-content {
    [data-style-section-name="ContactDetailsSection"] {
      [data-style-field-name="Home_Address"] {
        [data-style-id="address-suggestions"] {
          height: auto;
          position: relative !important;
        }
        .MuiFormControl-root {
          .MuiFormLabel-root.Mui-focused {
            background: #fff !important;
            padding: 0 6px 0 2px;
          }
        }
      }
    }
    [data-style-section-name="Manual_Address_Section"] {
      h3 {
        width: auto !important;
      }
      [data-style-field-name="Unit_Number"],
      [data-style-field-name="Street_Number"],
      [data-style-field-name="Property_Name"] {
        .MuiFormControl-root {
          .MuiFormLabel-root.Mui-focused {
            background: #fff !important;
            padding: 0 6px 0 2px;
          }
        }
      }
    }
  }
}

[data-style-section-name="LoanAmountStructure"].section {
  [data-style-field-name="Repayment_Frequency"] {
    display: none;
  }
}

[data-style-actor-name="LPULoanPurposePanels"].MuiPaper-root {
  [data-style-section-name="LoanPurposeSection"] {
    [data-style-field-name="Select_Loan_Purpose1"] {
      label.MuiFormLabel-root {
        margin-bottom: 1.2rem;
      }
      .MuiFormGroup-root[role="radiogroup"] {
        .MuiGrid-container {
          width: 100%;
          margin: 0;
          display: grid;
          grid-gap: 1.6rem;
          grid-template-columns: 1fr 1fr;
          .MuiGrid-item {
            padding: 0 !important;
            position: relative;
            &::before {
              display: block;
              height: 5rem;
              width: 100%;
              left: 0;
              content: "";
              position: absolute;
              background-position: 50% !important;
              background-repeat: no-repeat !important;
              z-index: 1;
            }
            &:nth-child(1) {
              &::before {
                background: url(/resource/LFS_Car);
                top: 0.8rem;
                background-size: 8rem !important;
              }
            }
            &:nth-child(2) {
              &::before {
                background: url(/resource/LFS_MoneyBundle);
                background-size: 5rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(3) {
              &::before {
                background: url(/resource/LFS_Renovation);
                background-size: 3.8rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(4) {
              &::before {
                background: url(/resource/LFS_Travel_2);
                background-size: 5.5rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(5) {
              &::before {
                background: url(/resource/LFS_Medical);
                background-size: 6rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(6) {
              &::before {
                background: url(/resource/LFS_Bills);
                background-size: 3.3rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(7) {
              &::before {
                background: url(/resource/LFS_Sofa_Household);
                background-size: 7.5rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(8) {
              &::before {
                background: url(/resource/LFS_Reading);
                background-size: 4.5rem !important;
                top: 0.8rem !important;
              }
            }
            &:nth-child(9) {
              &::before {
                background: url(/resource/LFS_Car);
                top: 0.8rem;
                background-size: 8rem !important;
              }
            }
            &:last-child {
              &::before {
                background: url(/resource/LFS_BaloonDog);
                background-size: 7rem !important;
                top: 0.8rem !important;
              }
            }
            .MuiFormControlLabel-root {
              margin: 0 !important;
              width: 100%;
              display: flex;
              flex-direction: column;
              position: relative;
              span.MuiIconButton-root {
                width: 100% !important;
                height: 9rem !important;
                border: 0.2rem solid #000 !important;
                background: #fff !important;
                &.Mui-checked {
                  border: 2px solid #0046aa !important;
                  background: #d8ecff !important;
                }
              }
              span.MuiFormControlLabel-label {
                width: 100% !important;
                line-height: initial;
                position: absolute !important;
                bottom: 1.8rem;
                span.MuiListItemText-primary {
                  font-size: 1.4rem;
                  font-family: "Roboto", "Montserrat" !important;
                  width: 100% !important;
                  @media (max-width: $iphone-12-mini-width) {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    [data-style-field-name="Other_Loan_Purpose"] {
      padding: 2rem 2.6rem 0 !important;
    }
  }
}

[data-style-field-name="I_Agree_To_The_Above"] {
  .MuiTypography-root {
    p.MuiTypography-root {
      font-size: 1.6rem;
      font-weight: 300 !important;
      margin: 0 !important;
    }
  }
}
[data-style-section-name="LicenseCheckSection"].section {
  [data-style-field-name="I_Agree_To_The_Above"] {
    background: #ececec;
    &.colorToggle {
      background: #cee6ff;

      span.MuiFormControlLabel-label {
        color: #0046aa;
      }
    }
    .MuiFormControl-root {
      .MuiFormControlLabel-label {
        padding-left: 0 !important;
        margin-left: 0 !important;
        p {
          padding-left: 0 !important;
        }
      }
    }
  }
}
[data-style-actor-name="LPURateEstimatePanel"].MuiPaper-root {
  .MuiToolbar-root {
    flex-direction: initial !important;
    padding: 0px !important;
    justify-content: center !important;
  }
}
[data-style-actor-name="LPUDeclinedContent"].actor-wrapper {
  [data-style-id="static-content"] {
    padding: 0 2rem !important;
  }
}
//button color fixes

[data-style-actor-name="LPUContinueButton"] {
  .MuiToolbar-root {
    button.MuiButtonBase-root {
      background-color: #21a637 !important;
    }
  }
}

[data-style-actor-name="LPULoanPurposeContainers"].actor-wrapper {
  [data-style-actor-name="LPULoanPurposePanels"].actor-wrapper {
    button[data-style-action-name="loanPurposeBlankBtn2"] {
      display: none;
    }
  }
}

[data-style-actor-name="LPUMainContent"].actor-wrapper {
  min-height: 38rem !important;
}

// Please specify on Page 1

[data-style-id="field"][data-style-field-name="Please_specify"] {
  label {
    background-color: white;
  }
}

//driving license panel

[data-style-actor-name="LPUDrivingLicenceContainer"].actor-wrapper {
  [data-style-actor-name="LPUDrivingLicenceButtonPanel"].actor-wrapper {
    [data-style-actor-name="LPUDriverLicenceButtonPanel"][data-style-id="base-panel"] {
      .toolbar-at-top {
        display: none !important;
      }
    }
  }
  [data-style-actor-name="LPUDrivingLicenceStaticContent"].actor-wrapper {
    [data-style-actor-name="DLStateACTStaticContent"][data-style-id="static-content"] {
      .ACT.NSW.NT.QLD.SA.TAS.VIC.WA {
        display: contents !important;
      }
      .NSW.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.VIC {
        display: none !important;
      }
    }
  }
}

[data-style-actor-name="LPUDrivingLicencePanel"].actor-wrapper{
  .MuiToolbar-root.toolbar-at-bottom{
    display: none !important;
  }
}

//Tillium button hide using css

[data-style-actor-name="LPUContactDetailsPanel"].actor-wrapper,
[data-style-actor-name="LPULoanPurposePanels"].actor-wrapper,
[data-style-actor-name="LPUBorrowAmountPanels"].actor-wrapper,
[data-style-actor-name="LPUDrivingLicencePanel"].actor-wrapper,
[data-style-actor-name="LPUSetPwdPanel"].actor-wrapper {
  .toolbar-at-top {
    display: none;
  }
}

//PopUp Quote Exists

[data-style-actor-name="AccountExist"][data-style-id="base-panel"] {
  display: flex;
  justify-content: center;
}

//Footer Stick to bottom for mobile
// [data-client="phone"]{
//     [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper{
//         min-height: calc(100% - 81px);
//         @media(max-width: 500px){
//             min-height: calc(100% - 65px);
//         }
//         [data-style-id="division"]{
//             min-height: calc(100vh - 81px);
//             @media(max-width: 500px){
//                 min-height: calc(100vh - 65px);
//             }
//             [data-style-actor-name="ClsAppLayoutOneContent"][data-style-id="division"]{
//                 margin-bottom: 0 !important;
//                 display: flex;
//                 margin-top: 0 !important;
//                 flex-direction: column;
//                 [data-style-actor-name="Footer"].actor-wrapper{
//                     margin-top: auto;
//                 }
//             }
//         }
//     }
// }

[data-style-actor-name="LPU_RetriveQuote_tag"],
[data-style-actor-name="LPUTagIframe"] {
  position: absolute;
  top: -999rem !important;
  height: 0;
}

[data-style-actor-name="ClsAppLayoutOne"].actor-wrapper {
  [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper {
    [data-style-actor-name="ClsAppLayoutOneContent"].actor-wrapper {
      [data-style-actor-name="ClsAppLayoutOneContent"].appFlexVertical {
        margin: 0 !important;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

[data-style-actor-name="LPUOtpVerifyPanel"].actor-wrapper {
  .MuiPaper-root .MuiToolbar-root {
    justify-content: center;
  }

  [data-style-action-name="MobileVerifiedtrueBtn"] {
    display: none;
  }
  [data-style-id="text-after"].text-after {
    text-align: center;
    width: 70%;
    margin: auto;
  }

  [data-style-section-name="OTPVerifySection"].section
    .MuiInputBase-root
    input {
    text-align: center !important;
  }

  [data-style-actor-name="LPUOtpVerifyPanel"][data-style-id="base-panel"] {
    [data-style-id="title"] {
      font-size: 1.8rem !important;
    }
    [data-style-id="subtitle"] {
      font-family: "Roboto" !important;
      font-size: 1.3rem !important;
      font-weight: 400;
      margin: 0 !important;
    }
  }
}

// Otp verification Section Css for Desktop view
[data-style-stage-name="Home"][data-client="desktop"] {
  [data-style-actor-name="LPUOtpVerifyPanel"].actor-wrapper
    [data-style-actor-name="LPUOtpVerifyPanel"].MuiPaper-root
    [data-style-record-id="new_record_id"]
    [data-style-section-name="OTPVerifySection"].section {
    flex-wrap: nowrap !important;
    width: 50rem !important;
    margin: auto;
  }
}

// Otp verification Section Css for Phone view
[data-style-stage-name="Home"][data-client="phone"] {
  [data-style-actor-name="LPUEmailOTPVerifyPanel"].actor-wrapper
    [data-style-actor-name="LPUEmailOTPVerifyPanel"].MuiPaper-root
    .record-content
    [data-style-section-name="EmailOTPVerifySection"] {
    width: 100% !important;
  }
  [data-style-actor-name="LPUOtpVerifyPanel"].actor-wrapper
    [data-style-actor-name="LPUOtpVerifyPanel"].MuiPaper-root
    [data-style-record-id="new_record_id"]
    [data-style-section-name="OTPVerifySection"].section {
    flex-wrap: nowrap !important;
  }
}

[data-style-actor-name="LPUEmailOTPVerifyPanel"].actor-wrapper {
  [data-style-actor-name="LPUEmailOTPVerifyPanel"].MuiPaper-root {
    .toolbar-at-top {
      justify-content: center;
      .title-group {
        .title {
          font-size: 1.8rem !important;
        }
        .subtitle {
          font-family: "Roboto" !important;
          font-size: 1.3rem !important;
          font-weight: 400;
          margin: 0 !important;
        }
      }
    }
    .record-content {
      [data-style-section-name="EmailOTPVerifySection"] {
        flex-wrap: nowrap;
        width: 50rem;
        margin: auto;
        [data-style-id="field"] {
          input {
            text-align: center;
          }
        }
      }
    }
    [data-style-id="text-after"] {
      text-align: center;
      width: 70%;
      margin: auto;
    }
  }
}

[data-style-actor-name="Footer"].actor-wrapper {
  .topup {
    display: none !important;
  }
}

[data-style-actor-name="LPUPOGpoButtonsPanel"].actor-wrapper{
  [data-style-actor-name="LPUPOGpoButtonsPanel"].MuiPaper-root{
    .toolbar-at-top {
      display: none !important;
    }
  }
}

//For Set Pwd Okta Borrower.

[data-style-field-name="CreatePwds"][data-style-id="field"],[data-style-field-name="CnfPasswords"][data-style-id="field"]{
  padding: 0 3rem !important;
  div{
    div.MuiInput-root {
      &::before{
        content: none !important;
      }
      input {
        width: 100%;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 2rem !important;
        margin: 0 !important;
        border: 1px solid #8E959B !important;
     }
      &::after{
        content: none !important;
      }
    }
  }
}

[data-style-field-name="Postal_address"]{
  padding: 0 1rem !important;
  @include radiobuttonstyle();
  [role="radiogroup"]{
    padding-top: 2rem !important;
    label.MuiFormControlLabel-root{
      span.MuiRadio-root{
        width: inherit !important;
      }
      span.MuiFormControlLabel-label{
        width: inherit !important;
      }
    }
  }
  fieldset {
    legend.MuiFormLabel-root{
    font-size: 1.4rem;
    color: black !important;
    }
    padding: 0.5rem 0 !important;
  }
}


/*Signup Tab hide*/
[data-style-id="tab-step-container"][data-style-actor-name="LPUSignupSteps"]{
  [data-style-id="steps"]{
    div.MuiPaper-root.MuiStepper-root{
      display:none;
    }
  }
}

[data-style-actor-name="LPURegisterContainer"].actor-wrapper{
  [data-style-actor-name="LPURegisterPanel"].actor-wrapper{
    width: 72%;
    margin: auto !important;
    [data-style-id="base-panel"].MuiPaper-root div:nth-child(2){
      overflow-y: hidden;
    }
    .title{
      font-size: 2rem !important;
      font-weight: 500;
    }
    button[data-style-action-name="login"]{
      padding: 2rem !important;
      .btnText{
        font-weight: 600 !important;
      }
     
    }
  }
}

[data-style-section-name="DOBTitleSection"].section{
  padding: 1.6rem 0 0 0 !important;
  margin: 0 1rem !important;
  h3{
    text-align: left !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    color: #000;
    font-family: "Roboto", "Montserrat" !important;
  }
  .dob-tooltip{
    color: #767676;
    font-size: 1.1rem;
    display: block;
    margin-top: 0.5rem;
  }
}

