[data-style-stage-name="servicingPortal"][data-client="desktop"]{
    [data-style-actor-name="ClsAppLayoutOne"].actor-wrapper{
        background-color: $color-grey !important;
    }
    [data-style-actor-name="LPUTopUpContainer"].actor-wrapper{
        width: 65rem;
        margin: auto !important;
    }
    [data-style-actor-name="LPUHeader"].actor-wrapper{
        .MuiToolbar-root{
            min-height: auto !important;
        }
    }
}
