[data-style-actor-name="topupExistingPopUp"].actor-wrapper {
  [data-style-actor-name="topupExistingPopUp"].MuiPaper-root {
    .MuiTypography-root {
      h4 {
        text-align: center !important;
      }
    }
  }
}

[data-style-stage-name="servicingPortal"] {

  [data-style-actor-name="LPULoanDetailsContainer"].actor-wrapper{
    [data-style-actor-name="LPUBackBookLoans"].MuiPaper-root {
      display: flex;
      flex-direction: column;
      background: #d5d3fa !important;
      padding: 1.5rem !important;
      div.MuiGrid-root{
        //width: fit-content;
        margin: auto;
        div.clickable.highlighted{
          [data-style-id="field-label"], [data-style-id="card-view-value"]{
            font-size: 1.5rem !important;
            color: #006aff !important;
            font-weight: 400;
          }
        }
        div.clickable{
          [data-style-id="field-label"], [data-style-id="card-view-value"]{
            font-size: 1.5rem !important;
            color: #000 !important;
            font-weight: 400;
          }
        }
        div:nth-child(odd){
          //padding: 0 !important;
          div[data-style-id="card-entry"]{
            height: 5rem;
            background: none;
            box-shadow: none;
            margin: 0 !important;
          }
        }
        div:nth-child(even){        
          width: fit-content;
          margin: auto;
          height: 5rem;
          div[data-style-id="card-entry"]{
            margin-left: 0;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  [data-style-id="base-panel"][data-style-actor-name="LPUProfilePanel"] {
    div.toolbar-at-bottom {
      display: flex;
      flex-direction: row;
    }
    .record-content {
      [data-style-field-name="Name"],
      [data-style-field-name="Mobile_Number__c"],
      [data-style-field-name="Account_Email__c"] {
        pointer-events: none;
        .MuiInputBase-root {
          input[readonly] {
            background: #f8f8f8;
          }
        }
      }
    }
  }
  [data-style-actor-name="LPUNotificationConsentPanel"][data-style-id="base-panel"] {
    background: #f8f8f8 !important;
    margin: 1.5rem 0.4rem 0.6rem 0.4rem !important;
    padding: 0 1rem;
    [data-style-id="title"] {
      font-size: 2rem !important;
      font-weight: 600;
      text-align: left !important;
    }
    [data-style-id="text-before"] {
      > span {
        display: block;
        margin-top: 1rem;
      }
    }
    .record-content {
      background: transparent;
    }
    .MuiToolbar-root {
      &.toolbar-at-top {
        padding-top: 1.5rem;
        [data-style-id="action"] {
          padding: 0;
          box-shadow: none;
          background: #f8f8f8;
          text-transform: none;
          color: #006aff;
          font-size: 1.5rem;
          .MuiButton-label {
            justify-content: flex-end;
            .fa {
              padding-right: 0.5rem;
            }
          }
        }
      }
      &.toolbar-at-bottom {
        min-height: auto !important;
        flex-direction: row;
        justify-content: center;
        .MuiButtonBase-root {
          margin: 2rem !important;
          &:first-child {
            .MuiButton-label span {
              color: #fff;
              font-weight: 400;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  [data-style-field-name="Loan_Account_Number"][data-style-id="field"] {
    label.Mui-required {
      background-color: #d5d3fa;
    }
  }

  [data-style-actor-name="LPUTransferByBPAYTitlePanel"].actor-wrapper {
    margin: 1rem !important;
    position: relative;
    top: 0.4rem;
    border-bottom: none !important;
    box-shadow: 0 -3px 2px 2px #80808059 !important;

    h1 {
      font-size: 1.6rem !important;
    }

    .toolbar-at-bottom {
      display: none !important;
    }
  }

  //Loan Details Tab
  [data-style-actor-name="LPULoanDetailTabs"][data-style-id="tab-step-container"] {
    margin: 0px !important;
    padding: 0px !important;

    .primary {
      margin: 0 1rem !important;
    }

    [data-style-id="tabs"] {
      .MuiTabs-root.tab-bar {
        background-color: #ffffff;
        margin: 0 1rem;

        .MuiTabs-scroller.MuiTabs-scrollable {
          .MuiTabs-flexContainer {
            button {
              margin-top: 0 !important;
            }

            button:hover {
              background: none !important;
            }

            background-color: transparent;

            button.MuiButtonBase-root {
              flex-basis: 35%;
              margin-right: 0 !important;
              min-width: auto !important;

              .title {
                line-height: 2rem;
                font-weight: $light;
              }

              &.Mui-selected {
                background-color: #ffffff !important;
                border-bottom: 2px solid #3f51b5;
                border-radius: inherit;

                .title {
                  span {
                    color: #3f51b5 !important;
                    font-weight: $light;
                  }
                }
              }
            }
          }
        }
      }
      [data-style-id="tab-step-body"] {
        [data-style-actor-name="LPUPaymentPanel"].actor-wrapper {
          .MuiGrid-root.MuiGrid-container {
            .MuiGrid-item {
              margin: 1rem;
              padding: 1.5rem !important;
              box-shadow: 0 0px 2px 2px #80808059 !important;
              [data-style-id="card-entry"] {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .MuiButton-containedPrimary {
    border: 2px solid #006aff !important;
    color: #006aff !important;
    background-color: #ffffff !important;
    height: 4.8rem !important;
    min-width: 12.8rem !important;
    font-size: 1.5rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    border-radius: 0.5rem !important;
  }

  .MuiButton-containedSecondary {
    background-color: #1a74fe !important;
    color: #ffffff !important;
    text-transform: capitalize !important;
    height: 4.8rem !important;
    min-width: 12.8rem !important;
    font-size: 1.5rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    border-radius: 0.5rem !important;
  }

  [data-style-tag="mui"] {
    .toolbar-at-bottom {
      .position-bottom-left {
        padding-top: 0px;
        min-width: 18.8rem !important;
        margin-right: 0px;
      }
    }
  }

  [data-style-actor-name="LPUExistingApp"] {
    .toolbar-at-top {
      border: 2px solid #f682bc !important;
      background: #ffdeef;
    }

    .MuiPaper-root .MuiToolbar-root button:nth-child(4) {
      min-width: 20rem !important;
      margin: auto !important;
    }

    .MuiPaper-root .MuiToolbar-root button:nth-child(2) {
      min-width: 20rem !important;
    }

    .toolbar-at-bottom {
      height: 38rem;
    }

    .title {
      font-size: 1.6rem !important;
      margin-bottom: 0px;
      font-family: Roboto;
      font-weight: 400;
    }

    .toolbar-at-bottom {
      flex-direction: column;
    }
  }

  [data-style-actor-name="LPUTopUpLoan"] {
    .MuiButton-label {
      span {
        color: #ffffff !important;
      }
    }
  }

  [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
    .text-before {
      font-family: Roboto !important;
      line-height: normal;
    }
  }

  [data-style-actor-name="LPUHeader"].actor-wrapper {
    height: 7rem !important;
    background: #06429c;

    [data-style-id="static-content"] {
      display: block !important;
      padding: 1rem !important;
      display: flex !important;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 100%;

      > div {
        &:nth-child(1) {
          padding: 0;

          [data-style-action-name="userActionBtn"] {
            box-shadow: none;
            padding: 0px;
            color: white;
            background: none;
            text-transform: none;
            font-size: 1.5rem;
            margin-right: 0.6rem;

            .fa {
              font-size: 2rem !important;
            }
          }
        }

        &:nth-child(2) {
          display: flex;
          align-items: center;

          .loading-error {
            display: none;
          }
        }
      }
    }

    .fa {
      font-size: x-large !important;
      margin-left: 10px !important;
    }
  }

  [data-style-actor-name="LPUStep"] {
    .MuiStepLabel-labelContainer {
      .MuiStepLabel-active {
        display: none !important;
      }

      .MuiStepLabel-alternativeLabel {
        display: none !important;
      }
    }
  }

  [data-style-actor-name="LPUTopUpLoan"] {
    .MuiToolbar-root {
      margin: 0px !important;
    }
  }

  [data-style-action-name="Btn1"] {
    margin-left: 0px !important;
    background-color: #ffffff !important;
    cursor: default !important;

    .MuiButton-label span {
      font-weight: 300;
      font-family: Roboto !important;
    }
  }

  [data-style-action-name="Btn3"] {
    margin-left: 0px !important;
    padding-top: 0px !important;
    background-color: #ffffff !important;
    cursor: default !important;

    .MuiButton-label span {
      font-weight: 300;
      font-family: Roboto !important;
    }
  }

  [data-style-action-name="MyApptBtn"],
  [data-style-action-name="Btn4"] {
    margin: 2rem !important;
  }

  [data-style-actor-name="LPUStep"] {
    .MuiStepLabel-labelContainer {
      display: none;
    }

    .MuiStepper-horizontal {
      margin: 0px !important;
    }
  }

  [data-style-actor-name="LPUAppDetails"] {
    .text-before {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  [data-style-actor-name="LPUExistingApp"] {
    .toolbar-at-bottom {
      background: #ececec;
    }

    .MuiButton-label {
      line-height: normal;
    }

    .toolbar-at-bottom {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

  [data-style-id="base-panel"] {
    button.MuiButton-containedSecondary {
      padding-top: 0px;
      margin: 4rem;
    }
  }

  [data-style-actor-name="LPUExistingApp"] {
    .MuiButton-containedSecondary {
      padding-top: 0px;
      height: 0px !important;
    }

    .MuiButton-containedSecondary {
      margin-right: 23px !important;
      margin-left: 17px !important;
    }
  }

  [data-style-section-name="MarketingSection"] {
    .section-title {
      font-size: 1.6rem !important;
      font-family: Montserrat;
    }
  }

  [data-style-field-name="Communication_Consent__c"] {
    span.MuiTypography-root {
      font-weight: 300 !important;
      font-size: 14px;
      font-family: "Roboto";

      p.MuiTypography-root {
        font-weight: 300 !important;
      }
    }

    div.MuiFormControl-root {
      background: #ececec !important;
    }
  }

  [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
    .MuiToolbar-root {
      button:nth-child(1) {
        .MuiButton-label {
          span {
            color: white !important;
          }
        }
      }

      button:nth-child(2) {
        padding: 0;
      }
    }
  }

  //password buttons
  [data-style-actor-name="LPUPwdUpdatePanel"].MuiPaper-root {
    .MuiToolbar-root {
      flex-direction: initial !important;
      justify-content: center !important;

      button.MuiButtonBase-root {
        margin: 0px !important;
        padding: 0 !important;
      }
    }
  }

  //backgound

  [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
    margin: 0.4rem 0.4rem 0 !important;
    background: #f8f8f8 !important;
    padding: 2.2rem 1rem !important;
    [data-style-id="text-before"] {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }
    .record-content {
      background: #f8f8f8 !important;
      [data-style-id="section-title"] {
        font-family: $font-Roboto !important;
        font-weight: 400 !important;
        font-size: 1.5rem !important;
        margin: 0 !important;
      }
    }

    input,
    .MuiSelect-root {
      background: #ffffff;
    }

    div.text-after {
      font-weight: 300;
    }
  }

  [data-style-actor-name="LPUPwdUpdatePanel"].MuiPaper-root {
    background: #f8f8f8 !important;
    margin: 0px !important;
  }

  [data-style-section-name="UpdatePasswordSection"].section {
    background: #f8f8f8;

    input.MuiInputBase-input {
      background: #ffffff;
    }
  }

  //section

  [data-style-actor-name="LPUPwdUpdatePanel"].MuiPaper-root {
    h1.title {
      font-size: 2rem !important;
      font-weight: 600;
      text-align: initial !important;
    }

    .text-after {
      ul {
        margin-left: 1.4rem;
      }
    }
  }

  //card view
  [data-style-actor-name="LPUMyAppPanel"].MuiPaper-root {
    margin: 1rem 1rem 0rem !important;

    .record-content {
      margin-left: 0 !important;

      .MuiTypography-root {
        display: block !important;
        line-height: 3rem;

        [data-style-id="card-view-value"] {
          text-align: inherit !important;
        }
      }

      .section {
        margin: 0 2rem 1rem !important;

        .MuiTypography-root {
          .MuiFormLabel-root {
            color: #414141 !important;
            font-weight: 500;
            font-family: Roboto;
            font-size: 1.3rem;
          }

          [data-style-id="card-view-value"] {
            color: #414141 !important;
            font-weight: 300;
            font-family: Roboto;
            font-size: 1.3rem;
          }
        }
      }
    }

    .MuiToolbar-root {
      .title {
        text-align: inherit !important;
        font-weight: 500;
      }
    }

    .MuiGrid-item {
      padding: 0px !important;
    }
  }

  [data-style-id="card-view"] div.MuiGrid-container {
    padding: 0rem !important;
  }

  [data-style-actor-name="LPUAppDetails"].appFlexVertical {
    background: #f8f8f8;
    width: 100% !important;
    margin: 0px !important;

    [data-style-actor-name="LPUMyAppPanel"].actor-wrapper {
      background: #fff !important;
      [data-style-actor-name="LPUMyAppPanel"].MuiPaper-root {
        border: 4px solid #cee6ff !important;
        border-radius: 2px !important;

        .title {
          font-size: 1.5rem !important;
          font-weight: 600;
          color: #414141;
        }
      }
    }

    [data-style-actor-name="LPUTopUpLoan"].actor-wrapper {
      [data-style-id="detail-view"] {
        .MuiToolbar-root {
          min-height: unset;
        }
      }
    }
  }

  [data-style-actor-name="LPUTopUpLoan"].actor-wrapper {
    background: #fff !important;
    [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
      background: #ececec !important;
    }
  }

  //profile button
  [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
    .MuiToolbar-root {
      min-height: auto;
      margin: 0;
      .title {
        text-align: left !important;
        font-size: 2rem !important;
        font-weight: 600;
        margin: 0;
      }
    }
  }

  [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
    .MuiToolbar-root {
      height: auto;

      .title {
        margin-bottom: 0.35em;
      }
    }
  }

  [data-style-section-name="MyProfileSection"].section {
    padding: 0 !important;

    .section-title {
      font-family: Montserrat;
      color: #414141 !important;
    }
  }

  [data-style-section-name="MobileNumberSection"].section {
    padding-top: 0 !important;
  }

  [data-style-section-name="AddressSection"].section {
    .section-title {
      .section-title-text {
        margin-left: 1rem;
      }
    }
  }

  //Edit button

  [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
    .MuiToolbar-root {
      .MuiButtonBase-root {
        box-shadow: none;
        background: #f8f8f8;
        text-transform: none;
        color: #006aff;
        font-size: 1.5rem;
        &[data-style-action-name="Edit"] {
          .MuiButton-label {
            justify-content: flex-end;
          }
        }
      }
      &.toolbar-at-bottom {
        justify-content: center;
        [data-style-id="action"] {
          margin: 2rem;
        }
      }
    }
  }

  [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
    .MuiToolbar-root {
      .MuiButton-label {
        .fa {
          padding-right: 5px;
        }
      }
    }
  }

  [data-style-actor-name="LPULoanPayoutHeader"].MuiPaper-root {
    padding: 1.5rem 0 !important;

    .title-group {
      .title {
        text-align: left !important;
        font-size: 1.6rem !important;
        font-weight: 600;
      }

      .subtitle {
        margin-top: 1rem !important;
        font-size: 1.4rem !important;
        font-family: "Roboto" !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        text-align: initial !important;
        font-weight: $light !important;
      }
    }
  }

  [data-style-actor-name="LPULogoPaymentContainer"].actor-wrapper {
    padding: 0 2rem 1rem !important;
    box-shadow: 0 3px 2px 2px #80808059 !important;
    margin: 0 1rem !important;
    position: relative;
    top: -0.8rem;
    margin-top: 0 !important;
    border-top: none !important;

    .appFlexVertical {
      display: flex;
      flex-direction: initial;

      [data-style-actor-name="LPUBpayLogoPanel"].actor-wrapper {
        width: 15rem;

        [data-style-id="static-content"] {
          margin: 0 !important;
        }
      }
    }
  }

  [LPUTopUpPaymentByBpayPanel].actor-wrapper {
    div.MuiFormControl-root {
      margin-top: 0px !important;
      flex-direction: row-reverse !important;
    }
  }

  //input field border removal and design

  [data-style-actor-name="LPUAccountNumberPanel"].MuiPaper-root {
    margin: 0 1rem !important;

    .section {
      padding: 0rem !important;

      .MuiGrid-root[data-style-field-name="Loan_Account_Number"] {
        background: #d5d3fa;
        padding: 1.5rem !important;

        .MuiFormControl-root {
          margin: 0 !important;

          .MuiFormLabel-root {
            position: relative;
            left: auto;
            transform: none;
            font-size: 1.4rem;
            font-family: Montserrat;
            margin-bottom: 1rem;
          }

          .MuiInputBase-root {
            input {
              padding: 0 !important;
            }

            fieldset {
              border: none;
            }
          }
        }
      }
    }

    [data-style-actor-name="LPULoanDetailTabs"].MuiPaper-root {
      margin: 0rem !important;
      padding-top: 0rem !important;
    }
  }

  //card view design

  [data-style-actor-name="LPULoanDetailsCardViewPanel"].actor-wrapper {
    .MuiPaper-root {
      margin: 0rem !important;

      .section {
        padding: 1rem 0 !important;

        .MuiTypography-root {
          justify-content: unset !important;
          flex-direction: column !important;
          align-items: center !important;
          line-height: 1.5;
          margin: 0.8rem !important;

          [data-style-id="field-label"] {
            font-weight: $light;
            color: $color-black-text;
          }

          [data-style-id="card-view-value"] {
            font-weight: $font-medium;
          }
        }
      }
    }
  }

  //card view design

  [data-style-actor-name="LPULoanContainer"].actor-wrapper {
    [data-style-actor-name="LPULoanDetailsCardViewPanel"].actor-wrapper,
    [data-style-actor-name="LPUOtherLoanDetailsPanel"].actor-wrapper,
    [data-style-actor-name="LPULoanPayoutHeader"].actor-wrapper {
      box-shadow: 0 0px 2px 2px #80808059 !important;
      margin: 1rem;
    }
  }

  //Loan contract Details

  [data-style-actor-name="LPUOtherLoanDetailsPanel"][data-style-id="card-view"] {
    .MuiGrid-root {
      [data-style-id="card-entry"] {
        margin: 0 !important;
        padding: 0 1rem !important;

        [data-style-id="card-content"] {
          [data-style-section-name="Other_Loan_Section"] {
            .section-title {
              text-align: center !important;
              margin-left: 0rem !important;
              margin-top: 2rem !important;
            }

            [data-style-id="card-view-value-entry"] {
              margin-bottom: 1.6rem !important;

              [data-style-id="field-label"] {
                font-weight: $light;
                color: $color-black-text;
              }

              [data-style-id="card-view-value"] {
                font-weight: $font-medium;
              }
            }
          }
        }
      }
    }
  }

  //LPU TOP UP DECLINED PANEL

  [data-style-actor-name="LPUTopUpDeclinedPanel"] {
    [data-style-id="text-before"] {
      h4 {
        font-weight: $normal !important;
      }

      & > div {
        padding: 1rem 3rem !important;
      }
    }
  }

  //bpay card view

  [data-style-actor-name="LPUTopUpPaymentByBpayPanel"].MuiPaper-root {
    .MuiFormControl-root {
      width: 100%;

      fieldset.jss5 {
        border: none;
      }
    }

    .text-after {
      font-size: 1.3rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  [data-style-section-name="crnNoSection"] {
    border: 2px solid black;
    padding: 0 !important;

    [data-style-field-name="Biller_Code"],
    [data-style-field-name="crn_No"] {
      height: 6rem;

      fieldset {
        border: none;
      }
    }
  }

  [data-style-actor-name="LPUStep"].MuiPaper-root {
    margin: 0px !important;
    padding: 0px !important;
  }

  [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
    margin-bottom: 0px !important;
  }

  [data-style-actor-name="ClsAppLayoutOneHeaders"].appFlexVertical {
    margin: 0px !important;
    width: 100% !important;
  }

  [data-style-actor-name="ClsAppLayoutOneHeader"].actor-wrapper {
    overflow: hidden !important;
  }

  [data-style-actor-name="LPUTopUpContainer"] {
    [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
      .MuiToolbar-root {
        button:nth-child(2),
        button:nth-child(4) {
          min-width: 18rem !important;
        }
      }
    }

    [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
      button {
        min-width: 20rem !important;
        margin: 2rem 0 !important;
      }
    }
  }

  [data-style-actor-name="LPUExistingApp"].MuiPaper-root,
  [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
    margin: 0rem 1rem !important;
  }

  [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
    .MuiToolbar-root {
      justify-content: center;
    }
  }

  [data-style-action-name="TopUpLoanBtn"] {
    margin: 0px !important;
  }

  [data-style-actor-name="LPUPwdUpdatePanel"].MuiPaper-root {
    .toolbar-at-bottom {
      justify-content: space-around !important;
    }
  }

  [data-style-action-name="UpdatePasswordBtn"] {
    .MuiButton-label {
      span {
        color: white !important;
        font-weight: 500 !important;
      }
    }
  }

  [data-style-action-name="TopUpLoanBtn"] {
    .MuiButton-label {
      span {
        font-weight: 500 !important;
      }
    }
  }

  //phone view
  &[data-client="phone"] {
    [data-style-actor-name="LPULoanDetailTabs"].actor-wrapper {
      [data-style-actor-name="LPULoanDetailTabs"][data-style-id="tab-step-container"] {
        .tab-bar {
          .MuiTabs-scroller.MuiTabs-scrollable {
            overflow: hidden;

            .MuiTabs-flexContainer {
              .MuiButtonBase-root {
                flex-basis: 25%;

                .title {
                  span {
                    @media (max-width: $iphone12-pro) {
                      font-size: 1.3rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  [data-client="phone"] {
    [data-style-actor-name="LPUProfilePanel"].MuiPaper-root {
      .MuiToolbar-root {
        flex-direction: row !important;
        justify-content: space-around;
        padding: 0px;

        .MuiButtonBase-root {
          min-width: 13rem !important;
          margin: 0px;
        }
      }
    }

    [data-style-actor-name="LPUPwdUpdatePanel"].MuiPaper-root {
      .MuiToolbar-root {
        button.MuiButtonBase-root {
          min-width: 12rem !important;
        }

        button:nth-child(1) {
          margin-right: 2rem !important;

          .MuiButton-label {
            span {
              color: white !important;
            }
          }
        }
      }
    }

    [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
      margin-top: 0px !important;
    }

    [data-style-actor-name="LPUStep"].MuiPaper-root {
      margin-top: 0px !important;
      padding-top: 0px !important;
    }

    [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    [data-style-actor-name="LPUMyAppPanel"].actor-wrapper {
      margin: 0.5rem !important;
      background: #ffffff !important;
    }

    [data-style-actor-name="ClsAppLayoutOneContent"].appFlexVertical,
    [data-style-actor-name="LPUTopUpLoan"].actor-wrapper {
      background: #f8f8f8;
    }

    [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
      .MuiToolbar-root {
        justify-content: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem;

        button.MuiButtonBase-root {
          margin-right: 0px !important;
        }
      }
    }

    //steps
    [data-style-actor-name="LPULoanDetailTabs"].MuiPaper-root {
      .MuiTabs-scroller {
        background: white !important;

        .MuiTabs-flexContainer {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
          margin: 5px !important;

          button.MuiButtonBase-root {
            margin: 0px !important;
            min-width: 15rem !important;
            border-radius: 0px !important;
            background-color: white;
          }
        }
      }
    }

    div.MuiTabs-root button.Mui-selected {
      background: white !important;
      border-bottom: 4px solid #0046aa !important;
    }

    [data-style-id="base-panel"][data-style-actor-name="LPUTransferByBPAYTitlePanel"] {
      .toolbar-at-top {
        background-color: red;

        h1 {
          font-size: 1.8rem !important;
          font-weight: 600;
          text-align: initial !important;
        }
      }
    }

    [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
      margin: 1rem 1rem 0rem 1rem !important;
    }

    [data-style-actor-name="LPUTopUpLoan"].MuiPaper-root {
      margin: 0rem 1rem 1rem 1rem !important;
    }

    //header

    [data-style-actor-name="LPUHeader"].MuiPaper-root {
      button.MuiButtonBase-root {
        margin-top: 1.6rem !important;
      }
    }

    [data-style-actor-name="ClsAppLayoutOneHeaders"].appFlexVertical {
      margin: 0rem !important;
    }

    //topup loan

    [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
      margin: 0rem 1rem !important;

      h1.title {
        padding: 1rem;
        margin: 0rem;
      }
    }
  }

  [data-style-actor-name="LPULoanDetailTabs"].MuiPaper-root {
    .MuiTabs-root {
      .MuiTabs-scroller {
        button {
          .MuiTab-wrapper {
            align-items: center !important;
          }
        }
      }
    }
  }

  [data-style-actor-name="LPUTopUpContainer"].appFlexVertical {
    [data-style-actor-name="LPUExistingApp"].actor-wrapper {
      [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
        .MuiToolbar-root {
          button:nth-child(2),
          button:nth-child(4) {
            min-width: 20rem !important;
            margin: 0px !important;
            margin-bottom: 2rem !important;
          }
        }
      }
    }
  }

  [data-style-actor-name="LPUStatementContainer"].appFlexVertical {
    [data-style-actor-name="LPUStatementPanel"].actor-wrapper {
      th.MuiTableCell-root {
        border: none;
      }
      table {
        thead {
          background-color: #06429c;
          .MuiTableCell-head {
            font-family: $font-Roboto !important;
          }
        }
        .MuiTableCell-root {
          font-family: $font-Roboto !important;
          button {
            background: none;
            box-shadow: none;
          }
        }
      }
      [data-style-id="blank-message"] {
        border: 1px solid #e5e5e5;
        span {
          color: #000;
          font-size: 1.5rem;
          &:nth-child(2) {
            font-family: $font-Roboto !important;
          }
        }
      }
    }
  }

  [data-style-actor-name="LPUStep"].MuiPaper-root {
    border: none !important;
  }

  [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
    border: none !important;
  }

  //60-days certificate fixes

  [data-style-actor-name="LPURateEstimate"].MuiPaper-root {
    .MuiToolbar-root {
      flex-direction: initial;
      justify-content: center;

      button {
        background-color: transparent !important;
        margin: 0 !important;
      }
    }

    [data-style-field-name="Repayment"][data-style-id="field"] {
      [aria-label="Repayment amount"] {
        label {
          font-weight: 600 !important;
        }

        input {
          font-weight: 600 !important;
        }
      }
    }

    [data-style-field-name="Remaining_Term"][data-style-id="field"] {
      [aria-label="Remaining term"] > div {
        input {
          padding: 1rem;
        }
      }
    }
  }

  [data-style-actor-name="LPUContinueButton"] {
    .MuiToolbar-root {
      button {
        margin: 1rem auto;

        span.MuiButton-label {
          span {
            color: white !important;
          }
        }

        color: white !important;
      }
    }
  }

  [data-style-actor-name="LPURateEstimate"].MuiPaper-root {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    margin: 1.2rem !important;
    padding-bottom: 2rem !important;

    .MuiToolbar-root {
      margin: 0;
    }
  }

  [data-style-actor-name="ClsAppLayoutOneContent"].appFlexVertical {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  [data-style-actor-name="LPUMyAppPanel"].MuiPaper-root {
    .MuiCardActions-root {
      button {
        width: 22rem !important;
        margin: 2rem auto;
      }
    }
  }

  [data-style-field-name="Repayment"],
  [data-style-field-name="Repayment_Frequency"],
  [data-style-field-name="InterestRate"],
  [data-style-field-name="Remaining_Term"] {
    margin-bottom: 1rem;

    div.MuiFormControl-root {
      margin: 0;
      align-items: center;
      display: grid;
      grid-template-columns: [start] 50% [middle] 50% [end];

      label {
        position: relative;
        font-family: $font-Roboto;
        font-size: 1.6rem;
        font-weight: 100;
        transform: none !important;
      }

      div.MuiInputBase-root {
        margin-left: auto;
        margin-top: 0;
        padding: 0;

        > div {
          span {
            font-family: $font-Montserrat;
            font-size: 1.6rem;
          }
        }

        input {
          font-family: $font-Montserrat;
          font-size: 1.6rem;
        }

        fieldset {
          border: none;
        }

        div.MuiInputAdornment-root {
          width: 0.4rem !important;
        }
      }
    }
  }

  [data-style-field-name="Repayment_Frequency"] {
    svg.MuiSvgIcon-root {
      display: none;
    }
  }

  [data-style-actor-name="LPUMyAppPanel"].MuiPaper-root {
    h3.section-title {
      img:nth-child(1) {
        vertical-align: baseline !important;
      }

      img:nth-child(2) {
        vertical-align: text-top !important;
      }
    }
  }

  [data-style-field-name="Repayment_Frequency"].MuiGrid-root {
    .MuiInputBase-root {
      .MuiSelect-root {
        font-family: "Montserrat", "Roboto";
        font-size: 1.6rem;
      }
    }
  }

  [data-style-field-name="Repayment"].MuiGrid-root {
    .MuiInputBase-root {
      margin-left: 1.4rem !important;
    }
  }

  [data-style-actor-name="amountExceededPopup"] {
    .text-after {
      text-align: center;
      font-weight: 500 !important;
      font-size: 2rem;
    }
  }

  [data-style-actor-name="notEligiblePopup"] {
    text-align: center;

    .popupHead {
      line-height: 2.5rem;
    }
  }

  [data-style-actor-name="LPUOfferLetterTitle"].MuiPaper-root,
  [data-style-actor-name="LPUCongratsPanel"].MuiPaper-root {
    .MuiToolbar-root {
      h1.title {
        font-size: 1.6rem !important;
        font-weight: 400;
        line-height: 1.5;
        margin: 2rem 0;
      }
    }
  }

  [data-style-field-name="Loan_Amount"].MuiGrid-root {
    input {
      text-align: initial !important;
    }
  }

  [data-style-section-name="RateEstimateSection"].section {
    .MuiInputBase-root {
      input {
        text-align: end;
      }

      .MuiSelect-root {
        text-align: end;
        width: 13rem;
      }
    }

    [data-style-field-name="InterestRate"].MuiGrid-root,
    [data-style-field-name="Repayment_Frequency"].MuiGrid-root {
      padding-right: 0 !important;

      .MuiSelect-root {
        padding: 0;
        padding-right: 1.3rem;
      }

      .MuiInputBase-root {
        width: auto !important;
      }
    }
  }

  [data-style-field-name="Repayment"].MuiGrid-root {
    .MuiInputAdornment-root {
      span {
        margin-left: 7rem;
      }
    }
  }

  [data-style-actor-name="LPUCongratsPanel"].MuiPaper-root {
    h1.title {
      img:nth-child(1) {
        vertical-align: baseline !important;
      }
    }
  }

  [data-style-field-name="Remaining_Term"].MuiGrid-root {
    padding-right: 0px !important;
  }

  [data-style-field-name="InterestRate"].MuiGrid-root {
    margin-bottom: 0px !important;
  }

  [data-style-actor-name="LPUContractSignPanel"].actor-wrapper {
    margin: 0.5rem !important;
  }

  [data-style-actor-name="LPUContinueBtn"].MuiPaper-root {
    button {
      margin: 0px auto;

      .MuiButton-label {
        span {
          color: white;
        }
      }
    }
  }

  [data-style-actor-name="LPUNotSignedPanel"].actor-wrapper {
    [data-style-id="title"] {
      font-size: 1.6rem !important;
      font-weight: 500;
      padding: 3rem;
    }

    button[data-style-action-name="BackBtn"] {
      margin: auto;
      background-color: white !important;

      span.MuiButton-label > span {
        font-weight: 400;
      }
    }
  }

  [data-style-actor-name="LPUCongratsPanel"].MuiPaper-root
    [data-style-action-name="OkBtn"] {
    margin: auto !important;
  }

  [data-style-actor-name="LPUCongratsPanel"].MuiPaper-root
    [data-style-action-name="OkBtn"]
    .MuiButton-label
    span {
    font-weight: 400 !important;
    color: white !important;
  }
  [data-style-actor-name="LPUSelfServiceContainer"] {
    [data-style-actor-name="LPUAPSDetailsPanel"].MuiPaper-root {
      .MuiGrid-root.MuiGrid-item {
        box-shadow: 0 0px 2px 2px #80808059 !important;
        margin: 1rem;
        padding: 1.5rem !important;
        [data-style-id="card-entry"] {
          margin: 0 !important;
          [data-style-id="card-actions"] {
            [data-style-id="action"] {
              width: auto !important;
              height: auto !important;
              padding: 1rem;
              .MuiButton-label {
                span {
                  font-size: 1.4rem;
                  line-height: initial;
                }
              }
            }
          }
        }
      }
      [data-style-id="blank-message"] {
        border: 1px solid #e5e5e5;
        span {
          color: #000;
          font-size: 1.5rem;
          &:nth-child(2) {
            font-family: $font-Roboto !important;
          }
        }
      }
    }
  }
}

[data-client="desktop"][data-style-stage-name="servicingPortal"] {
  [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper {
    top: 7rem !important;
  }

  [data-style-field-name="Repayment"].MuiGrid-root {
    .MuiInputAdornment-root {
      span {
        margin-left: 21rem;
      }
    }
  }

  [data-style-actor-name="LPUAccountNumberPanel"].actor-wrapper {
    .MuiPaper-root {
      margin: 0 0.5rem !important;
    }
  }
}

[data-style-actor-name="amountExceededPopup"].MuiPaper-root .text-after {
  font-size: 2rem;
  text-align: center;
}
