[data-style-stage-name="servicingTopUp"] {
  //Header

  [data-style-actor-name="servicingTopUp"].appFlexVertical {
    [data-style-actor-name="HeaderContent"] {
      .MuiPaper-root {
        background: #0046aa !important;
        display: flex;
        justify-content: flex-end;
      }
    }
    .loading-error {
      .error-icon,
      .error {
        display: none;
      }
    }
  }
  [data-style-actor-name="LPUSteps"].MuiPaper-root {
    .primary {
      .MuiPaper-root {
        //display:none;
      }
    }
  }

  //button fixes
  [data-style-actor-name="LPUTopUpRevisedPanel"].MuiPaper-root,
  [data-style-actor-name="LPUTopUpRevisedButton"].MuiPaper-root,
  [data-style-actor-name="LPUPersonalDetailPanel"].MuiPaper-root {
    .MuiToolbar-root {
      flex-direction: column-reverse !important;

      button {
        margin: auto !important;
      }
    }
  }

  //progress bar fixes
  [data-style-actor-name="LPUProgressBar"] {
    .MuiPaper-root {
      .text-after {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  [data-style-section-name="Manual_Address_Section"].MuiGrid-root {
    display: none !important;
  }

  [data-style-section-name="LoanPurposeSection"] {
    [data-style-id="field"] {
      display: flex;
      justify-content: center;
      &[data-style-field-name="Select_Loan_Purpose1"] {
        label.MuiFormLabel-root {
          margin-bottom: 1.2rem;
        }
        .MuiFormGroup-root[role="radiogroup"] {
          .MuiGrid-container {
            width: 100%;
            margin: 0;
            display: grid;
            grid-gap: 1.6rem;
            grid-template-columns: 1fr 1fr;
            .MuiGrid-item {
              padding: 0 !important;
              position: relative;
              &::before {
                display: block;
                height: 5rem;
                width: 100%;
                left: 0;
                content: "";
                position: absolute;
                background-position: 50% !important;
                background-repeat: no-repeat !important;
                z-index: 1;
              }
              &:nth-child(1) {
                &::before {
                  background: url(/resource/LFS_Car);
                  top: 0.8rem;
                  background-size: 8rem !important;
                }
              }
              &:nth-child(2) {
                &::before {
                  background: url(/resource/LFS_MoneyBundle);
                  background-size: 5rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(3) {
                &::before {
                  background: url(/resource/LFS_Renovation);
                  background-size: 3.8rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(4) {
                &::before {
                  background: url(/resource/LFS_Travel_2);
                  background-size: 5.5rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(5) {
                &::before {
                  background: url(/resource/LFS_Medical);
                  background-size: 6rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(6) {
                &::before {
                  background: url(/resource/LFS_Bills);
                  background-size: 3.3rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(7) {
                &::before {
                  background: url(/resource/LFS_Sofa_Household);
                  background-size: 7.5rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(8) {
                &::before {
                  background: url(/resource/LFS_Reading);
                  background-size: 4.5rem !important;
                  top: 0.8rem !important;
                }
              }
              &:nth-child(9) {
                &::before {
                  background: url(/resource/LFS_Car);
                  top: 0.8rem;
                  background-size: 8rem !important;
                }
              }
              &:last-child {
                &::before {
                  background: url(/resource/LFS_BaloonDog);
                  background-size: 7rem !important;
                  top: 0.8rem !important;
                }
              }
              .MuiFormControlLabel-root {
                margin: 0 !important;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;
                span.MuiIconButton-root {
                  width: 100% !important;
                  height: 9rem !important;
                  border: 0.2rem solid #000 !important;
                  background: #fff !important;
                  &.Mui-checked {
                    border: 2px solid #0046aa !important;
                    background: #d8ecff !important;
                  }
                }
                span.MuiFormControlLabel-label {
                  width: 100% !important;
                  line-height: initial;
                  position: absolute !important;
                  bottom: 1.8rem;
                  span.MuiListItemText-primary {
                    font-size: 1.4rem;
                    font-family: "Roboto", "Montserrat" !important;
                    width: 100% !important;
                    font-weight: 400 !important;
                  }
                }
              }
            }
          }
        }
      }
      &[data-style-field-name="Other_Loan_Purpose"] {
        padding: 2rem 2.6rem 0 !important;
      }
    }
    [data-style-id="section-title"] {
      display: grid;
      grid-gap: 1rem;
      .subSection {
        font-size: 1.6rem;
        font-family: Roboto;
        font-weight: 100;
      }
    }
  }

  /*small css issues*/

  [data-style-stage-name="servicingPortal"] {
    [data-style-actor-name="LPUExistingApp"].MuiPaper-root {
      .MuiToolbar-root {
        button:nth-child(4) {
          margin: auto !important;
        }
        button:nth-child(2) {
        }
      }
    }
  }

  [data-style-actor-name="LPUPersonalDetailPanel"].MuiPaper-root {
    .MuiToolbar-root {
      button:nth-child(2) {
        margin: auto !important;
      }
    }
    [data-style-section-name="ContactDetailsSection"] {
      [data-style-field-name="Home_Address"] {
        [data-style-id="address-suggestions"] {
          height: auto;
          position: relative !important;
          ul[role="listbox"] {
            height: auto;
            overflow-y: scroll;
            max-height: 10rem;
          }
        }
      }
    }
  }

  //card view
  [data-style-field-name="Current_Loan_Balance"],
  [data-style-field-name="Revised_loan_total"],
  [data-style-field-name="Interest_rate"],
  [data-style-field-name="Monthly_repayments"],
  [data-style-field-name="Fortnightly_repayments"],
  [data-style-field-name="Weekly_repayments"],
  [data-style-field-name="New_Top_up_loan_amt"],
  [data-style-field-name="Insurance_Rebate_Amount__c"],
  [data-style-field-name="migrated_Revised_loan_total"],
  [data-style-field-name="LEFPERCENTAmount"] {
    margin-bottom: 1rem;
    div.MuiFormControl-root {
      margin: 0;
      align-items: center;
      display: grid;
      grid-template-columns: [start] 50% [middle] 50% [end];
      label {
        position: relative;
        font-family: $font-Roboto;
        font-size: 1.6rem;
        font-weight: 100;
        transform: none !important;
      }
      div.MuiInputBase-root {
        margin-left: auto;
        margin-top: 0;
        padding: 0;
        > div {
          span {
            font-family: $font-Montserrat;
            font-size: 1.6rem;
          }
        }
        input {
          font-family: $font-Montserrat;
          font-size: 1.5rem;
        }
        fieldset {
          border: none;
        }
        div.MuiInputAdornment-root {
          width: 0.4rem !important;
        }
      }
    }
  }

  [data-style-actor-name="LPUTopUpRevisedPanel"].MuiPaper-root {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    margin: 4rem 2rem;
    padding: 0.2rem 0.5rem 2rem 0.5rem;
  }
}

//3 march 2022

[data-style-actor-name="LPUExistingApp"].MuiPaper-root {
  .MuiToolbar-root {
    button.uiButtonBase-root:nth-child(2) {
      min-width: 20rem !important;
    }
  }
}
[data-style-stage-name="servicingTopUp"] {
  [data-style-actor-name="LPUSteps"].actor-wrapper{
    [data-style-id="tab-step-body"]{
      margin: 0 auto;
      min-height: 42rem;
    }
  }
  [data-style-section-name="LicenseCheckSection"].section {
    [data-style-field-name="I_Agree_To_The_Above"] {
      background: #ececec;
      &.colorToggle {
        background: #cee6ff;

        span.MuiFormControlLabel-label {
          color: #0046aa;
        }
      }
      .MuiFormControl-root {
        .MuiFormControlLabel-label {
          padding-left: 0 !important;
          margin-left: 0 !important;
          p {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
  [data-style-actor-name="HeaderContent"].actor-wrapper {
    height: 7rem !important;
    .MuiToolbar-root {
      .MuiButton-root {
        box-shadow: none;
        padding: 0px;
        color: white;
        background: none;
        text-transform: none;
        font-size: 1.5rem;
      }
    }
  }
  [data-style-actor-name="LPUConfirmationPanel"] {
  .MuiTypography-root.MuiTypography-body2 {
    background: #e5e5e5;
    padding: 1rem;
    margin: 3rem 0;
  }
  button.MuiButton-containedPrimary {
    background-color: $color-tertiary-btn !important;
    width: auto;
  }
  h1[data-style-id="title"] {
    font-size: 1.6rem !important;
    text-align: center;
    font-weight: 600 !important;
  }
  .MuiTypography-root {
    //margin: 0 1.5rem !important;
    padding: 0 2.2rem !important;
    .disc {
      .confPts {
        li {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  }
  [data-style-actor-name="LPULoanPurposePanels"].MuiPaper-root {
    .MuiToolbar-root {
      button:nth-child(2) {
        display: none;
      }
    }
  }
  [data-style-section-name="RevisedLoanDetailSection"] {
    .MuiInputBase-root {
      input {
        padding: 1rem 0 !important;
        text-align: right;
      }
    }
  }
  [data-style-actor-name="LPUTopupRateEstimatePanel"] {
    [data-style-id="base-panel"] {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
      margin: 1.2rem !important;
      padding-bottom: 2rem !important;
      button.MuiButton-containedPrimary {
        background-color: $color-tertiary-btn !important;
      }
      .MuiToolbar-gutters {
        display: none;
      }
      div {
        [data-style-id="record"] {
          padding: 0 1rem;
          [data-style-section-name="RateEstimateSection"].section {
            label.MuiFormLabel-root {
              background: white !important;
              width: auto !important;
            }
          }
          div.section {
            padding: 0;
            [data-style-id="section-title"] {
              font-size: 2rem !important;
              color: $color-black-text;
            }
            [data-style-field-name="Repayment"],
            [data-style-field-name="IndicativeRate"],
            [data-style-field-name="LEF"] {
              div.MuiFormControl-root {
                margin: 0;
                align-items: center;
                display: grid;
                grid-template-columns: [start] 50% [middle] 50% [end];
                label {
                  position: relative;
                  font-family: $font-Roboto;
                  font-size: 1.6rem;
                  font-weight: 100;
                  transform: none !important;
                }
                div.MuiInputBase-root {
                  margin-left: auto;
                  margin-top: 0;
                  padding: 0;
                  > div {
                    span {
                      font-family: $font-Montserrat;
                      font-size: 1.6rem;
                    }
                  }
                  input {
                    font-family: $font-Montserrat;
                    font-size: 1.6rem;
                    text-align: right;
                    padding-right: 0;
                  }
                  fieldset {
                    border: none;
                  }
                  div.MuiInputAdornment-root {
                    width: 0.4rem !important;
                  }
                }
              }
            }
          }
        }
      }
      > .MuiToolbar-root {
        margin: 0 !important;
        [data-style-id="action"] {
          padding: 0;
        }
      }
    }
  }
  [data-style-actor-name="LPUTopupRateEstimatePanel"].MuiPaper-root {
  .MuiToolbar-root {
    flex-direction: initial !important;
    padding: 0px !important;
    justify-content: space-around !important;
    display: flex;
  }
  }
  .btnText {
      color: $color-primary !important;
      font-weight: 100;
      font-size: 1.4rem !important;
  }
  button.MuiButton-containedSecondary {
  span.fa {
    font-family: fontawesome !important;
  }
 }
}

//button color fixes

[data-style-actor-name="LPUContinueButton"] {
  .MuiToolbar-root {
    button.MuiButtonBase-root {
      background-color: #21a637 !important;
    }
  }
}

[data-style-actor-name="LPUDrivingLicenceContainer"].actor-wrapper {
  [data-style-actor-name="LPUDrivingLicenceButtonPanel"].actor-wrapper {
    [data-style-actor-name="LPUDriverLicenceButtonPanel"][data-style-id="base-panel"] {
      .toolbar-at-top {
        display: none !important;
      }
    }
  }
  [data-style-actor-name="LPUDrivingLicenceStaticContent"].actor-wrapper {
    [data-style-actor-name="DLStateACTStaticContent"][data-style-id="static-content"] {
      .ACT.NSW.NT.QLD.SA.TAS.VIC.WA {
        display: contents !important;
      }
      .NSW.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NT.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.QLD.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.SA.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.TAS.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.VIC.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.WA {
        display: none !important;
      }
      .ACT.NSW.NT.QLD.SA.TAS.VIC {
        display: none !important;
      }
    }
  }
}

[data-style-actor-name="LPUDrivingLicencePanel"].actor-wrapper{
  .MuiToolbar-root.toolbar-at-bottom{
    display: none !important;
  }
}

//Tillium button hide using css

[data-style-actor-name="LPUContactDetailsPanel"].actor-wrapper,
[data-style-actor-name="LPULoanPurposePanels"].actor-wrapper,
[data-style-actor-name="LPUBorrowAmountPanels"].actor-wrapper,
[data-style-actor-name="LPUDrivingLicencePanel"].actor-wrapper,
[data-style-actor-name="LPUSetPwdPanel"].actor-wrapper {
  .toolbar-at-top {
    display: none;
  }
}

//3 march

[data-style-actor-name="LPUMyAppPanel"].MuiGrid-root {
  .MuiPaper-root {
    margin: 0px !important;
  }
}

[data-style-actor-name="LPUMyAppPanel"].MuiPaper-root {
  .MuiGrid-root {
    .MuiGrid-root {
      .MuiPaper-root {
        margin: 0px !important;
        .MuiCardContent-root {
          .record-content {
            div.section:nth-child(1) {
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }
}

//Desktop view css fixes

[data-style-stage-name="servicingTopUp"][data-client="desktop"] {
  [data-style-actor-name="servicingTopUp"].actor-wrapper {
    background-color: $color-grey;
  }
  [data-style-actor-name="MainContent"].actor-wrapper,
  [data-style-actor-name="Footer"].actor-wrapper {
    width: 75rem;
    margin: 0 auto;
    top: 0.6rem;
  }

  [data-style-actor-name="LPULoanPurposePanels"].actor-wrapper {
    [data-style-field-name="Select_Loan_Purpose1"],
    [data-style-field-name="Select_Loan_Purpose2"],
    [data-style-field-name="Other_Loan_Purpose"] {
      margin: 0 12rem;
    }
  }
}
