[pageid="lpu_retrieve_rate_nav_str"]{
    [data-style-stage-name="Home"][data-client="phone"]{
        [data-style-actor-name="LPUContainer"].actor-wrapper{
            width: 100% !important;
            
            [data-style-actor-name="LPURetrieveRatePanel"].actor-wrapper{
                margin: 3rem 2rem !important;
                box-shadow: 0px 0px 3px #979797 !important;
                min-height: 0;
                [data-style-id="base-panel"][data-style-actor-name="LPURetrieveRatePanel"]{
                    .toolbar-at-top {
                        display: none ;
                    }
                     > :nth-child(2){
                         margin-top: 2rem !important;
                     }
                }
                [data-style-id="text-after"]{
                    padding: 1rem !important;
                    text-align: center;
                    background: #FFDEEF;
                    margin: 1rem !important;
                    color: #000 !important;
                }
            }
        }
    }
}

[data-style-id="action"][data-style-action-name="RetrieveQuoteBtn"]{
    margin-top: 2rem !important;
    margin-bottom: 4rem;
}

[pageid="lpu_retrieveQuote_nav_str"]{
    [data-style-stage-name="Home"]{
        &[data-client="phone"]{
            [data-style-id="steps"]{
                .MuiPaper-root.MuiStepper-root{
                    display: none;
                }
            }
            [data-style-id="base-panel"][data-style-actor-name="LPURetrieveRateEstimatePanel"]{
                .toolbar-at-top{
                    display: none;
                }
            }
            [data-style-id="base-panel"][data-style-actor-name="LPURetrieveRateEstimatePanel"]{
                margin: 1rem 2rem !important;
                padding-top: 1rem !important;
                box-shadow: 0px 0px 3px #979797 !important;
            }
            [data-style-actor-name="Header"][data-style-id="static-content"]{
                >div{
                    img{
                        width: 16rem !important;
                    }
                }
            }
        }
        [data-style-actor-name="Header"][data-style-id="static-content"]{
            margin: 0 !important;
            padding: 0 !important;
            height: 100% !important;
            >div{
                height: 100% !important;
                display: flex;
                align-items: center;
                img{
                    position: relative !important;   
                }
            }
        }
    }
}

