[data-style-actor-name="LPUHeader"] {
    [data-style-id="static-content"] {
        margin: 0 !important;
        overflow: hidden;
        [data-style-action-name="CheckEligibilityBtn"] {
            span.MuiButton-label {
                span {
                    color: #fff !important;
                    text-align: left;
                    font-size: 1.3rem;
                    margin-top: 0.2rem;
                    @media screen and (max-width: 500px) {
                        font-size: 1.4rem;
                    }
                    @media screen and (max-width: 400px) {
                        font-size: 1rem;
                    }
                }
            }
        }
        img {
            @media screen and (max-width: 500px) {
                width: 200px !important;
            }
            @media screen and (max-width: 400px) {
                width: 150px !important;
            }
        }
    }
}

[data-style-actor-name="ClsAppLayoutOneHeader"].actor-wrapper {
    // @media screen and (max-width: 500px) {
    //     height: 65px !important;
    // }
    [data-style-actor-name="ClsAppLayoutOneHeader"] {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
}