[data-style-id="tab-step-body"] {
    div.actor-wrapper {
        [data-style-id="division"] {
            div.actor-wrapper {
                div.MuiPaper-root {
                    border: none !important;
                    box-shadow: none;
                    >div {
                        h1 {
                            @extend %h1_title_bold_large;
                        }
                        h2 {
                            @extend %h2_title_small;
                            margin: 2rem 0 0 0;
                        }
                        div.record-content {
                            @include record-content("SlCanadaApplyBeforeLogin");
                            div.section {
                                h3 {
                                    @extend %h3_title;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-style-id="tab-step-body"] {
    div.actor-wrapper {
        [data-style-id="division"] {
            div.actor-wrapper {
                div.MuiPaper-root {
                    border: none !important;
                    box-shadow: none;
                    >div {
                        div.record-content {
                            @include record-content("SlCanadaApplyBeforeLogin");
                            div.section {
                                h3 {
                                    @extend %h3_title;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}