div[data-style-id="app"] {
    [data-style-id="base-panel"] {
        div.toolbar-at-top {
            div.title-group {
                margin: 0;
            }
            h1 {
                @extend %h1_title_bold_large;
            }
            h2 {
                @extend %h2_title_small;
            }
        }
        div.entries {
            div.record-content {
                padding: 0;
            }
        }
    }
}

[data-style-id="base-panel"] {
    margin: 0 auto;
    button.MuiButton-containedSecondary {
        padding-top: 2rem;
    }
}

[data-style-id="section-title"] {
    font-weight: 600 !important;
    font-size: 1.6rem !important;
}