button.MuiButton-containedPrimary {
  background-color: $color-primary-btn;
  margin: 0 auto;
  /*border-radius: 0.7rem;
    padding: 1.3rem 4rem;*/
  text-transform: none !important;
  width: 12.8rem;
  height: 4.6rem;
  &:hover {
    background-color: $color-primary;
  }
  span {
    font-size: $medium;
    font-family: $font-Roboto;
    font-weight: $font-medium;
  }
}

button.MuiButton-containedSecondary {
  color: $color-secondary-btn;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  text-transform: none !important;
  margin: 0;
  &:hover {
    background-color: transparent;
    box-shadow: none;
  }
  span.MuiButton-label {
    span {
      font-family: $font-Roboto;
      color: $color-charcoal;
      font-size: $small;
      font-weight: $thin;
      i {
        margin-right: 0.5rem;
        font-weight: 700;
      }
    }
  }
}

[data-style-id="tab-step-body"] {
  [data-style-id="base-panel"] {
    div.toolbar-at-bottom {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      margin: 2rem 0;
    }
  }
}
