[data-style-id="card-view"] {
  div.MuiGrid-container {
    padding: 0 0 1rem 0;
    div.MuiGrid-item {
      /* box-shadow: 0px 3px 6px 0 $color-dove;*/
      [data-style-id="card-entry"] {
        width: 100%;
        [data-style-id="card-content"] {
          padding: 0;
        }
        [data-style-id="card-actions"] {
          padding: 0;
        }
      }
    }
  }
}

[data-style-id="card-view"] {
  [data-style-field-name="Name"] {
    [data-style-id="field-label"] {
      color: $color-bright-blue !important;
      font-family: $font-Montserrat;
    }
    [data-style-id="card-view-value"] {
      color: $color-bright-blue;
    }
  }
}
