[data-style-id="detail-view"] {
    [data-style-id="field"] {
        transform: none !important;
    }
}

[data-style-id="detail-view"] {
    box-shadow: none !important;
    div.toolbar-at-top {
        padding: 0;
    }
    h1 {
        font-family: $font-Montserrat;
        font-size: 2.6rem;
        padding: 0;
        margin-top: 0;
    }
    h3 {
        font-family: $font-Montserrat;
        font-size: 1.8rem;
        padding: 0.5rem 0 1.5rem 1rem !important;
        color: $color-bright-blue;
        .fa {
            margin-right: 1rem;
        }
    }
    [data-style-id="field"] {
        padding-left: 1.2rem !important;
        div.MuiFormControl-root {
            label {
                font-size: $medium;
                transform: none !important;
                @media (max-width: $width-breakpoint8) {
                    font-size: 1.4rem !important;
                }
            }
            div.MuiInputBase-root {
                font-size: $medium;
                padding: 0;
                @media (max-width: $width-breakpoint8) {
                    font-size: 1.4rem !important;
                }
                .MuiInputAdornment-root {
                    margin-right: 0;
                    span {
                        font-family: $font-Montserrat !important;
                    }
                }
                input {
                    font-family: $font-Montserrat !important;
                    font-size: $medium !important;
                    @media (max-width: $width-breakpoint8) {
                        font-size: 1.4rem !important;
                    }
                }
            }
        }
    }
    [data-style-id="field"].picklist {
        div.MuiSelect-root {
            padding: 0;
            font-family: $font-Montserrat !important;
        }
        svg {
            display: none;
        }
    }
    [data-style-id="field"].percent {
        div.MuiInputBase-root {
            input {
                width: 5rem;
            }
            div.MuiInputAdornment-root {
                margin-left: -0.2rem;
            }
        }
    }
}