[data-style-id="disclosure"] {
  padding: 0;
  div.description {
    display: none;
  }
  label {
    align-items: flex-start;
    margin: 0;
    @extend %flex_row;
    justify-content: flex-start;
    align-items: flex-start;
    p.confirmation {
      font-size: 1.6rem;
      font-family: $font-Roboto !important;
      font-weight: $light !important;
    }
    span.MuiButtonBase-root {
      padding: 0;
    }
    span.MuiButtonBase-root.Mui-checked {
      svg {
        fill: $color-blue;
      }
    }
    span.MuiTypography-root {
      display: block !important;
      padding-left: 0.5rem;
      p {
        font-family: $font-Montserrat;
        text-align: justify;
      }
    }
  }
}
