/*
[data-style-id="field"].string,
[data-style-id="field"].number,
[data-style-id="field"].addressAutocomplete,
[data-style-id="field"].currency,
[data-style-id="field"].percent,
[data-style-id="field"].password,
[data-style-id="field"].picklist,
[data-style-id="field"].email {
  padding: 0 !important;
  margin-bottom: 1rem;
  div.MuiFormControl-root {
    margin-top: 0;
    label {
      color: $color-charcoal;
      font-family: $font-Montserrat;
      span.MuiFormLabel-asterisk.MuiInputLabel-asterisk {
        display: none;
      }
    }
    label.MuiInputLabel-outlined {
      transform: translate(0px, 20px) scale(1);
    }
    label.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(1);
    }
    label.MuiFormLabel-root[data-shrink="false"] {
      width: 100%;
      text-align: center;
    }
    label.MuiFormLabel-root[data-shrink="true"] {
      padding: 0rem 0rem 0rem 0rem;
    }
    div.MuiInputBase-root {
      border-radius: 0.8rem;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      input {
        font-family: $font-Montserrat;
        font-size: 1.6rem;
        [id="placeholder"]{
          font-family: $font-Montserrat;
        }
      }
      fieldset {
        border: 2px solid $color-charcoal;
        legend {
          span {
            font-family: $font-Montserrat;
            font-size: 1.4rem;
          }
        }
      }
      .MuiInputAdornment-root {
        span {
          font-family: $font-Montserrat;
        }
      }
    }
    div.MuiInputBase-root.Mui-focused.Mui-error {
      fieldset {
        border-color: $color-error;
      }
    }
    div.MuiInputBase-root.Mui-focused {
      fieldset {
        border-color: $color-gold;
      }
    }
    p.Mui-error {
      @extend %error_message;
      font-size: 1.4rem;
      text-align: left;
      margin: 0.3rem 0 0;
      span {
        font-family: $font-Montserrat;
      }
    }
  }
}
[data-style-id="field"].picklist {
  div.MuiFormControl-root {
    div.MuiInputBase-root {
      div.MuiSelect-root {
        font-family: $font-Montserrat;
      }
    }
  }
}
[data-style-id="field"].selectbuttons {
  p {
    @extend %error_message;
  }
}
[data-style-id="field"].multiselectbuttons {
  padding: 0;
  p {
    @extend %error_message;
  }
  ul {
    padding: 0;
    div.MuiGrid-container {
      width: 100%;
      margin: 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 12rem 12rem 12rem 12rem;
      @media screen and (max-width: $width-721) {
        grid-template-columns: 11rem 11rem 11rem 11rem;
      }
      @media screen and (max-width: $width-651) {
        grid-template-columns: 9rem 9rem 9rem 9rem;
      }
      @media screen and (max-width: $width-491) {
        //428px
        grid-template-columns: 7rem 7rem 7rem 7rem;
        grid-gap: 1rem;
      }
      div.MuiGrid-item {
        max-width: fit-content;
        padding: 0;
        div.MuiButtonBase-root {
          padding: 0;
          border: 0.2rem solid $color-dove;
          border-radius: 0.9rem;
          background-color: $color-white;
          background-size: 5rem 6rem;
          background-repeat: no-repeat;
          width: 12rem;
          height: 12rem;
          background-position: 3.4rem 1rem;
     c
          @media screen and (max-width: $width-651) {
            width: 9rem;
            height: 11rem;
            background-size: 4rem 5rem;
            background-position: 2.5rem 1.5rem;
          }
          @media screen and (max-width: $width-491) {
            //428px
            background-size: 3rem 4rem;
            width: 7rem;
            height: 9rem;
            background-position: 2rem 1rem;
          }
          &.Mui-selected {
            border: 0.2rem solid $color-gold;
          }
          div.MuiListItemText-root {
            text-align: center;
            margin-top: auto;
            span.MuiTypography-root {
              display: block;
              font-family: $font-Montserrat;
              color: $color-charcoal;
              font-size: 1.4rem;
              line-height: 1.8rem;
              @media screen and (max-width: $width-721) {
                font-size: 1.2rem;
              }
              @media screen and (max-width: $width-491) {
                font-size: 1rem;
              }
              @media screen and (max-width: $width-iphoneXSmax) {
                line-height: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
[data-style-field-name="Select_Loan_Purpose"] {
  ul {
    div.MuiGrid-container {
      div.MuiGrid-item {
        &:nth-child(1) {
          @include radiobutton-image(url(getUrl($env,DebtConsolidationIcon)));
        }
        &:nth-child(2) {
          @include radiobutton-image(url(getUrl($env,PayBillsIcon)));
        }
        &:nth-child(3) {
          @include radiobutton-image(url(getUrl($env,HomeRenovationsIcon)));
        }
        &:nth-child(4) {
          @include radiobutton-image(url(getUrl($env,EducationIcon)));
        }
        &:nth-child(5) {
          @include radiobutton-image(url(getUrl($env,TravelIcon)));
        }
        &:nth-child(6) {
          @include radiobutton-image(url(getUrl($env,InvestmentPurposeIcon)));
        }
        &:nth-child(7) {
          @include radiobutton-image(url(getUrl($env,CarPurposeIconV2)));
        }
        &:nth-child(8) {
          @include radiobutton-image(url(getUrl($env,OtherPurposeIcon)));
        }
      }
    }
  }
}

[data-style-id="field"].radiobuttons {
  outline: none !important;
  p {
    @extend %error_message;
  }
  fieldset.MuiFormControl-root {
    outline: none !important;
    div.MuiFormGroup-root {
      outline: none !important;
      div.MuiGrid-root.MuiGrid-container {
        margin: 0;
        outline: none !important;
        div.MuiGrid-root.MuiGrid-item {
          label {
            margin-right: 2.2rem;
            span.MuiButtonBase-root {
              padding: 0;
              border: 0.2rem solid $color-dove;
              border-radius: 0.9rem;
              background-size: 4rem 5rem;
              background-repeat: no-repeat;
              width: 12rem;
              height: 12rem;
              background-position: 3.8rem 1rem;
              @media screen and (max-width: $width-721) {
                width: 11rem;
                height: 11.5rem;
              }
              @media screen and (max-width: $width-651) {
                width: 9rem;
                height: 11rem;
                background-size: 4rem 5rem;
                background-position: 2.5rem 1.5rem;
              }
              @media screen and (max-width: $width-491) {
                background-size: 3rem 4rem;
                width: 8rem;
                height: 9rem;
                background-position: 1.8rem 1rem;
              }
              &.Mui-checked {
                border: 2px solid $color-gold;
              }
              span.MuiIconButton-label {
                div {
                  opacity: 0;
                }
                &::after {
                  display: none;
                }
              }
            }
            span.MuiTypography-root {
              margin-top: 0rem;
              height: fit-content;
              color: $color-charcoal;
              font-size: 1.4rem;
              z-index: 9;
              font-family: $font-Montserrat;
              position: absolute;
              display: block;
              width: 12rem;
              @media screen and (max-width: $width-721) {
                width: 11rem;
              }
              @media screen and (max-width: $width-651) {
                width: 9rem;
              }
              @media screen and (max-width: $width-491) {
                width: 8rem;
                font-size: 1.2rem;
              }
              li.MuiListItem-root {
                padding: 0;
                div.MuiListItemText-root {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  width: 12rem;
                  @media screen and (max-width: $width-721) {
                    width: 11rem;
                  }
                  @media screen and (max-width: $width-651) {
                    width: 9rem;
                  }
                  @media screen and (max-width: $width-491) {
                    width: 8rem;
                  }
                  span.MuiTypography-root {
                    margin-top: 2rem;
                    display: block;
                    text-align: center;
                    width: 12rem;
                    @media screen and (max-width: $width-721) {
                      width: 11rem;
                    }
                    @media screen and (max-width: $width-651) {
                      width: 9rem;
                    }
                    @media screen and (max-width: $width-491) {
                      width: 8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
[data-style-id="field"].range {
  outline: none !important;
  div.MuiFormControl-root {
    > div.MuiGrid-root {
      div.MuiGrid-root:nth-child(1) {
        border: 2px solid #333333;
        border-radius: 0.8rem;
        div.MuiFormControl-root {
          margin: 0;
          div.MuiInputBase-root {
            &::before {
              display: none !important;
            }
            span {
              font-size: $large;
            }
            input {
              font-size: $large;
              &::after {
                display: none;
              }
            }
            fieldset {
              border: none;
              outline: none !important;
            }
          }
        }
      }
      div.MuiGrid-root:nth-child(3) {
        span.MuiSlider-root {
          display: flex;
          flex-direction: column;
          justify-content: center;
          span.MuiSlider-rail {
            background-color: $color-charcoal;
            height: 0.3rem;
            opacity: 1;
            //top: 2.5rem;
          }
          span.MuiSlider-track {
            background-color: $color-gold;
            height: 0.8rem;
            //top: $large;
          }
          span.MuiSlider-thumb {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $color-gold;
            margin: 0;
            //top: 1.3rem;
          }
        }
      }
    }
  }
}
*/

.MuiGrid-spacing-xs-3>.MuiGrid-item {
    padding: 0 12px !important;
}

[data-style-id="field"].multiselectbuttons {
    padding: 0;
    ul {
        padding: 0;
        div.MuiGrid-container {
            width: 100%;
            margin: 0;
            display: grid;
            grid-gap: 1.6rem;
            grid-template-columns: 1fr 1fr;
            div.MuiGrid-item {
                max-width: fit-content;
                padding: 0 !important;
                div.MuiButtonBase-root {
                    padding: 0;
                    border: 0.2rem solid $color-sec-text;
                    border-radius: 0.5rem;
                    background-color: $color-white;
                    background-size: 7rem 7rem;
                    background-repeat: no-repeat;
                    width: 15rem;
                    height: 10rem;
                    background-position: 4rem 0rem;
                    &.Mui-selected {
                        border: 0.2rem solid $color-primary-btn;
                        .MuiListItemText-root {
                            span.MuiListItemText-primary {
                                color: $color-primary-btn;
                            }
                        }
                    }
                    div.MuiListItemText-root {
                        text-align: center;
                        margin-top: auto;
                        span.MuiTypography-root {
                            display: block;
                            font-family: $font-Roboto;
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                            color: $color-black-text
                        }
                    }
                }
            }
        }
    }
}

[data-style-field-name="Select_Loan_Purpose"] {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    ul {
        div.MuiGrid-container {
            div.MuiGrid-item {
                &:nth-child(1) {
                    @include radiobutton-image(url(getUrl($env,LFS_Car)));
                }
                &:nth-child(2) {
                    @include radiobutton-image(url(getUrl($env,LFS_MoneyBundle)));
                }
                &:nth-child(3) {
                    @include radiobutton-image(url(getUrl($env,LFS_Renovation)));
                }
                &:nth-child(4) {
                    @include radiobutton-image(url(getUrl($env,LFS_Travel)));
                }
                &:nth-child(5) {
                    @include radiobutton-image(url(getUrl($env,LFS_Medical)));
                }
                &:nth-child(6) {
                    @include radiobutton-image(url(getUrl($env,	LFS_BaloonDog)));
                }
                &:nth-child(7) {
                    @include radiobutton-image(url(getUrl($env,CarPurposeIconV2)));
                }
                &:nth-child(8) {
                    @include radiobutton-image(url(getUrl($env,OtherPurposeIcon)));
                }
            }
            div.MuiGrid-item {
                .MuiButtonBase-root.Mui-selected {
                    &:nth-child(1) {
                        @include radiobutton-image(url(getUrl($env,LFS_Car_Blue)));
                    }
                    &:nth-child(2) {
                        @include radiobutton-image(url(getUrl($env,LFS_MoneyBundle)));
                    }
                    &:nth-child(3) {
                        @include radiobutton-image(url(getUrl($env,LFS_Renovation)));
                    }
                    &:nth-child(4) {
                        @include radiobutton-image(url(getUrl($env,LFS_Travel)));
                    }
                    &:nth-child(5) {
                        @include radiobutton-image(url(getUrl($env,LFS_Medical)));
                    }
                    &:nth-child(6) {
                        @include radiobutton-image(url(getUrl($env,	LFS_BaloonDog)));
                    }
                    &:nth-child(7) {
                        @include radiobutton-image(url(getUrl($env,CarPurposeIconV2)));
                    }
                    &:nth-child(8) {
                        @include radiobutton-image(url(getUrl($env,OtherPurposeIcon)));
                    }
                }
            }
        }
    }
}


/*
.MuiTextField-root {
    label.MuiInputLabel-outlined {
        font-weight: 700;
    }
}
*/

[data-style-id="field"] {
    label {
        font-size: 1.6rem;
        color: $color-black-text
    }
}

.MuiFormLabel-asterisk {
    display: none;
}