[data-style-actor-name="LPUQuoteProgressTab"].actor-wrapper {
    [data-style-actor-name="LPUQuoteProgressTab"] {
        margin: 0 !important;
        padding: 0 !important
    }
}

[data-client="desktop"] {
    [data-style-actor-name="ClsAppLayoutOneMain"].actor-wrapper {
        max-width: 80rem;
        margin: 0 auto !important;
        [data-style-actor-name="LPUInstructions"] {
            .MuiToolbar-gutters {
                max-width: 37rem;
                margin: 0 auto;
            }
        }
    }
}