[data-style-id="list-view"] {
    table {
        thead {
            background-color: $color-blue;
            th {
                font-family: $font-Montserrat;
                font-size: $small;
                color: $color-white;
            }
        }
        tbody {
            tr {
                th,
                td {
                    div {
                        font-family: $font-Montserrat;
                    }
                }
            }
        }
    }
}