[data-style-tag="mui"] .blank-message {
  padding: 5rem!important;
  color: $color-dove!important;
  span {
    &:nth-child(2) {
      font-family: $font-Montserrat;
      font-size: 1.8rem;
    }
  }
  .fa {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }
}
