.MuiPaper-rounded {
    border-radius: 0 !important;
}

header.MuiPaper-elevation4 {
    background: #fff !important;
    box-shadow: none !important;
}

.popupContent {
    font-family: $font-Roboto;
    font-size: 1.6rem;
}

.popupHead {
    color: $color-black-text;
    margin-bottom: 2rem;
}

ul.popupList {
    list-style: none;
    margin-top: 2rem;
    li {
        padding: 0.5rem 0;
        margin: 1rem;
        &::before {
            content: "•";
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            position: absolute;
            font-size: 1.7rem;
            left: 0.8rem;
            color: $color-secondary;
        }
    }
}

ul.confPts {
    list-style-type: none;
    li {
        font-family: roboto;
        font-size: 1.6rem;
        font-weight: 100;
        &::before {
            content: "•";
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            position: absolute;
            font-size: 1.7rem;
            left: 2rem;
            color: $color-secondary;
        }
    }
}

ul.pwd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    list-style-type: disc;
    li {
        font-family: roboto;
        font-size: 1.6rem;
        font-weight: 100;
        &::marker {
           
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            position: absolute;
            font-size: 1.7rem;
            color: $color-secondary;
        } 
    }
}

.MuiDialog-paper.MuiDialog-paperScrollPaper {
    height: max-content;
    margin: 2rem;
    min-height: 10rem;
    [data-style-id="modal-dialog"]{
        position: relative !important;
    }
}

/* Quick Quote Overlays*/

[data-style-actor-name="CheckEligibilityPopUp"].actor-wrapper{
    [data-style-id="static-content"]{
        .popupContent{
            margin: 0 2rem;
            h4.popupHead{
                font-family: $font-Montserrat;
                margin-top: 0;
            }
            .popupBodyContent{
                .popupList{
                    li{
                        margin:1.5rem 2rem;
                        padding: 0;
                        &::before{
                            left: 2rem;
                        }
                    }
                }
            }
        }
    }
}
[data-style-actor-name="FeesChargesPopUp"].actor-wrapper{
    [data-style-id="static-content"]{
        height: auto !important;
        margin: 0 1.5rem 2rem!important;
        .MuiTypography-root{
            div:first-child{
                margin-bottom: 2.5rem;
                font-family: $font-Montserrat;
                h3{
                    margin-top: 0;
                    font-size: 2rem;
                }
            }
            .popupContent{
                .popupHead{
                    margin-bottom: .7rem;
                    font-size: 1.6rem;
                }
                .popupBodyContent{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
[data-style-actor-name="LoanTypePopUp"].actor-wrapper{
    margin: 0 1rem;
    [data-style-id="static-content"]{
        .MuiTypography-root{
            div:first-child{
                margin-bottom: 2.5rem;
                h3{
                    margin-top: 0;
                    font-size: 2rem;
                    font-family: $font-Montserrat;
                }
                .subClass{
                    font-size: 1.6rem;
                }
            }
            .popupContent{
                margin-bottom: 1.5rem;
                .popupHead{
                    margin-bottom: 1rem;
                }
                .popupBodyContent{
                    .popupList{
                        margin-top: 1rem;
                        li{
                            margin: 0 1rem 0 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
[data-style-actor-name="fillStreetNoPopUp"].actor-wrapper{
    .MuiPaper-root{
        h1.title{
            text-align: center;
            margin-bottom: 0;
            margin-top: 0;
        }
        >div{
            &:nth-child(1){
                margin-bottom: 2rem;
            }
            &:nth-child(2){
                display: none;       
            }
        }
    }
}

/* Quick Quote Overlays - For desktop (A new div element with fixed height is added in HTML DOM for data client desktop. Just set the height of that
div element to auto, and set the height of popup actor as per requirement.*/

[data-style-id="modal-dialog"][data-client="desktop"]{
    >div{
        min-height: auto !important;
        height: max-content !important;
        [data-style-actor-name="CheckEligibilityPopUp"].actor-wrapper{
            height: 29rem !important;
        }
    }
}
[data-style-id="modal-dialog"]{
    position: relative !important;
}

/* App flow Overlays */
[data-style-actor-name="ConfirmIdentityPopup"].actor-wrapper{
    [data-style-id="division"]{
        height: 100% !important;
        margin: 0 !important;
        [data-style-actor-name="ConfirmIdentityStaticContent"].actor-wrapper{
            [data-style-id="static-content"]{
                margin: 0 !important;
                padding: 0 1.5rem 2rem;
                .popupContent{
                    h4.popupHead{
                        font-family: $font-Montserrat;
                        font-size: 1.6rem;
                        margin-top: 0;
                    }
                    .popupBodyContent{
                        font-size: 1.4rem;
                        div:first-child{
                            p{
                                &:not(:last-child){
                                    margin-bottom: 2rem;
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .popupList{
                            margin-top: 0;
                            li{
                                margin: 0 0 0 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
[data-style-actor-name="ApplcationPopup"].actor-wrapper{
    [data-style-id="division"]{
        margin: 0 !important;
        height: 100% !important;
        width: 100% !important;
        [data-style-actor-name="IDdocCheckStaticContent"].actor-wrapper{
            [data-style-id="static-content"]{
                margin: 0 !important;
                padding: 0 1.5rem 1rem;
                .MuiTypography-root{
                    h4{
                        font-family: $font-Montserrat;
                        font-size: 1.6rem;
                        margin-top: 0;
                    }
                    div{
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}
[data-style-actor-name="UnderwritingWait"].actor-wrapper{
    .appFlexVertical{
        [data-style-actor-name="UnderwritingWaitContent"].actor-wrapper{
            height: 100% !important;
            .MuiPaper-root{
                height: 70%;
                .MuiToolbar-root{
                    height: 100%;
                    [data-style-id="title"]{
                        text-align: center;
                        margin: 0 !important;
                        span{
                            font-family: $font-Roboto;
                            line-height: initial;
                            &:first-child{
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Quick Quote Overlays - For desktop (A new div element with fixed height is added in HTML DOM for data client desktop. Just set the height of that div element to auto, and set the height of popup actor as per requirement.*/

[data-style-id="modal-dialog"][data-client="desktop"]{
    >div{
        min-height: auto !important;
        height: max-content !important;
        min-width: auto !important;
        [data-style-actor-name="ApplcationPopup"].actor-wrapper{
            width: 40rem;
            height: 17rem !important;
        }
    }
}