#menuBarBtn,
#userActionBtn,
#userBtn {
  div.MuiPopover-paper {
    background-color: $color-blue;
    li.MuiButtonBase-root {
      span {
        color: $color-white;
        font-size: 1.8rem;
        @media (max-width: $iphone12-pro-max) {
          font-size: 1.5rem;
        }
        span.fa {
          margin-right: 1rem;
        }
        span.user-text {
          font-family: $font-Montserrat;
        }
      }
    }
  }
}
#menuBarBtn {
  div.MuiPopover-paper {
    top: 9rem !important;
    background-color: $color-dove;
    height: 100vh;
    right: 0;
    border-radius: 0;
    li.MuiButtonBase-root {
      @media (max-width: $iphone12-pro-max) {
        min-height: auto;
      }
      > span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 4.5rem;
          height: 4.5rem;
        }
        span.user-text {
          color: $color-charcoal;
        }
      }
    }
    [data-style-action-name="userLogoutBtn"] {
      span.fa {
        font-size: 4rem;
        color: $color-blue;
        margin: 0rem 0 0 1rem;
      }
    }
  }
}
[data-style-id="address-suggestions"]{
  background-size: 7rem;
}
