[data-style-id="grid-container"] {
    [data-style-id="field"].radiobuttons {
        outline: none !important;
        fieldset.MuiFormControl-root {
            outline: none !important;
            padding-top: 1.5rem;
            div.MuiFormGroup-root {
                outline: none !important;
                div.MuiGrid-root.MuiGrid-container {
                    margin: 0;
                    outline: none !important;
                    div.MuiGrid-root.MuiGrid-item {
                        label {
                            span.MuiButtonBase-root {
                                padding: 0;
                                border: 0.2rem solid $color-inactive;
                                background: transparent;
                                border-radius: 0.3rem;
                                width: 100%;
                                height: 4.8rem;
                                &.Mui-checked {
                                    border: 2px solid $color-primary;
                                    background: $color-tertiary;
                                }
                                span.MuiIconButton-label {
                                    div {
                                        opacity: 0;
                                    }
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                            span.MuiTypography-root {
                                margin-top: 0rem;
                                height: fit-content;
                                color: $color-charcoal;
                                font-size: 1.4rem;
                                z-index: 9;
                                font-family: $font-Montserrat;
                                position: absolute;
                                display: block;
                                width: 100%;
                                line-height: 0 !important;
                                li.MuiListItem-root {
                                    padding: 0;
                                    div.MuiListItemText-root {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        width: 12rem;
                                        span.MuiTypography-root {
                                            display: block;
                                            text-align: center;
                                            width: 12rem;
                                            font-family: $font-Roboto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}