[data-style-id="steps"] {
    div.MuiPaper-root {
        margin: 0 1.4rem;
        padding: 0;
        box-shadow: none;
        div.MuiStep-horizontal {
            padding: 0;
            span.MuiStepLabel-horizontal.MuiStepLabel-root {
                span.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel {
                    display: none;
                }
                span.MuiStepLabel-labelContainer {
                    height: 2rem;
                    span.MuiTypography-root {
                        display: block;
                        margin-top: 0;
                        height: 2rem;
                        @extend %flex_row;
                        justify-content: center;
                        align-items: center;
                        padding: 0 0.4rem !important;
                        &::before {
                            padding: 0rem;
                            font-size: $extra-small;
                            color: #fff;
                            top: 0.2rem;
                            position: relative;
                        }
                        span {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        div.MuiStepConnector-root {
            display: none;
            span {
                display: none;
            }
        }
    }
}

span.MuiStepLabel-horizontal.MuiStepLabel-root {
    span.MuiStepLabel-labelContainer {
        span.MuiTypography-root.MuiStepLabel-active,
        span.MuiTypography-root.MuiStepLabel-completed {
            background: $color-primary;
        }
    }
}

span.MuiStepLabel-horizontal.MuiStepLabel-root.Mui-disabled {
    span.MuiStepLabel-labelContainer {
        span.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
            padding: 0 0.4rem;
            background: #f2f2f2;
        }
    }
}

[data-style-actor-name="LPUParentStep"].actor-wrapper {
    >[data-style-actor-name="LPUParentStep"] {
        margin: 0 !important;
        padding: 0 !important;
        >div {
            >[data-style-id="steps"] {
                >.MuiStepper-root.MuiStepper-horizontal {
                    display: none;
                }
            }
        }
    }
}

[data-style-actor-name="LPURateParentStep"] {
    margin: 0;
    padding: 0;
    .MuiStepper-root.MuiStepper-horizontal {
        display: none;
    }
    [data-style-id="tab-step-body"] {
        bottom: 1rem;
    }
}