div.MuiTabs-root {
    background-color: $color-dove;
    span.MuiTabs-indicator {
        display: none;
    }
    button {
        border-right: none;
        margin-right: 1rem;
        margin-top: 3rem;
        border-radius: 0.8rem;
        min-width: 24rem;
        padding: .5rem 1rem;
        &:hover {
            background-color: $color-hover-tab;
        }
        span.MuiTab-wrapper {
            align-items: flex-start;
            span {
                span {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: $color-charcoal;
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    @media (max-width: $width-large) {
                        font-size: 1.4rem;
                    }
                    img {
                        width: 4.5rem;
                        height: 4.5rem;
                    }
                    span.text {
                        font-family: $font-Montserrat;
                        margin-left: 1rem;
                        @media (max-width: $width-tab) {
                            margin-left: 1rem;
                        }
                        @media (max-width: $width-medium) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    button:focus {
        background-color: $color-bright-yellow !important;
    }
    button.Mui-selected {
        background-color: $color-bright-yellow;
        padding: 0.5rem 1rem;
        span.MuiTab-wrapper {
            span {
                span {
                    color: $color-charcoal;
                }
            }
        }
    }
}

[data-style-actor-name="userLoanDetailsTabPanel"] {
    padding: 0;
    border-style: none;
    div.MuiTabs-root {
        background-color: $color-white;
        span.MuiTabs-indicator {
            display: block;
            background-color: $color-gold;
        }
        button {
            min-width: 25%;
            span.MuiTab-wrapper {
                span {
                    span {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        button.Mui-selected {
            background: linear-gradient(145deg, #ffffff, #e6e6e6);
            box-shadow: 7px 7px 11px #ebebeb, -7px -7px 11px #ffffff;
        }
    }
}

[data-style-stage-name="DashboardStage"] {
    [data-style-actor-name="ClsLayoutTwoMain"] {
        height: 100%;
        [data-style-id="division"] {
            height: 100%;
            [data-style-actor-name="ClsLayoutTwoBody"].actor-wrapper {
                height: 100%;
                [data-style-id="division"] {
                    height: 100%;
                    [data-style-id="division"] {
                        height: 100%;
                        [data-style-actor-name="dashboardTabsPanel"].actor-wrapper {
                            height: 100%;
                            [data-style-id="tab-step-container"] {
                                height: 100%;
                                >div {
                                    height: 100%;
                                    [data-style-id="tabs"] {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}