*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  // This defines what 1 rem is
  font-size: 62.5% !important;
}
select,
textarea,
input[type="text"],
input[type="password"] {
  @media (min-width: $iphone6s-width) and (max-width: $iphone12-pro-max) {
    font-size: 16px;
  }
}
body {
  box-sizing: border-box;
}
*[navigate] {
  cursor: pointer;
}

body {
  div[data-style-id="app"] {
    a {
      text-decoration: underline;
    }
    div[data-style-id="static-content"] {
      padding: 0;
    }
    .MuiSnackbar-root{
      .MuiSnackbarContent-action{
        .MuiIconButton-label{
          &::after{
            content: "\00d7";
            color: #fff;
            font-size: 2.5rem;
          }
          span{
            display: none;
          }
        }
      }
    }
  }
  [data-style-id="app"]
    [data-style-actor-name]:not([data-style-actor-name^="ClsLayout"]):not([data-style-actor-name^="ClsAppLayout"]):not([data-style-actor-name^="ClsPhoneLayout"]).actor-wrapper.contains-container {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  [data-style-id="app"]
    [data-style-actor-name]:not([data-style-actor-name^="ClsLayout"]):not([data-style-actor-name^="ClsAppLayout"]):not([data-style-actor-name^="ClsPhoneLayout"]).actor-wrapper.contains-component {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  [data-style-id="base-panel"] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: unset;
    div {
      outline: none;
    }
  }
  [data-style-id="app"],
  [data-style-id="app-content"],
  [data-style-actor-name="Container"]{
    height: 100%;
  }
  [data-style-actor-name="Container"]{
    display: flex;
    flex-direction: column;
  }
}

.MuiTypography-body1 {
  font-weight: $light !important;
  font-size: $small;
}
[data-style-actor-name="LPUTagIframe"],
[data-style-actor-name="LPUTMX"],
[data-style-actor-name="LPUTMXIframe"]{
  position: absolute !important;
  top: -999rem;
}
[data-style-actor-name="OTPStepsContainer"].portal-editor{
  [data-style-actor-name="LPUEmailVerification"],
  [data-style-actor-name="LPUMobileVerification"]{
    min-height: 5rem;
  }
}