/* DEV */


/*@font-face {
    font-family: 'Nexa Light';
    src: url('https://devsb-sympleloanscanada.cs191.force.com/resource/Nexa/NexaFonts/Nexa_Light.otf?orgId=00D7j0000008q53') format('opentype');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('https://devsb-sympleloanscanada.cs191.force.com/resource/Nexa/NexaFonts/Nexa_Bold.otf?orgId=00D7j0000008q53') format('opentype');
}*/


/* UAT */

// @font-face {
//     font-family: 'Montserrat';
//     src: url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
// }
// @font-face {
//     font-family: 'Montserrat';
//     src: url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
// }
// @font-face {
//     font-family: 'Montserrat';
//     src: url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.eot');
//     src: url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
//         url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
//         url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.woff') format('woff'),
//         url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
//         url('https://sympleloans--auto--c.visualforce.com/resource/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Montserrat';
//     src: url('/resource/Montserrat/Montserrat-SemiBold.eot');
//     src: url('/resource/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
//         url('/resource/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
//         url('/resource/Montserrat/Montserrat-SemiBold.woff') format('woff'),
//         url('/resource/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
//         url('/resource/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

/* PROD */


/*@font-face {
    font-family: 'Nexa Light';
    src: url('https://portal.sympleloans.ca/resource/Nexa/NexaFonts/Nexa_Light.otf?orgId=00D7j0000008q53') format('opentype');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('https://portal.sympleloans.ca/resource/Nexa/NexaFonts/Nexa_Bold.otf?orgId=00D7j0000008q53') format('opentype');
}*/