// @import url('https://sympleloans--auto--c.visualforce.com//resource/Montserrat/Montserrat/Montserrat-SemiBold.ttf');
body {
    @extend %body_text;
    line-height: 1.7;
    padding: 3rem;
}

body #app {
    @extend %body_text;
    line-height: normal;
}