%h1_title_bold_large {
    font-family: $font-Montserrat;
    font-size: $large;
    text-align: center;
    color: $color-black-text;
    width: 100%;
}

%h2_title_small {
    font-family: $font-Montserrat;
    font-size: $small;
    text-align: center;
}

%h3_title {
    flex-grow: 1;
    position: relative;
    width: 100%;
    padding: 0;
    font-size: $large;
    font-family: $font-Montserrat;
    text-align: center;
    margin: 2rem;
}

%body_text {
    color: $color-charcoal;
    font-family: $font-Montserrat;
    font-weight: 400;
    font-size: $medium;
}

%error_message {
    font-family: $font-Montserrat;
    color: $trash-icon-color;
    font-size: $small;
    text-align: center;
}

%flex_row {
    display: flex;
    flex-direction: row;
}

%flex_column {
    display: flex;
    flex-direction: column;
}

%step_style {
    margin-right: 0.1rem;
    padding: 0.4rem;
    &::before {
        content: "";
        margin-right: 0.1rem;
        width: 3.8rem;
    }
}


/*
%application_page_with_radio_button {
    //width: 100% !important;
    div.record-content {
        padding: 0 !important;
        div.section {
            @extend %flex_row;
            justify-content: center;
            [data-style-id="field"].radiobuttons {
                margin-top: 4rem;
                padding: 0;
                &:focus {
                    outline: none !important;
                }
                fieldset.MuiFormControl-root {
                    padding: 0;
                    outline: none !important;
                    legend {
                        display: none;
                    }
                    div.MuiFormGroup-root {
                        div.MuiGrid-root.MuiGrid-container {
                            @extend %flex_row;
                            width: inherit;
                            justify-content: center;
                            display: grid;
                            grid-gap: 0.5rem;
                            grid-template-columns: 12rem 12rem 12rem 12rem;
                            @media screen and (max-width: $width-721) {
                                grid-template-columns: 11rem 11rem 11rem 11rem;
                            }
                            @media screen and (max-width: $width-651) {
                                grid-template-columns: 9rem 9rem 9rem 9rem;
                            }
                            @media screen and (max-width: $width-491) {
                                grid-template-columns: 8rem 8rem 8rem 8rem;
                            }
                            div.MuiGrid-root.MuiGrid-item {
                                padding: 0;
                                width: 12rem;
                                height: 12rem;
                                @media screen and (max-width: $width-721) {
                                    width: 11rem;
                                    height: 11.5rem;
                                }
                                @media screen and (max-width: $width-651) {
                                    width: 9rem;
                                    height: 11rem;
                                }
                                @media screen and (max-width: $width-491) {
                                    width: 7rem;
                                    height: 9rem;
                                }
                                label {
                                    margin: 0;
                                    span.MuiButtonBase-root {
                                        //background-size: 3.5rem 4.5rem;
                                        width: 12rem;
                                        height: 12rem;
                                        background-position: 3.4rem 1rem;
                                        background-size: 5rem 6rem;
                                        @media screen and (max-width: $width-721) {
                                            width: 11rem;
                                            height: 11.5rem;
                                        }
                                        @media screen and (max-width: $width-651) {
                                            width: 9rem;
                                            height: 11rem;
                                            background-size: 4rem 5rem;
                                            background-position: 2.5rem 1.5rem;
                                        }
                                        @media screen and (max-width: $width-491) {
                                            background-size: 3rem 4rem;
                                            width: 8rem;
                                            height: 9rem;
                                            background-position: 1.8rem 1rem;
                                        }
                                        span.MuiIconButton-label {
                                            &::after {
                                                top: 6.5rem;
                                            }
                                        }
                                    }
                                    span.MuiTypography-root {
                                        width: 12rem;
                                        @media screen and (max-width: $width-721) {
                                            width: 11rem;
                                        }
                                        @media screen and (max-width: $width-651) {
                                            width: 9rem;
                                        }
                                        @media screen and (max-width: $width-491) {
                                            width: 8rem;
                                        }
                                        li.MuiListItem-root {
                                            div.MuiListItemText-root {
                                                width: 12rem;
                                                @media screen and (max-width: $width-721) {
                                                    width: 11rem;
                                                }
                                                @media screen and (max-width: $width-651) {
                                                    width: 9rem;
                                                }
                                                @media screen and (max-width: $width-491) {
                                                    width: 8rem;
                                                }
                                                span.MuiTypography-root {
                                                    width: 12rem;
                                                    @media screen and (max-width: $width-721) {
                                                        width: 11rem;
                                                    }
                                                    @media screen and (max-width: $width-651) {
                                                        width: 9rem;
                                                    }
                                                    @media screen and (max-width: $width-491) {
                                                        width: 8rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
*/

%next_button_container {
    @extend %flex_row;
    justify-content: space-between;
    width: calc(100% - 12rem);
    margin: 8rem 1rem 0 6rem;
    padding: 0;
}


/*
%standard_radio_button_field {
    fieldset {
        padding: 0 !important;
        legend {
            font-size: 1.4rem;
            font-family: $font-Montserrat;
            padding-bottom: 2rem;
            span {
                display: none;
            }
        }
        div.MuiFormGroup-root {
            width: inherit;
            padding-left: 1rem;
            position: relative;
            div.MuiGrid-container {
                width: inherit;
                div.MuiGrid-item {
                    padding: 0;
                    max-width: fit-content;
                    margin-left: 0.8rem;
                    label {
                        margin: 0;
                        span.MuiButtonBase-root {
                            width: auto;
                            height: auto;
                            border: none;
                            span.MuiIconButton-label {
                                >div {
                                    opacity: 1;
                                }
                            }
                        }
                        span.MuiTypography-root {
                            display: contents !important;
                            li {
                                padding: 0;
                                div.MuiListItemText-root {
                                    font-family: "Montserrat", sans-serif;
                                    justify-content: flex-start !important;
                                    span.MuiTypography-root {
                                        display: contents !important;
                                        font-family: "Montserrat", sans-serif;
                                    }
                                }
                            }
                        }
                        span.MuiButtonBase-root.Mui-checked {
                            border: none;
                            span.MuiIconButton-label {
                                >div {
                                    svg.MuiIconButton-label {
                                        fill: #333333;
                                    }
                                    svg.MuiSvgIcon-root {
                                        fill: #333333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
*/

%selectbuttons_as_standard_radiobutton_style {
    div.MuiFormControl-root {
        label {
            display: none;
        }
        ul {
            div.MuiGrid-container {
                div.MuiGrid-item {
                    div.selectButton {
                        border-color: transparent;
                        &::before {
                            content: "";
                            width: 1rem;
                            height: 1rem;
                            border: 1px solid $color-gold;
                            border-radius: 50%;
                            background-color: $color-gold;
                            position: absolute;
                            left: 2.1rem;
                            display: none;
                        }
                        &::after {
                            content: "";
                            width: 2rem;
                            height: 2rem;
                            border: 1px solid $color-charcoal;
                            border-radius: 50%;
                            position: absolute;
                        }
                        div.MuiListItemText-root {
                            padding: 0 0 0 3rem;
                            span {
                                display: block !important;
                                font-family: $font-Montserrat;
                            }
                        }
                        &.Mui-selected {
                            background-color: transparent;
                            &::after {
                                border: 1px solid $color-gold;
                                background-color: $color-gold;
                            }
                        }
                    }
                }
            }
        }
    }
}

%doc_upload_card_view {
    div.MuiGrid-item {
        border: 1px solid #ececec;
        margin-bottom: 2rem;
    }
    [data-style-id="card-view-value-entry"] {
        flex-direction: column;
        [data-style-id="field-label"] {
            font-family: $font-Montserrat;
            font-size: 1.6rem;
        }
        [data-style-id="card-view-value"] {
            font-family: $font-Montserrat;
            font-size: 1.6rem;
            text-align: left;
            background-color: $color-border;
            padding: 0.5rem 1.5rem;
            border-radius: 1.8rem;
            width: fit-content;
            color: $color-blue;
        }
    }
    [data-style-id="card-actions"] {
        padding: 0;
        [data-style-action-name="deleteDocBtn"] {
            background-color: $color-border;
            padding: 0.7rem;
            span.material-icons {
                color: $trash-icon-color;
            }
        }
        [data-style-action-name="ViewDocBtn"] {
            background-color: $color-border;
            padding: 0.7rem;
            span.material-icons {
                color: $color-bright-blue;
            }
        }
    }
}

%decline_message {
    div.failed-text {
        >div {
            &:nth-child(1) {
                @extend %h1_title_bold_large;
            }
            &:nth-child(2) {
                @extend %body_text;
                text-align: left;
                padding-top: 2rem;
            }
        }
        p {
            @extend %body_text;
            text-align: left;
            padding-top: 2rem;
        }
        div.loanConnect {
            margin-bottom: 2rem;
            span {
                background-color: $color-charcoal;
                //padding: 0.4rem 2.2rem;
                padding: 0.9rem 2.6rem;
                width: 20.5rem;
                color: $color-white;
                font-family: $font-Montserrat;
                font-size: $large;
                border-radius: 0.7rem;
            }
        }
    }
}


/*
%responsive_progressbar_header{
  width: calc(100% - 80rem)!important;
  max-width: 90rem;
  @media screen and (max-width: $width-dell) {
    width: calc(100% - 80rem)!important;
  }
  @media screen and (max-width: $width-monitor-9) {
    //1680
    width: calc(100% - 69rem)!important;
  }
  @media screen and (max-width: $width-1660) {
    //1660
    width: calc(100% - 68rem)!important;
  }
  @media screen and (max-width: $width-1649) {
    //1649
    width: calc(100% - 67rem)!important;
  }
  @media screen and (max-width: $width-1628) {
    //1628
    width: calc(100% - 66rem)!important;
  }
  @media screen and (max-width: $width-1609) {
    //1609
    width: calc(100% - 65rem)!important;
  }
  @media screen and (max-width: $width-1589) {
    //1589
    width: calc(100% - 64rem)!important;
  }
  @media screen and (max-width: $width-1576) {
    //1576
    width: calc(100% - 63rem)!important;
  }
  @media screen and (max-width: $width-1556) {
    //1556
    width: calc(100% - 62rem)!important;
  }
  @media screen and (max-width: $width-1533) {
    //1533
    width: calc(100% - 61rem)!important;
  }
  @media screen and (max-width: $width-1521) {
    //1521
    width: calc(100% - 60rem)!important;
  }
  @media screen and (max-width: $width-1493) {
    //1493
    width: calc(100% - 59rem)!important;
  }
  @media screen and (max-width: $width-1469) {
    //1469
    width: calc(100% - 58rem)!important;
  }
  @media screen and (max-width: $width-1458) {
    //1458
    width: calc(100% - 57rem)!important;
  }
  @media screen and (max-width: $width-1431) {
    //1431
    width: calc(100% - 56rem)!important;
  }
  @media screen and (max-width: $width-1421) {
    //1421
    width: calc(100% - 55rem)!important;
  }
  @media screen and (max-width: $width-1400) {
    //1400
    width: calc(100% - 54rem)!important;
  }
  @media screen and (max-width: $width-1381) {
    //1381
    width: calc(100% - 53rem)!important;
  }
  @media screen and (max-width: $width-1350) {
    //1350
    width: calc(100% - 52rem)!important;
  }
  @media screen and (max-width: $width-1324) {
    //1324
    width: calc(100% - 51rem)!important;
  }
  @media screen and (max-width: $width-1309) {
    //1309
    width: calc(100% - 50rem)!important;
  }
  @media screen and (max-width: $width-1290) {
    //1290
    width: calc(100% - 49rem)!important;
  }
  @media screen and (max-width: $width-large-screen1) {
    //1280
    width: calc(100% - 48rem)!important;
  }
  @media screen and (max-width: $width-1256) {
    //1256
    width: calc(100% - 47rem)!important;
  }
  @media screen and (max-width: $width-1235) {
    //1235
    width: calc(100% - 46rem)!important;
  }
  @media screen and (max-width: $width-1216) {
    //1216
    width: calc(100% - 45rem)!important;
  }
  @media screen and (max-width: $width-1200) {
    //1200
    width: calc(100% - 44rem)!important;
  }
  @media screen and (max-width: $width-1181) {
    //1181
    width: calc(100% - 43rem)!important;
  }
  @media screen and (max-width: $width-1160) {
    //1160
    width: calc(100% - 42rem)!important;
  }
  @media screen and (max-width: $width-large-screen2) {
    //1150
    width: calc(100% - 41rem)!important;
  }
  @media screen and (max-width: $width-1121) {
    //1121
    width: calc(100% - 40rem)!important;
  }
  @media screen and (max-width: $width-1100) {
    //1100
    width: calc(100% - 39rem)!important;
  }
  @media screen and (max-width: $width-1076) {
    //1076
    width: calc(100% - 38rem)!important;
  }
  @media screen and (max-width: $width-1061) {
    //1061
    width: calc(100% - 37rem)!important;
  }
  @media screen and (max-width: $width-1041) {
    //1041
    width: calc(100% - 36rem)!important;
  }
  @media screen and (max-width: $width-1011) {
    //1011
    width: calc(100% - 35rem)!important;
  }
  @media screen and (max-width: $width-995) {
    //995
    width: calc(100% - 34rem)!important;
  }
  @media screen and (max-width: $width-980) {
    //980
    width: calc(100% - 33rem)!important;
  }
  @media screen and (max-width: $width-961) {
    //961
    width: calc(100% - 32rem)!important;
  }
  @media screen and (max-width: $width-941) {
    //941
    width: calc(100% - 31rem)!important;
  }
  @media screen and (max-width: $width-916) {
    //916
    width: calc(100% - 30rem)!important;
  }
  @media screen and (max-width: $width-904) {
    //906
    width: calc(100% - 29rem)!important;
  }
  @media screen and (max-width: $width-885) {
    //885
    width: calc(100% - 28rem)!important;
  }
  @media screen and (max-width: $width-853) {
    //853
    width: calc(100% - 27rem)!important;
  }
  @media screen and (max-width: $width-841) {
    //841
    width: calc(100% - 26rem)!important;
  }
  @media screen and (max-width: $width-825) {
    //825
    width: calc(100% - 25rem)!important;
  }
  @media screen and (max-width: $width-809) {
    //809
    width: calc(100% - 24rem)!important;
  }
  @media screen and (max-width: $width-776) {
    //776
    width: calc(100% - 23rem)!important;
  }
  @media screen and (max-width: $width-761) {
    //761
    width: calc(100% - 22rem)!important;
  }
  @media screen and (max-width: $width-745) {
    //745
    width: calc(100% - 21rem)!important;
  }
  @media screen and (max-width: $width-700) {
    //700
    width: calc(100% - 19rem)!important;
  }
  @media screen and (max-width: $width-676) {
    //676
    width: calc(100% - 18rem)!important;
  }
  @media screen and (max-width: $width-medium-screen) {
    //641
    width: calc(100% - 17rem)!important;
  }
  @media screen and (max-width: $width-630) {
    //630
    width: calc(100% - 16rem)!important;
  }
  @media screen and (max-width: $width-breakpoint3) {
    //600
    width: calc(100% - 15rem)!important;
  }
  @media screen and (max-width: $width-595) {
    //595
    width: calc(100% - 14rem)!important;
  }
  @media screen and (max-width: $width-580) {
    //580
    width: calc(100% - 13rem)!important;
  }
  @media screen and (max-width: $width-breakpoint8) {
    //550
    width: calc(100% - 12rem)!important;
  }
  @media screen and (max-width: $width-screen-medium1) {
    //510
    width: calc(100% - 10rem)!important;
  }
  @media screen and (max-width: $width-476) {
    //476
    width: calc(100% - 9rem)!important;
  }
  @media screen and (max-width: $width-460) {
    //460
    width: calc(100% - 8rem)!important;
  }
  @media screen and (max-width: $width-breakpoint2) {
    //430
    width: calc(100% - 7rem)!important;
  }
  @media screen and (max-width: $width-breakpoint7) {
    //415
    width: calc(100% - 6rem)!important;
  }
  @media screen and (max-width: $iphoneX-width) {
    //375
    width: calc(100% - 4rem)!important;
  }
  @media screen and (max-width: $iphone-12-mini-width) {
    //360
    width: calc(100% - 3rem)!important;
  }
}
*/


/*
%responsive_dashboard_component {
    width: calc(100% - 48rem);
    @media screen and (max-width: $width-monitor-9) {
        //1680
        width: calc(100% - 36rem)!important;
    }
    @media screen and (max-width: $width-1660) {
        //1660
        width: calc(100% - 35rem)!important;
    }
    @media screen and (max-width: $width-1628) {
        //1628
        width: calc(100% - 34rem)!important;
    }
    @media screen and (max-width: $width-1609) {
        //1609
        width: calc(100% - 33rem)!important;
    }
    @media screen and (max-width: $width-1589) {
        //1589
        width: calc(100% - 32rem);
    }
    @media screen and (max-width: $width-1576) {
        //1576
        width: calc(100% - 31rem)!important;
    }
    @media screen and (max-width: $width-1556) {
        //1556
        width: calc(100% - 30rem)!important;
    }
    @media screen and (max-width: $width-1533) {
        //1533
        width: calc(100% - 29rem)!important;
    }
    @media screen and (max-width: $width-1521) {
        //1521
        width: calc(100% - 28rem)!important;
    }
    @media screen and (max-width: $width-1493) {
        //1493
        width: calc(100% - 27rem)!important;
    }
    @media screen and (max-width: $width-1469) {
        //1469
        width: calc(100% - 26rem)!important;
    }
    @media screen and (max-width: $width-1431) {
        //1431
        width: calc(100% - 25rem)!important;
    }
    @media screen and (max-width: $width-1400) {
        //1400
        width: calc(100% - 24rem)!important;
    }
    @media screen and (max-width: $width-1350) {
        //1350
        width: calc(100% - 23rem)!important;
    }
    @media screen and (max-width: $width-1309) {
        //1309
        width: calc(100% - 22rem)!important;
    }
    @media screen and (max-width: $width-large-screen1) {
        //1280
        width: calc(100% - 21rem)!important;
    }
    @media screen and (max-width: $width-1235) {
        //1235
        width: calc(100% - 20rem)!important;
    }
    @media screen and (max-width: $width-1200) {
        //1200
        width: calc(100% - 19rem)!important;
    }
    @media screen and (max-width: $width-1160) {
        //1160
        width: calc(100% - 18rem)!important;
    }
    @media screen and (max-width: $width-1121) {
        //1121
        width: calc(100% - 17rem)!important;
    }
    @media screen and (max-width: $width-1076) {
        //1076
        width: calc(100% - 16rem)!important;
    }
    @media screen and (max-width: $width-1041) {
        //1041
        width: calc(100% - 15rem)!important;
    }
    @media screen and (max-width: $width-995) {
        //995
        width: calc(100% - 14rem)!important;
    }
    @media screen and (max-width: $width-961) {
        //961
        width: calc(100% - 13rem)!important;
    }
    @media screen and (max-width: $width-916) {
        //916
        width: calc(100% - 12rem)!important;
    }
    @media screen and (max-width: $width-904) {
        //904
        width: 100%!important;
    }
}
*/