@mixin radiobutton-image($image) {
  div.MuiButtonBase-root {
      background-image: $image;
  }
}

@mixin record-content($stage) {
  div.record-content {
      @if $stage=="LoggedInLoanApplicationFlow" {
          padding: 0rem;
      }
      @else if $stage=="SlCanadaApplyBeforeLogin" {
          padding: 2rem;
      }
      div.section {
          background-color: transparent !important;
          padding: 0 0rem 3rem 0rem;
          h3 {
              @extend %h3_title;
          }
      }
  }
}

@mixin border1() {
  border-left: 4px solid $color-inactive !important;
  border-top: 4px solid $color-inactive !important;
  border-right: 4px solid $color-inactive !important;
}

@mixin border2() {
  border-left: 4px solid $color-inactive !important;
  border-bottom: 4px solid $color-inactive !important;
  border-right: 4px solid $color-inactive !important;
  margin-bottom: 20px !important;
  box-shadow: 0px 4px 6px $color-inactive !important;
}

@mixin needhelp() {
  .MuiTypography-root.MuiTypography-body1 {
    .needhelp {
      font-size: large;
      color: $color-black-text;
      margin-bottom: 2rem;
      text-align: center;
      & a {
        color: $color-black-text;
        text-decoration: none;
        b {
          font-weight: $semi-bold !important;
          font-family: $font-Montserrat;
          font-size: $medium;
        }
      }
    }
    .callbtn {
      text-align: center;
    }
    .callbtn > button {
      padding: 1rem;
      border: $color-primary solid 1px;
      color: $color-primary;
      background: $color-white;
      border-radius: 4px;
      font-family: $font-Roboto;
      font-size: $medium;
      font-weight: $font-medium;
    }
    .calldetails {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

//Default Style
@mixin radiobuttonstyle() {
  padding-top: 0 !important;
  .MuiGrid-root.MuiGrid-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    -ms-flex-flow: row;
    padding: 0 !important;
    .MuiGrid-item{
      padding: 0 !important;
      flex-basis: 49%;
      label.MuiFormControlLabel-root{
        margin: 0;
        width: 100%;
        position: relative;
        span{
          width: 100%;
        }
      }
    }
  }
}

//For Householding expenses radiobutton style
@mixin radiobuttonstyle1() {
  padding-top: 0 !important;
  .MuiGrid-root.MuiGrid-container {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;

    -ms-flex-flow: row;
    padding: 0 !important;
  }

  @media (min-width: 411px) and (max-width: 414px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -11.8rem !important;
      }
    }
  }
  @media (min-width: 361px) and (max-width: 375px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -5rem !important;
      }
    }
  }
  @media (min-width: 321px) and (max-width: 360px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -5rem !important;
      }
    }
  }
  @media only screen and (max-width: 320px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -7rem !important;
      }
    }
  }
}


//For credit card radio button
@mixin radiobuttonstyle2() {
  padding-top: 0 !important;
  .MuiGrid-root.MuiGrid-container {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;

    -ms-flex-flow: row;
    padding: 0 !important;
  }

  @media (min-width: 411px) and (max-width: 414px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -9.8rem !important;
      }
    }
  }
  @media (min-width: 361px) and (max-width: 375px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -8rem !important;
      }
    }
  }
  @media (min-width: 321px) and (max-width: 360px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -7rem !important;
      }
    }
  }
  @media only screen and (max-width: 320px) {
    .MuiGrid-root.MuiGrid-container > div:last-child {
      .MuiFormControlLabel-root {
        margin-left: -5rem !important;
      }
    }
  }
}

@mixin cardstyle() {
  margin: 0 !important;
  [data-style-id="grid-container"] {
    > .MuiGrid-root.MuiGrid-item {
      box-shadow: 0px 0px 4px #979797;
      margin: 1.4rem;
      padding: 1rem !important;
      [data-style-id="card-entry"] {
        margin: 0 !important;
        [data-style-section-name="LoanB"] {
          > .MuiGrid-root.MuiGrid-item {
            box-shadow: none !important;
            margin: 0 !important;
          }
        }

        [data-style-section-name="CreditCardSection"] {
          > .MuiGrid-root.MuiGrid-item {
            box-shadow: none !important;
            margin: 0 !important;
          }
        }

        [data-style-section-name="IncomeQuery"] {
          > .MuiGrid-root.MuiGrid-item {
            box-shadow: none !important;
            margin: 0 !important;
          }
        }
      }
      .MuiCardActions-root {
        display: flex !important;
        justify-content: flex-end !important;
        padding-bottom: 0.5rem !important;
      }
    }
  }

  .toolbar-at-bottom.MuiToolbar-gutters {
    display: flex !important;
    justify-content: center !important;
  }
}

//AddOtherLoan Mixin

@mixin AddBtn(){
    background-color: $color-white;
    border: #1a74fe solid 2px;
    border-radius: 3rem;
    height: 4.8rem;
    text-align: center;
    margin:auto !important;
    .MuiButton-label {
      span {
        color: #1a74fe;
        font-weight: $normal;
        display: flex;
        align-items: center;
      }
      span > div {
        margin-right: 5px;
      }
    }
  }

  @mixin RemoveBtn(){
    border: none !important;
    background-color: $color-white !important;
    color: $trash-icon-color;
    height: 4.8rem !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;

    & > span > span{
      display: flex;
      align-items: baseline;
      font-size: $regular;
      >div{
        margin-right: 5px;
      }
    }
  }

//Radiobutton style for desktop view
@mixin radiobuttonstyleDesktop() {
  padding-top: 0 !important;
  .MuiGrid-root.MuiGrid-container {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;

    -ms-flex-flow: row;
    padding: 0 !important;
  }
  .MuiGrid-root.MuiGrid-container > div:last-child {
    .MuiFormControlLabel-root {
      // margin-left: -17rem;
    }
  }
}