$env: dev;
//Color-Primary
$color-primary: #0046aa;
$color-secondary: #82c6ff;
$color-tertiary: #D8EDFF;
//Button colors
$color-primary-btn: #006aff;
$color-secondary-btn: transparent;
$color-tertiary-btn: #21a637;
//Additional
$color-solid-pink: #ff94ca;
$color-tint-pink: #ffdeef;
$color-link-color: #006aff;
$color-black-text: #000;
$color-sec-text: #414141;
$color-inactive: #d6d6d6;
$color-inactive-2: #c0b8b8;
$color-error: #b3000c;
$color-white: #ffffff;
$color-grey: #e5e5e5;
$color-grey-2: #e5e5e5;
$color-box-shadow:#979797;
$color-tooltip: #767676;
//unused
$color-charcoal: #333333;
$color-dove: #e6e7e8;
$color-gold: #ffe552;
$color-bright-yellow: #ffd200;
$color-hover-tab: #f4efd9;
$color-bright-blue: #32709b;
$color-blue: #37556e;
$color-dark-gray-light70: lighten($color-charcoal, 75%);
$trash-icon-color: #fa3268;
$record-action-bg-color: #ececec66;
// Range Slider
$range-handle-color: $color-gold !default;
$range-handle-color-hover: $color-gold !default;
$range-handle-size: 20px !default;
$range-track-color: #d7dcdf !default;
$range-track-height: 10px !default;
$range-label-color: #2c3e50 !default;
$range-label-width: 60px !default;
$color-border: #ececec;
$color-disclosure-li: #63B8FF;
$color-disclosure-background: #CEE6FF;
// Range Slider
$range-handle-color: $color-gold !default;
$range-handle-color-hover: $color-gold !default;
$range-handle-size: 20px !default;
$range-track-color: #d7dcdf !default;
$range-track-height: 10px !default;
$range-label-color: #2c3e50 !default;
$range-label-width: 60px !default;
$color-border: #ececec;
//Font-Family
$font-Montserrat: "Montserrat", "Roboto";
$font-Roboto: "Roboto", "Montserrat";
//Font-size
$extra-small: 1.2rem;
$regular: 1.4rem;
$small: 1.6rem;
$medium: 1.8rem;
$large: 3.2rem;
$extra-large: 2.6rem;
//font-weight
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$font-medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;

//Screen Width
$width-monitor-1: 5120px;
$width-monitor-2: 4096px;
$width-monitor-3: 3840px;
$width-monitor-4: 3000px;
$width-monitor-5: 2880px;
$width-monitor-6: 2560px;
$width-monitor-7: 2304px;
$width-monitor-8: 2160px;
$width-dell: 1920px;
$width-monitor-9: 1680px;
$width-1661: 1661px;
$width-1660: 1660px;
$width-1651: 1651px;
$width-1649: 1649px;
$width-1641: 1641px;
$width-1631: 1631px;
$width-1628: 1628px;
$width-1609: 1609px;
$width-monitor-10: 1600px;
$width-1593: 1593px;
$width-1589: 1589px;
$width-1576: 1576px;
$width-1568: 1568px;
$width-1556: 1556px;
$width-1554: 1554px;
$width-1553: 1553px;
$width-1533: 1533px;
$width-1521: 1521px;
$width-1493: 1493px;
$width-1469: 1469px;
$width-1458: 1458px;
$width-1442: 1442px;
$width-slight-big-macbook: 1441px;
$width-macbook-air: 1440px;
$width-1431: 1431px;
$width-1421: 1421px;
$width-1411: 1411px;
$width-1400: 1400px;
$width-1391: 1391px;
$width-1381: 1381px;
$width-1371: 1371px;
$width-windows-lenovo: 1366px;
$width-1359: 1359px;
$width-1352: 1352px;
$width-1350: 1350px;
$width-1338: 1338px;
$width-1331: 1331px;
$width-1324: 1324px;
$width-1311: 1311px;
$width-1309: 1309px;
$width-1292: 1292px;
$width-1290: 1290px;
$width-1281: 1281px;
$width-large-screen1: 1280px;
$width-1256: 1256px;
$width-1235: 1235px;
$width-1216: 1216px;
$width-1200: 1200px;
$width-1199: 1199px;
$width-1195: 1195px;
$width-1188: 1188px;
$width-1186: 1186px;
$width-1185: 1185px;
$width-1181: 1181px;
$width-1175: 1175px;
$width-large-screen4: 1170px;
$width-1165: 1165px;
$width-1160: 1160px;
$width-1155: 1155px;
$width-large-screen2: 1150px;
$width-1145: 1145px;
$width-1141: 1141px;
$width-1138: 1138px;
$width-1135: 1135px;
$width-1131: 1131px;
$width-1125: 1125px;
$width-1121: 1121px;
$width-1115: 1115px;
$width-1111: 1111px;
$width-1105: 1105px;
$width-1101: 1101px;
$width-1100: 1100px;
$width-1095: 1095px;
$width-1091: 1091px;
$width-1085: 1085px;
$width-1081: 1081px;
$width-1075: 1075px;
$width-1076: 1076px;
$width-1071: 1071px;
$width-1065: 1065px;
$width-1061: 1061px;
$width-1055: 1055px;
$width-1051: 1051px;
$width-1045: 1045px;
$width-1041: 1041px;
$width-1035: 1035px;
$width-1031: 1031px;
$width-1025: 1025px;
$width-large-screen3: 1024px;
$width-1021: 1021px;
$width-1015: 1015px;
$width-1011: 1011px;
$width-1005: 1005px;
$width-1001: 1001px;
$width-995: 995px;
$width-991: 991px;
$width-985: 985px;
$width-981: 981px;
$width-980: 980px;
$width-975: 975px;
$width-large: 970px;
$width-965: 965px;
$width-961: 961px;
$width-960: 960px;
$width-955: 955px;
$width-945: 945px;
$width-941: 941px;
$width-935: 935px;
$width-925: 925px;
$width-916: 916px;
$width-905: 905px;
$width-904: 904px;
$width-895: 895px;
$width-885: 885px;
$width-875: 875px;
$width-865: 865px;
$width-855: 855px;
$width-853: 853px;
$width-845: 845px;
$width-841: 841px;
$width-835: 835px;
$width-825: 825px;
$width-815: 815px;
$width-811: 811px;
$width-805: 805px;
$width-809: 809px;
$width-tab: 800px;
$width-795: 795px;
$width-791: 791px;
$width-785: 785px;
$width-776: 776px;
$width-screen1: 770px;
$width-ipad: 768px;
$width-765: 765px;
$width-761: 761px;
$width-755: 755px;
$width-745: 745px;
$width-735: 735px;
$width-725: 725px;
$width-721: 721px;
$width-719: 719px;
$width-715: 715px;
$width-705: 705px;
$width-700: 700px;
$width-695: 695px;
$width-685: 685px;
$width-676: 676px;
$width-medium: 660px;
$width-665: 665px;
$width-655: 655px;
$width-651: 651px;
$width-medium-screen: 641px;
$width-medium-screen2: 640px;
$width-630: 630px;
$width-breakpoint1: 622px;
$width-breakpoint3: 600px;
$width-599: 599px;
$width-595: 595px;
$width-580: 580px;
$width-breakpoint8: 550px;
$width-528: 528px;
$width-526: 526px;
$width-517: 517px;
$width-512: 512px;
$width-screen-medium1: 510px;
$width-508: 508px;
$width-501: 501px;
$width-desktop-minimum: 500px;
$width-breakpoint6: 496px;
$width-breakpoint4: 495px;
$width-491: 491px;
$width-486: 486px;
$width-481: 481px;
$width-galaxynote5: 480px;
$width-476: 476px;
$width-breakpoint5: 474px;
$width-breakpoint9: 473px;
$width-breakpoint: 472px;
$width-464: 464px;
$width-460: 460px;
$width-443: 443px;
$width-441: 441px;
$width-436: 436px;
$width-431: 431px;
$width-breakpoint2: 430px;
$iphone12-pro-max: 428px;
$width-421: 421px;
$width-416: 416px;
$width-breakpoint7: 415px;
$width-iphoneXSmax: 414px;
$width-samsungs10: 412px;
$width-google-pixel: 411px;
$width-406: 406px;
$width-396: 396px;
$width-393: 393px;
$iphone12-pro: 390px;
$iphoneX-width: 375px;
$iphone-12-mini-width: 360px;
$iphone6s-width: 320px;
$iphone11-width: 276px;
$max-width: 110rem;
